<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.console.lottery.mapper.UseRecordMapper" >
  <resultMap id="BaseResultMap" type="com.cxdai.console.lottery.vo.UseRecord"  extends="com.cxdai.console.base.mapper.BaseUseRecordMapper.BaseResultMap"  >
        <result column="userName" property="userName" jdbcType="VARCHAR" />
        <result column="goodName" property="goodName" jdbcType="VARCHAR" />
        <result column="activeName" property="activeName" jdbcType="VARCHAR" />
        <result column="registerTime" property="registerTime" jdbcType="VARCHAR" />
        <result column="registerSource" property="registerSource" jdbcType="VARCHAR" />
        <result column="rechargereTotal" property="rechargereTotal" jdbcType="VARCHAR" />
        <result column="collection" property="collection" jdbcType="VARCHAR" />
        <result column="deal_user" property="dealUserName" jdbcType="VARCHAR" />
        <result column="deal_time" property="dealTime"  />
  </resultMap>
  
   <select id="queryListUseRecordByCnd"    parameterType="com.cxdai.console.lottery.vo.UseRecordCnd"    resultMap="BaseResultMap"   >
		 SELECT  ur.*, rm.USERNAME  userName   ,LOTTERY_GOODS_NAME  goodName ,ur.AWARD_TYPE,cri.NAME activeName  ,ur.ADD_TIME,lgsi.deal_user,lgsi.deal_time    FROM   t_lottery_use_record ur LEFT JOIN  t_lottery_chance_info ci ON ur.LOTTERY_ID=ci.ID  LEFT JOIN  t_lottery_chance_rule_info cri ON  ci.LOTTERY_CHANCE_RULE_INFO_ID=cri.ID
		  LEFT JOIN  rocky_member rm  ON  ur.USER_ID=rm.ID  LEFT  JOIN  t_lottery_goods_send_info lgsi
          ON ur.ID = lgsi.LOTTERY_USE_RECORD_ID
		   <include refid="useRecordWhere"/>
		    order  by  add_time  desc   
	</select>
	
	 <select id="queryCountUseRecordByCnd"    parameterType="com.cxdai.console.lottery.vo.UseRecordCnd"    resultType="java.lang.Integer"   >
		  SELECT   count(1)  FROM   t_lottery_use_record ur LEFT JOIN  t_lottery_chance_info ci ON ur.LOTTERY_ID=ci.ID  LEFT JOIN  t_lottery_chance_rule_info cri ON  ci.LOTTERY_CHANCE_RULE_INFO_ID=cri.ID
		  LEFT JOIN  rocky_member rm  ON  ur.USER_ID=rm.ID   
		   <include refid="useRecordWhere"/>
	</select>
	
  
  <select id="queryUseRecordStatic"  parameterType="com.cxdai.console.lottery.vo.UseRecordCnd"  resultType="com.cxdai.console.lottery.vo.UseRecordStatic"  >
	  SELECT 
		(SELECT IFNULL(SUM(lci.LOTTERY_NUM),0) FROM t_lottery_chance_info lci, t_lottery_chance_rule_info lri 
		WHERE lci.LOTTERY_CHANCE_RULE_INFO_ID = lri.ID
		<if test="beginDate != null">
		AND lci.ADD_TIME <![CDATA[ >= ]]> #{beginDate}
		</if>
		<if test="endDate != null">
		AND lci.ADD_TIME <![CDATA[ <= ]]> #{endDate}
		</if>
		<if test="userName != null and userName !=''">
		AND lci.USERNAME = trim(#{userName}) 
		</if>
		<if test="awardSource != null and awardSource != 0">
		AND lri.CODE = trim(#{awardSource})
		</if>
		) as chanceSendNum,
		(SELECT count(lur.id) 
		FROM t_lottery_use_record lur, t_lottery_chance_info lci, t_lottery_chance_rule_info lri, rocky_member m
		WHERE lur.USER_ID = m.ID 
		AND lur.LOTTERY_ID = lci.ID AND lci.LOTTERY_CHANCE_RULE_INFO_ID = lri.ID
		<if test="beginDate != null">
		AND lur.ADD_TIME <![CDATA[ >= ]]> #{beginDate} 
		</if>
		<if test="endDate != null">
		AND lur.ADD_TIME <![CDATA[ <= ]]> #{endDate} 
		</if>
		<if test="userName != null and userName !=''">
		AND m.username = trim(#{userName}) 
		</if>
		<if test="awardSource != null and awardSource != 0">
		AND lri.CODE = trim(#{awardSource})
		</if>
		<if test="awardType != null and awardType != 0">
	  	  and lur.AWARD_TYPE =#{awardType}
	    </if>
	    <if test="lotteryGoodsName != null and lotteryGoodsName != ''">
	  	  and lur.LOTTERY_GOODS_NAME = #{lotteryGoodsName}
	    </if>
		) as chanceSendedNum,
		
		(SELECT IFNULL(SUM(lur.AWARD_MONEY),0) 
		FROM t_lottery_use_record lur, t_lottery_chance_info lci, t_lottery_chance_rule_info lri, rocky_member m
		WHERE lur.USER_ID = m.ID 
		AND lur.LOTTERY_ID = lci.ID AND lci.LOTTERY_CHANCE_RULE_INFO_ID = lri.ID
		<if test="beginDate != null">
		AND lur.ADD_TIME <![CDATA[ >= ]]> #{beginDate} 
		</if>
		<if test="endDate != null">
		AND lur.ADD_TIME <![CDATA[ <= ]]> #{endDate} 
		</if>
		<if test="userName != null and userName !=''">
		AND m.username = trim(#{userName}) 
		</if>
		<if test="awardSource != null and awardSource != 0">
		AND lri.CODE = trim(#{awardSource})
		</if>
		<if test="awardType != null and awardType != 0">
	  	  and lur.AWARD_TYPE =#{awardType}
	    </if>
	    <if test="lotteryGoodsName != null and lotteryGoodsName != ''">
	  	  and lur.LOTTERY_GOODS_NAME = #{lotteryGoodsName}
	    </if>
		AND(lur.AWARD_TYPE = 1 or lur.AWARD_TYPE = 5 ) AND lur.`STATUS` = 1) as getSumAwardMoney,
		
		(SELECT IFNULL(SUM(lur.AWARD_MONEY),0) 
		FROM t_lottery_use_record lur, t_lottery_chance_info lci, t_lottery_chance_rule_info lri, rocky_member m
		WHERE lur.USER_ID = m.ID 
		AND lur.LOTTERY_ID = lci.ID AND lci.LOTTERY_CHANCE_RULE_INFO_ID = lri.ID
		<if test="beginDate != null">
		AND lur.ADD_TIME <![CDATA[ >= ]]> #{beginDate} 
		</if>
		<if test="endDate != null">
		AND lur.ADD_TIME <![CDATA[ <= ]]> #{endDate} 
		</if>
		<if test="userName != null and userName !=''">
		AND m.username = trim(#{userName}) 
		</if>
		<if test="awardSource != null and awardSource != 0">
		AND lri.CODE = trim(#{awardSource})
		</if>
		<if test="awardType != null and awardType != 0">
	  	  and lur.AWARD_TYPE =#{awardType}
	    </if>
	    <if test="lotteryGoodsName != null and lotteryGoodsName != ''">
	  	  and lur.LOTTERY_GOODS_NAME = #{lotteryGoodsName}
	    </if>
		AND(lur.AWARD_TYPE = 1 or lur.AWARD_TYPE = 5 ) AND lur.`STATUS` = 0) as noGetSumAwardMoney
	  FROM DUAL
  </select>
  
  
  <sql id="useRecordWhere">
		   <where>
					     <if test="beginDate != null and beginDate !='' ">
					      and  ur.ADD_TIME &gt;=#{beginDate}
					     </if>
					     <if test="endDate != null  and endDate !='' ">
					     and  ur.ADD_TIME &lt; #{endDate}
					     </if>
					     <if test="userName != null and userName !=''  ">
					     and  rm.USERNAME = trim(#{userName})  
					     </if>
					     
					     <if test="awardType != null and awardType != 0">
					  	  and ur.AWARD_TYPE =#{awardType}
					     </if>
					      
					     <if test="awardSource != null and  awardSource != 0  ">
					 	  and   cri.id =#{awardSource}
					     </if>
					     <if test="status !=null  and status !=''  ">
					   	 and   ur.STATUS =#{status}
					     </if>
					     <if test="lotteryGoodsName != null and lotteryGoodsName != ''">
					  	  and ur.LOTTERY_GOODS_NAME = #{lotteryGoodsName}
					    </if>
					     
					     
		  </where>
  </sql>
  
   <!-- 查询抽奖信息导出Excel -->
   <select id="queryListUseRecordForExcelByCnd"    parameterType="com.cxdai.console.lottery.vo.UseRecordCnd"    resultMap="BaseResultMap"   >
		SELECT m.USERNAME as userName, FROM_UNIXTIME(m.ADDTIME, '%Y-%m-%d %H:%i:%s') as registerTime,
		CASE WHEN 1 = 1
		<if test="beginDate == null and endDate == null">
		AND FROM_UNIXTIME(m.ADDTIME,'%Y-%m-%d') = CURDATE()
		</if>
		<if test="beginDate != null">
		AND FROM_UNIXTIME(m.ADDTIME,'%Y-%m-%d %H:%i:%s') <![CDATA[ >= ]]> #{beginDate}
		</if>
		<if test="endDate != null">
		AND FROM_UNIXTIME(m.ADDTIME,'%Y-%m-%d %H:%i:%s') <![CDATA[ <= ]]> #{endDate}
		</if>
		THEN '新用户' ELSE '老用户' 
		END as userType,
		CASE WHEN m.SOURCE = 0 THEN '网站注册'
		WHEN m.SOURCE = 1 THEN '网贷第三方'
		WHEN m.SOURCE = 2 THEN '易瑞通'
		WHEN m.SOURCE = 3 THEN '邮件推广'
		WHEN m.SOURCE = 4 THEN 'DSP广告链接'
		WHEN m.SOURCE = 5 THEN '网贷之家广告链接'
		WHEN m.SOURCE = 6 THEN '微信广告链接'
		WHEN m.SOURCE = 7 THEN '快乐赚'
		WHEN m.SOURCE = 8 THEN '帮我呀'
		WHEN m.SOURCE = 9 THEN '图片广告3'
		WHEN m.SOURCE = 10 THEN '必应'
		WHEN m.SOURCE = 11 THEN '预留推广链接5'
		WHEN m.SOURCE = 12 THEN '预留推广链接6'
		ELSE '网站注册' END as registerSource,
		lri.`NAME` as activeName, lur.LOTTERY_GOODS_NAME as goodName, lur.ADD_TIME as addTime
		,(SELECT IFNULL(SUM(MONEY),0) FROM rocky_rechargerecord re WHERE re.USER_ID = m.id AND re.`STATUS` = 1
		<if test="beginDate != null"> 
		AND FROM_UNIXTIME(VERIFY_TIME,'%Y-%m-%d %H:%i:%d') <![CDATA[ >= ]]> #{beginDate} 
		</if>
		<if test="endDate != null">
		AND FROM_UNIXTIME(VERIFY_TIME,'%Y-%m-%d %H:%i:%d') <![CDATA[ <= ]]> #{endDate}
		</if>
		) as rechargereTotal
		,(
		(SELECT IFNULL(SUM(bt.ACCOUNT),0) FROM rocky_b_tenderrecord bt WHERE bt.USER_ID = m.id AND bt.TENDER_TYPE in(0,1) AND bt.PARENT_ID IS NULL 
		<if test="beginDate != null">
		AND FROM_UNIXTIME(bt.addtime,'%Y-%m-%d %H:%i:%d') <![CDATA[ >= ]]> #{beginDate}
		</if>
		<if test="endDate != null">
		AND FROM_UNIXTIME(bt.addtime,'%Y-%m-%d %H:%i:%d') <![CDATA[ <= ]]> #{endDate}
		</if>
		)
		+
		(SELECT IFNULL(SUM(rbs.ACCOUNT),0) FROM rocky_b_subscribe rbs WHERE rbs.USER_ID = m.id 
		<if test="beginDate != null">
		AND rbs.ADD_TIME <![CDATA[ >= ]]> #{beginDate}
		</if>
		<if test="endDate != null">
		AND rbs.ADD_TIME <![CDATA[ <= ]]> #{endDate}
		</if>
		)
		+
		(SELECT IFNULL(SUM(ftd.ACCOUNT),0) FROM t_first_tender_detail ftd WHERE ftd.USER_ID = m.id 
		<if test="beginDate != null">
		AND ftd.ADDTIME <![CDATA[ >= ]]> #{beginDate}
		</if>
		<if test="endDate != null">
		AND ftd.ADDTIME <![CDATA[ <= ]]> #{endDate}
		</if>
		)
		) as tenderAccountTotal
		FROM t_lottery_use_record lur, t_lottery_chance_info lci, t_lottery_chance_rule_info lri, rocky_member m
		WHERE lur.USER_ID = m.ID 
		AND lur.LOTTERY_ID = lci.ID AND lci.LOTTERY_CHANCE_RULE_INFO_ID = lri.ID
		<if test="beginDate != null">
		AND lur.ADD_TIME <![CDATA[ >= ]]> #{beginDate} 
		</if>
		<if test="endDate != null">
		AND lur.ADD_TIME <![CDATA[ <= ]]> #{endDate} 
		</if>
		<if test="userName != null and userName !=''">
		AND m.username = trim(#{userName}) 
		</if>
		<if test="awardSource != null and awardSource != 0">
		AND lri.CODE = trim(#{awardSource})
		</if>
		<if test="awardType != null and awardType != 0">
	  	  and lur.AWARD_TYPE =#{awardType}
	    </if>
	    <if test="lotteryGoodsName != null and lotteryGoodsName != ''">
	  	  and lur.LOTTERY_GOODS_NAME = #{lotteryGoodsName}
	    </if>
		ORDER BY lur.id DESC
	</select>
	
	<select id="queryListUseRecordForGoodsName" resultMap="BaseResultMap"   >
		SELECT ur.* FROM t_lottery_use_record ur GROUP BY ur.LOTTERY_GOODS_NAME
	</select>
</mapper>