<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.red.mapper.RedAccountMapper">

	<resultMap type="com.cxdai.console.red.entity.RedAccount" id="redAccountMap">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="usebizId" column="USEBIZ_ID" />
		<result property="usebizType" column="USEBIZ_TYPE" />
		<result property="redType" column="RED_TYPE" />
		<result property="addTime" column="ADD_TIME" />
		<result property="openTime" column="OPEN_TIME" />
		<result property="endTime" column="END_TIME" />
		<result property="freezeTime" column="FREEZE_TIME" />
		<result property="useTime" column="USE_TIME" />
		<result property="lastUpdateTime" column="LAST_UPDATE_TIME" />
		<result property="inviterId" column="INVITER_ID" />
		<result property="source" column="SOURCE" />
		
	</resultMap>
	<sql id="redRecord_Where_Clause">
		<if test="username != null and username != ''">
			AND m.USERNAME like concat('%',#{username},'%')
		</if>
		<if test="userId != null and userId != ''">
			AND m.ID=#{userId}
		</if>
		<if test="redmoney != null and redmoney != ''">
			AND a.MONEY = #{redmoney}
		</if>
		<if test="beginTime != null and beginTime != ''">
			AND a.ADD_TIME <![CDATA[>=]]>
			#{beginTime}
		</if>
		<if test="endTime != null and endTime != ''">
			AND a.ADD_TIME <![CDATA[<=]]>
			#{endTime}
		</if>
		<if test="redsource != null and redsource != ''">
			AND a.RED_TYPE = #{redsource}
		</if>
		<if test="usebeginTime != null and usebeginTime != ''">
			AND a.USE_TIME <![CDATA[>=]]>
			#{usebeginTime}
		</if>
		<if test="useendTime != null and useendTime != ''">
			AND a.USE_TIME <![CDATA[<=]]>
			#{useendTime}
		</if>
		<if test="redstatus != null">
			AND a.STATUS = #{redstatus}
		</if>
	</sql>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="redAccountMap">
		select * from t_red_envelop_account
	</select>

	<!-- 根据ID查询 -->
	<select id="getById" parameterType="Integer" resultMap="redAccountMap">
		select * from t_red_envelop_account where id=#{id}
	</select>
	<select id="getByIdForUpdate" parameterType="Integer" resultMap="redAccountMap">
		select * from t_red_envelop_account where id=#{id} for update
	</select>

	<!-- 获取某个业务使用的红包 -->
	<select id="getBizReds" resultMap="redAccountMap" parameterType="Integer">
		SELECT * from t_red_envelop_account WHERE USEBIZ_ID=#{usebizId} AND
		USEBIZ_TYPE=#{usebizType} AND `STATUS`=#{status}
	</select>

	<!-- 新增，返回ID -->
	<insert id="add" parameterType="com.cxdai.console.red.entity.RedAccount">
		insert into
		t_red_envelop_account(USER_ID,RED_TYPE,MONEY,ADD_TIME,END_TIME,STATUS,FLAG,INVITER_ID,REMARK)
		values(#{userId},#{redType},#{money},now(),date_add(now(),interval 30
		day),#{status},#{flag},#{inviterId},#{remark})
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>
	<!-- 根据条件查询记录集合 -->
	<select id="queryRedAccountVoList" parameterType="com.cxdai.console.red.vo.RedRecordCnd"
		resultMap="redAccountMap">
		select
		a.ID,a.MONEY,a.USER_ID as userId,m.USERNAME,r.REALNAME,a.ADD_TIME,a.END_TIME,a.OPEN_TIME,a.RED_TYPE,a.STATUS,a.USE_TIME,
		ma.MOBILENUM as mobileNum
		from t_red_envelop_account a
		left join rocky_member m on a.USER_ID =m.ID
		left join rocky_realname_appro r on m.ID = r.USER_ID and r.ISPASSED = 1
		left join rocky_mobile_appro ma on m.ID = ma.USER_ID and ma.PASSED=1
		where 1= 1
		<include refid="redRecord_Where_Clause" />
		order by a.ADD_TIME DESC
	</select>
	<!-- 根据条件查询记录数量 -->
	<select id="queryRedAccountVoCount" parameterType="com.cxdai.console.red.vo.RedRecordCnd"
		resultType="java.lang.Integer">
		select count(*)
		from t_red_envelop_account a
		left join rocky_member m on a.USER_ID = m.ID
		left join rocky_realname_appro r on m.ID = r.USER_ID and r.ISPASSED = 1
		left join rocky_mobile_appro ma on m.ID = ma.USER_ID and ma.PASSED=1
		where 1= 1
		<include refid="redRecord_Where_Clause" />
	</select>
	
	<!-- 查询红包金额合计 -->
	<select id="queryRedMoneyTotal" parameterType="com.cxdai.console.red.vo.RedRecordCnd"
		resultType="java.math.BigDecimal">
		select
		 IFNULL(SUM(MONEY), 0)
		from t_red_envelop_account a
		left join rocky_member m on a.USER_ID =m.ID
		where 1= 1
		<include refid="redRecord_Where_Clause" />
	</select>
</mapper>