<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.maintain.registersource.mapper.SourceMapper">
	<select id="searchAll" parameterType="com.cxdai.console.maintain.registersource.entity.SourceCnd" resultType="com.cxdai.console.maintain.registersource.entity.SourceListVo">
		select a.value sourceName,a.name sourceNo,b.start_time startTime,b.end_time endTime,(SELECT
      name
    FROM rocky_staff  where id=b.update_user_id) updateUserName,update_time updateTime,b.remark remark from (select name,value from rocky_configuration where `STATUS`=0 and type=1101
		<if test="source != null and source != ''">
			and name=#{source}
		</if> order by `order` 
		) a left join (select * from t_member_source where id in (select max(id) from  t_member_source where status=1 GROUP By source_no))  b on a.`NAME`=b.source_no ;
	</select>
	<insert id="saveSource" parameterType="com.cxdai.console.maintain.registersource.entity.SourceCnd" >
		insert into t_member_source(`source_no`,start_time,end_time,CREATE_TIME,CREATE_user_id,UPDATE_TIME,UPDATE_user_id,remark) 
		VALUES (#{sourceNo},#{startTime},#{endTime},#{createTime},#{createUserId},#{createTime},#{createUserId},#{remark})
	</insert>
	<select id="querySourceList" resultType="com.cxdai.console.system.entity.Configuration">
		select a.name,a.value from rocky_configuration a where a.type=1101 and a.`STATUS`=0 order by `order` 
	</select>
	<select id="queryRockyConfiguration"  parameterType="java.lang.String" resultType="Integer">
		select  1 from rocky_configuration where type=1101 and name=#{sourceNo}
	</select>
	<select id="searchOne"  parameterType="java.lang.String" resultType="com.cxdai.console.maintain.registersource.entity.SourceVo">
	select a.value sourceName,a.name sourceNo,b.start_time startTime,b.end_time endTime,(SELECT
      name
    FROM rocky_staff  where id=b.update_user_id) updateUserName,update_time updateTime,b.remark remark from (select name,value from rocky_configuration where `STATUS`=0 and type=1101
			and name=#{sourceNo}
		) a left join (select * from t_member_source where id in (select max(id) from  t_member_source where status=1 GROUP By source_no))  b on a.`NAME`=b.source_no
	</select>
</mapper>  