<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.account.cash.mapper.DrawLogRecordMapper">
		<!-- 返回的结果集 -->
	<resultMap type="com.cxdai.console.account.cash.vo.TurnDrawLogVO" id="drawLogRecordResultMap">
		<id property="id" column="id" />
		<result property="Id" 							column="ID" />
		<result property="userId"						column="USER_ID"/>
		<result property="money" 						column="MONEY" />
		<result property="addtime"				  		column="ADDTIME"/>
		<result property="remark"  						column="REMARK"/>
		<result property="credited" 					column="credited"/>
		<result property="fee" 							column="fee"/>
		<result property="status" 						column="status"/>
		<result property="userName" 					column="USERNAME"/>
		<result property="addIp" 					    column="ADDIP"/>
	</resultMap>
	
		<sql id="accountBaseColumn">
		  	   rm.ID,
				  d.USER_ID,
				  d.MONEY,
				  rm.USERNAME,
				  d.ADDIP,
				  d.ADDTIME,
				  d.REMARK,
				  d.FEE,
				  d.CREDITED,
				  d.STATUS 	
	</sql>
	
		<!-- 封装查询条件 -->
	<sql id="account_Where_Clause">
		<if test="userName != null and userName != '' ">
			and rm.userName like concat('%',#{userName},'%')
		</if>
		<if test="status != null and status != '' ">
			and d.status = #{status}
		</if>
		<if test="beginPublicTimeStr != null and beginPublicTimeStr != ''">
			and UNIX_TIMESTAMP( d.ADDTIME )  <![CDATA[>=]]> UNIX_TIMESTAMP(#{beginPublicTimeStr})
		</if>
		<if test="endPublicTimeStr != null and endPublicTimeStr != ''">
			and UNIX_TIMESTAMP(d.ADDTIME) <![CDATA[<]]> UNIX_TIMESTAMP(#{endPublicTimeStr})
		</if>
	</sql>
	
	
	<select id="countDrawLogRecord" parameterType="com.cxdai.console.account.cash.vo.DrawableRecordCnd" resultType="java.lang.Integer" >
		select COUNT(1) 
		FROM t_todraw_log d
  INNER JOIN rocky_member rm
    ON d.user_id = rm.id 
		where 1=1
		<include refid="account_Where_Clause"/>
  	</select>
  	
   <select id="queryDrawLogRecordList" parameterType="com.cxdai.console.account.cash.vo.DrawableRecordCnd" resultMap="drawLogRecordResultMap" >
		select 
		<include refid="accountBaseColumn"/> 
		FROM t_todraw_log d
  INNER JOIN rocky_member rm
    ON d.user_id = rm.id 
		where 1=1
		<include refid="account_Where_Clause"/>
		order by d.id desc
  	</select>
  	
  	<select id="queryOneMonthDrawLogRecordList" parameterType="com.cxdai.console.account.cash.vo.DrawableRecordCnd" resultMap="drawLogRecordResultMap" >
		select 
		<include refid="accountBaseColumn"/> 
		FROM t_todraw_log d
  INNER JOIN rocky_member rm
    ON d.user_id = rm.id 
		where 1=1
		<include refid="account_Where_Clause"/>
  	</select>
	
</mapper>  