<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.console.customer.information.mapper.BorrowerUserMapper" >
  <resultMap id="BaseResultMap" type="com.cxdai.console.customer.information.entity.BorrowerUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="RepayName" property="repayName" jdbcType="VARCHAR" />
    <result column="RepayAcct" property="repayAcct" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="ADDUSER" property="adduser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, RepayName, RepayAcct, STATUS, REMARK, ADDTIME, ADDUSER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_borrower_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
    <select id="selectBorrowUser" resultMap="BaseResultMap" parameterType="com.cxdai.console.customer.information.entity.BorrowerUser">
    select 
    <include refid="Base_Column_List" />
    from t_borrower_user where 1=1
    <if test="status !=null and status!=''">
    	AND STATUS=#{status}
    </if>
     <if test="repayName !=null and repayName!=''">
    	AND RepayName=#{repayName}
    </if>
     <if test="repayAcct!=null and repayAcct!=''">
    	AND RepayAcct=#{repayAcct}
    </if>
     <if test="userId !=null and userId!=''">
    	AND USER_ID=#{userId}
    </if>
  </select>
  
  
  <insert id="insert" parameterType="com.cxdai.console.customer.information.entity.BorrowerUser" >
    insert into t_borrower_user (ID, USER_ID, RepayName, 
      RepayAcct, STATUS, REMARK, 
      ADDTIME, ADDUSER)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{repayname,jdbcType=VARCHAR}, 
      #{repayacct,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{adduser,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxdai.console.customer.information.entity.BorrowerUser" >
    update t_borrower_user
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="repayname != null" >
        RepayName = #{repayname,jdbcType=VARCHAR},
      </if>
      <if test="repayacct != null" >
        RepayAcct = #{repayacct,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        ADDUSER = #{adduser,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxdai.console.customer.information.entity.BorrowerUser" >
    update t_borrower_user
    set USER_ID = #{userId,jdbcType=INTEGER},
      RepayName = #{repayname,jdbcType=VARCHAR},
      RepayAcct = #{repayacct,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      ADDUSER = #{adduser,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>