<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.customer.information.mapper.MemberClearMapper">
 
   	<!-- 返回的结果集 -->
	<resultMap type="com.cxdai.console.customer.information.vo.MemberVo" id="memberResultMap">
		<id property="id" column="id" />
		<result property="username" 			column="USERNAME" />
		<result property="logpassword" 			column="LOGPASSWORD" />
		<result property="paypassword" 			column="PAYPASSWORD" />
		<result property="headimg" 				column="HEADIMG" />
		<result property="email"	    		column="EMAIL" />
		<result property="status"  				column="STATUS" />
		<result property="borrowtimes" 			column="BORROWTIMES" />
		<result property="investtimes" 			column="INVESTTIMES" />
		<result property="logintimes" 			column="LOGINTIMES" />
		<result property="addtime" 			    column="ADDTIME" />
		<result property="addip" 				column="ADDIP" />
		<result property="shareperson" 			column="SHAREPERSON" />
		<result property="lastlogintime" 		column="LASTLOGINTIME" />
		<result property="lastloginip" 			column="LASTLOGINIP" />
		<result property="useridmd5" 			column="USERIDMD5" />
		<result property="inviterid"            column="INVITERID"/>
		<result property="awardmoney" 			column="AWARDMONEY" />
		<result property="accumulatepoints" 	column="ACCUMULATEPOINTS"/>
		<result property="type" 				column="TYPE" />	
		<result property="source" 				column="SOURCE" />
		<result property="gainaccumulatepoints" column="GAINACCUMULATEPOINTS" />
		<result property="province" 			column="PROVINCE" />			
		<result property="city" 				column="CITY" />
		<result property="area" 				column="AREA" />
		<result property="isEmployeer" 			column="IS_EMPLOYEER" />
		<result property="isFinancialUser" 		column="IS_FINANCIAL_USER" />	
		<result property="qq" 					column="QQ" />
		<result property="wxNo" 				column="WX_NO" />
		<result property="emailPassword" 		column="EMAIL_PASSWORD" />	
		<result property="realName" 			column="realName" />	
		<result property="mobileNum" 			column="mobileNum" />	
		<result property="useMoney" 			column="USE_MONEY" />
		<result property="noUseMoney" 			column="NO_USE_MONEY" />
		<result property="collection"	    	column="COLLECTION" />
		<result property="firstBorrowUseMoney" 	column="FIRST_BORROW_USE_MONEY" />
		<result property="drawMoney"			column="DRAW_MONEY"/>
		<result property="noDrawMoney" 			column="NO_DRAW_MONEY"/>	
		<result property="MEMBERID" 			column="MEMBERID"/>	
	</resultMap>
   
   	<!--基本列 -->
	<sql id="memberColumn">
		m.ID, 
		m.USERNAME, 
		m.LOGPASSWORD, 
		m.PAYPASSWORD, 
		m.HEADIMG, 
		m.EMAIL, 
		m.STATUS, 
		m.BORROWTIMES, 
		m.INVESTTIMES, 
		m.LOGINTIMES, 
		m.ADDTIME, 
		m.ADDIP, 
		m.SHAREPERSON, 
		m.LASTLOGINTIME, 
		m.LASTLOGINIP, 
		m.USERIDMD5, 
		m.INVITERID, 
		m.AWARDMONEY, 
		m.ACCUMULATEPOINTS, 
		m.TYPE, 
		m.SOURCE, 
		m.GAINACCUMULATEPOINTS, 
		m.PROVINCE, 
		m.CITY, 
		m.AREA, 
		m.IS_EMPLOYEER, 
		m.IS_FINANCIAL_USER, 
		m.QQ, 
		m.WX_NO, 
		m.EMAIL_PASSWORD
	</sql>
	
	<sql id="wherecase">
	  		 <if test="username != null and username != ''">
				and m.USERNAME like concat('%',#{username},'%')
			</if>
			<if test="email != null and email != ''">
				and m.email = #{email}
			</if>
			<if test="realName != null and realName != ''">
				and RA.REALNAME like concat('%',#{realName},'%')
			</if>
			<if test="mobileNum != null and mobileNum != ''">
				AND MA.MOBILENUM = #{mobileNum}
			</if>
			<if test="addtimeBeginStr != null and addtimeBeginStr != ''">
				AND m.ADDTIME <![CDATA[>=]]> #{addtimeBeginStr}
			</if>
			<if test="addtimeEndStr != null and addtimeEndStr != ''">
				AND m.ADDTIME <![CDATA[<=]]> #{addtimeEndStr}
			</if>
	   
	   </sql>
   
   <!-- 根据条件查询记录数量-->
	<select id="queryMemberVoCount" parameterType="com.cxdai.console.customer.information.vo.MemberCnd" resultType="java.lang.Integer" >
				select  count(distinct(d.id)) from (
		
		SELECT s.*,a.TOTAL,a.USE_MONEY,a.DRAW_MONEY,a.NO_DRAW_MONEY,a.NO_USE_MONEY,
		a.COLLECTION,a.FIRST_BORROW_USE_MONEY 
		FROM
		 (
		select
		<include refid="memberColumn"/>,RA.realName realName,MA.mobileNum mobileNum 
		from rocky_member m
		left join rocky_realname_appro RA on m.id = RA.USER_ID  
		left join rocky_mobile_appro MA on m.id = MA.USER_ID 
		where 1= 1
		<include refid="wherecase"/>
	 
		) s,rocky_account a WHERE s.id = a.USER_ID 
		) d left join rocky_member_clearlog  v 
		on  v.MEMBERID = d.id
	 
 
  	</select>
  	
  	
  	<!-- 客户信息查询 -->
	<select id="queryMemberVoListForPages" parameterType="com.cxdai.console.customer.information.vo.MemberCnd" resultMap="memberResultMap" >
					select d.*,ifnull(v.MEMBERID,0) as MEMBERID from (
		
		SELECT s.*,a.TOTAL,a.USE_MONEY,a.DRAW_MONEY,a.NO_DRAW_MONEY,a.NO_USE_MONEY,
		a.COLLECTION,a.FIRST_BORROW_USE_MONEY 
		FROM
		 (
		select
		<include refid="memberColumn"/>,RA.realName realName,MA.mobileNum mobileNum 
		from rocky_member m
		left join rocky_realname_appro RA on m.id = RA.USER_ID  
		left join rocky_mobile_appro MA on m.id = MA.USER_ID 
		where 1= 1
		<include refid="wherecase"/>
		limit #{_offset},#{_limit}
		) s,rocky_account a WHERE s.id = a.USER_ID 
		) d left join rocky_member_clearlog  v 
		on  v.MEMBERID = d.id
		group by  d.id
		order by d.id

  	</select>
   
   
    
   
	  	<!-- updateMemberStatus 会员表中状态置为账户注销（rocky_member status=-1）-->
	  	<update id="updateMemberStatus"  parameterType="com.cxdai.console.customer.information.vo.MemberClearVo">
	  		 update rocky_member set  status=-1 where id= #{MEMBERID}
	  	</update>
	  	
	  	   
	  	<!-- 手机验证表中是否通过验证设置为未通过（rocky_mobile_appro PASSED=-1））-->
	  	<update id="updateMemberMobileStatus"    parameterType="com.cxdai.console.customer.information.vo.MemberClearVo"   >
	  		 update rocky_mobile_appro set PASSED=-1 where user_id=#{MEMBERID}
	  	</update>
	  	
	  	  	<!-- 邮箱认证表中是否通过验证设置为未通过（rocky_email_appro CHECKED=-1）-->
	  	<update id="updateMemberEmailStatus"  parameterType="com.cxdai.console.customer.information.vo.MemberClearVo">
	  		 update rocky_email_appro set CHECKED=-1 where user_id=#{MEMBERID}
	  	</update>
	  	
	  	  	
	  	  	<!-- 实名认证表中是否通过实名认证审核不通过（rocky_realname_appro ISPASSED=-1)-->
	  	<update id="updateMemberRealnameStatus"  parameterType="com.cxdai.console.customer.information.vo.MemberClearVo">
	  		 
	  		 update rocky_realname_appro set ISPASSED=-1 where user_id=#{MEMBERID}
	  	</update>
	  	 
	  	<!-- 插入log记录-->
	    <insert id="insertMemberClearLog" parameterType="com.cxdai.console.customer.information.vo.MemberClearVo">
	 			insert into rocky_member_clearlog (
				MEMBERID,ADDPEOPLE,ADD_TIME,ADDIP,MAC,REMARK
				) VALUES
				(
				#{MEMBERID},#{ADDPEOPLE},#{ADD_TIME},#{ADDIP},#{MAC},#{REMARK}
				)
	  	</insert>  
	  	
	  	
	  	
</mapper>  