<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.activity.mapper.BillionActivityMapper">
	
	<!-- 返回的结果集 -->
	<resultMap type="com.cxdai.console.activity.vo.BillionActivity" id="resultMap">
	</resultMap>
	
  	<!-- 根据条件查询记录集合 -->
	<select id="queryFiveBillionList" parameterType="com.cxdai.console.statistics.account.vo.ReportStatementCnd" resultMap="resultMap" >
	select * from (select rm.USERNAME as userName,'10' as redMoney,1 as redCount, CONCAT(FROM_UNIXTIME(rbt.ADDTIME,'%Y-%m-%d %H:%i:%s'),' 自动投标成功') as remark, FROM_UNIXTIME(rbt.ADDTIME,'%Y-%m-%d') as interestTime from rocky_b_tenderrecord rbt 
			INNER JOIN rocky_member rm on rbt.USER_ID=rm.ID and rm.STATUS = 0
			where rbt.TENDER_TYPE=1 and rbt.`STATUS` in(0,1,2)
			and FROM_UNIXTIME(rbt.ADDTIME)&gt;=DATE('2016-05-10') 
            and FROM_UNIXTIME(rbt.ADDTIME)&lt;DATE('2016-06-09')
			group by rbt.USER_ID order by rbt.ADDTIME desc) t
		    where 1=1  
		    <if test="beginTime != null and beginTime!='' ">
			 and t.interestTime &gt;= #{beginTime,jdbcType=TIMESTAMP} 
		    </if>	
		    <if test="endTime != null and endTime!='' ">
			 and t.interestTime &lt;DATE_ADD(DATE(#{endTime,jdbcType=TIMESTAMP}),INTERVAL 1 DAY) 
		    </if>	
  	</select>
  	<select id="queryFiveBillionCount" parameterType="com.cxdai.console.statistics.account.vo.ReportStatementCnd" resultType="java.lang.Integer" >
		select count(1) from (select rm.USERNAME as userName,'10' as redMoney,1 as redCount, CONCAT(FROM_UNIXTIME(rbt.ADDTIME,'%Y-%m-%d %H:%i:%s'),' 自动投标成功') as remark, FROM_UNIXTIME(rbt.ADDTIME,'%Y-%m-%d') as interestTime from rocky_b_tenderrecord rbt 
			INNER JOIN rocky_member rm on rbt.USER_ID=rm.ID and rm.STATUS = 0
			where rbt.TENDER_TYPE=1 and rbt.`STATUS` in(0,1,2)
			and FROM_UNIXTIME(rbt.ADDTIME)&gt;=DATE('2016-05-10') 
            and FROM_UNIXTIME(rbt.ADDTIME)&lt;DATE('2016-06-09')
			group by rbt.USER_ID order by rbt.ADDTIME desc) t
		    where 1=1  
		    <if test="beginTime != null and beginTime!='' ">
			 and t.interestTime &gt;= #{beginTime,jdbcType=TIMESTAMP} 
		    </if>	
		    <if test="endTime != null and endTime!='' ">
			 and t.interestTime &lt;DATE_ADD(DATE(#{endTime,jdbcType=TIMESTAMP}),INTERVAL 1 DAY) 
		    </if>	
  	</select>
  	<!-- 根据条件查询记录集合 -->
	<select id="queryFiveBillionList1" parameterType="com.cxdai.console.statistics.account.vo.ReportStatementCnd" resultMap="resultMap" >
		select t.USERNAME as userName,t.redMoney as redMoney ,count(t.USERNAME) as redCount,FROM_UNIXTIME(t.ADDTIME,'%Y-%m-%d') as interestTime,GROUP_CONCAT('【序号：',AUTOTENDER_ORDER,';投标时间：',FROM_UNIXTIME(t.addtime,'%Y-%m-%d %H:%i:%s'),'】') as remark from (
			select rm.USERNAME,rbt.AUTOTENDER_ORDER,
			CASE WHEN AUTOTENDER_ORDER like '%50%' THEN '200'
					 WHEN AUTOTENDER_ORDER like '%5%'  THEN '50'
					 ELSE '0' END as redMoney,rbt.ADDTIME
			from rocky_b_tenderrecord rbt 
			INNER JOIN rocky_member rm on rbt.USER_ID=rm.ID and rm.STATUS = 0
			where rbt.TENDER_TYPE=1 and rbt.`STATUS` in(0,1,2) and rbt.AUTOTENDER_ORDER like '%5%'
			and FROM_UNIXTIME(rbt.ADDTIME)&gt;=DATE('2016-05-10') 
            and FROM_UNIXTIME(rbt.ADDTIME)&lt;DATE('2016-06-09')
            <if test="beginTime != null and beginTime!='' ">
			 and FROM_UNIXTIME(rbt.ADDTIME) &gt;= #{beginTime,jdbcType=TIMESTAMP} 
		    </if>	
		    <if test="endTime != null and endTime!='' ">
			 and FROM_UNIXTIME(rbt.ADDTIME) &lt;DATE_ADD(DATE(#{endTime,jdbcType=TIMESTAMP}),INTERVAL 1 DAY) 
		    </if>
		    order by rbt.ADDTIME desc	
			) t where t.redMoney &gt;0
			group by t.USERNAME,t.redMoney order by t.ADDTIME desc
  	</select>
  	<select id="queryFiveBillionCount1" parameterType="com.cxdai.console.statistics.account.vo.ReportStatementCnd" resultType="java.lang.Integer" >
		select count(1) from (select t.USERNAME as userName,t.redMoney as redMoney ,count(t.USERNAME) as redCount,FROM_UNIXTIME(t.ADDTIME,'%Y-%m-%d') as interestTime,GROUP_CONCAT('【序号：',AUTOTENDER_ORDER,';投标时间：',FROM_UNIXTIME(t.addtime,'%Y-%m-%d %H:%i:%s'),'】') as remark from (
			select rm.USERNAME,rbt.AUTOTENDER_ORDER,
			CASE WHEN AUTOTENDER_ORDER like '%50%' THEN '200'
					 WHEN AUTOTENDER_ORDER like '%5%'  THEN '50'
					 ELSE '0' END as redMoney,rbt.ADDTIME
			from rocky_b_tenderrecord rbt 
			INNER JOIN rocky_member rm on rbt.USER_ID=rm.ID and rm.STATUS = 0
			where rbt.TENDER_TYPE=1 and rbt.`STATUS` in(0,1,2) and rbt.AUTOTENDER_ORDER like '%5%'
			and FROM_UNIXTIME(rbt.ADDTIME)&gt;=DATE('2016-05-10') 
            and FROM_UNIXTIME(rbt.ADDTIME)&lt;DATE('2016-06-09')
            <if test="beginTime != null and beginTime!='' ">
			 and FROM_UNIXTIME(rbt.ADDTIME) &gt;= #{beginTime,jdbcType=TIMESTAMP} 
		    </if>	
		    <if test="endTime != null and endTime!='' ">
			 and FROM_UNIXTIME(rbt.ADDTIME) &lt;DATE_ADD(DATE(#{endTime,jdbcType=TIMESTAMP}),INTERVAL 1 DAY) 
		    </if>	
			) t where t.redMoney &gt;0
			group by t.USERNAME,t.redMoney order by t.ADDTIME desc
		) t1
  	</select>
</mapper>  