<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.customer.blacklist.mapper.BlackListMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.customer.blacklist.vo.BlackListVo" id="blackListVoResultMap">
		<id property="id" column="id" />
		<result property="userId" 				column="USER_ID" />
		<result property="type" 				column="TYPE" />
		<result property="status" 				column="STATUS" />
		<result property="addId" 				column="ADD_ID" />
		<result property="addTime"	   		 	column="ADDTIME" />
		<result property="addIp"  				column="ADDIP" />
		<result property="remark" 				column="REMARK" />
		<result property="updateId" 			column="update_id" />
		<result property="uptime"	   		 	column="uptime" />
		<result property="updateIp"  			column="update_ip" />
		<result property="updateRemark" 		column="update_remark" />
		<result property="username" 			column="username" />
	</resultMap>
	
	<!--基本列 -->
	<sql id="blackListVoBaseColumn">
		b.ID, 
		b.USER_ID, 
		b.TYPE,
		b.STATUS, 
		b.ADD_ID, 
		b.ADDTIME, 
		b.ADDIP, 
		b.REMARK,
		b.uptime,
		b.update_id,
		b.update_ip,
		b.update_remark
	</sql>
	
	<!-- 封装查询条件 -->
	<sql id="blacklistVo_Where_Clause">
		<if test="id != null">
			and b.id = #{id}
		</if>
		<if test="type != null">
			and b.type = #{type}
		</if>
		<if test="status != null">
			and b.status = #{status}
		</if>	
	</sql>
	
  	<!-- 根据ID查询 -->
	<select id="queryById" parameterType="java.lang.Integer" resultMap="blackListVoResultMap" >
		select 	
		   <include refid="blackListVoBaseColumn"/>,m.username as username
		from
			rocky_black_list b, rocky_member m
		where b.user_id = m.id
		and b.id=#{id}
  	</select>
  	
  	<!-- 根据ID查询对象并锁定 -->
  	<select id="queryByIdForUpdate" parameterType="java.lang.Integer" resultMap="blackListVoResultMap" >
		select 	
		   <include refid="blackListVoBaseColumn"/>,m.username as username
		from
			rocky_black_list b, rocky_member m
		where b.user_id = m.id
		and b.id=#{id} for update
  	</select>
	
	<!-- 根据条件查询记录集合 -->
	<select id="queryBlackList" parameterType="com.cxdai.console.customer.blacklist.vo.BlackListCnd" resultMap="blackListVoResultMap" >
		select
		   <include refid="blackListVoBaseColumn"/>, m.username as username
		from
			rocky_black_list b,ROCKY_MEMBER m
		where b.USER_ID = m.id and b.status in(1,2)
		<include refid="blacklistVo_Where_Clause"/>
		<if test="username != null and username != ''">
			and m.USERNAME like concat('%',#{username},'%')
		</if>
		ORDER BY b.addtime desc
  	</select>
  	
  	<!-- 根据条件查询记录数量-->
	<select id="queryBlackListCount" parameterType="com.cxdai.console.customer.blacklist.vo.BlackListCnd" resultType="java.lang.Integer" >
		select count(b.id)
		from
			rocky_black_list b,ROCKY_MEMBER m
		where b.USER_ID = M.ID and b.status in(1,2)
		<include refid="blacklistVo_Where_Clause"/>
		<if test="username != null and username != ''">
			and m.USERNAME like concat('%',#{username},'%')
		</if>
  	</select>
  	
  	<!-- 根据userId和type查询是否已存在禁止中的记录-->
	<select id="queryCountByUserIdAndType" resultType="java.lang.Integer" >
		select count(b.id)
		from
			rocky_black_list b
		where b.status = 1 and b.user_id = #{userId} and b.type = #{type}
  	</select>
</mapper>  