<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.sms.mapper.SmsTemplateMapper">
	
	<!-- 返回的结果集 -->
	<resultMap type="com.cxdai.console.sms.vo.SmsTemplateVo" id="smsTemplateMapperResultMap">
		<id property="id" column="id" />
		<result property="type" 		column="TYPE" />
		<result property="content" 		column="CONTENT" />
		<result property="flag"	    column="FLAG" />
		<result property="remark"		column="REMARK" />
	</resultMap>
	
	<!--基本列 -->
	<sql id="smsTemplateBaseColumn">
		s.TYPE, 
		s.CONTENT, 
		s.FLAG, 
		s.REMARK
	</sql>
	
	<!-- 封装查询条件 -->
	<sql id="smsTemplate_Where_Clause">
		<if test="id != null and id!='' ">
			and s.id =#{id}
		</if>
		<if test="type != null and type!='' ">
			and s.TYPE = #{type}
		</if>
		<if test="flag != null and flag!='' ">
			and s.FLAG = #{flag}
		</if>	
		<if test="content != null and content!='' ">
			and s.CONTENT like concat('%', #{content},'%')
		</if>		
	</sql>
	
  	<!-- 根据条件查询记录集合 -->
	<select id="querySmsTemplateList" parameterType="com.cxdai.console.sms.vo.SmsTemplateCnd" resultMap="smsTemplateMapperResultMap" >
		select 	
		   <include refid="smsTemplateBaseColumn"/>
		from
			rocky_sms_template s
		where 1=1
		<include refid="smsTemplate_Where_Clause"/>
  	</select>
  	<select id="querySmsTemplateCount" parameterType="com.cxdai.console.sms.vo.SmsTemplateCnd" resultType="java.lang.Integer" >
		select 	
		  count(1)
		from
			rocky_sms_template s
		where 1=1
		<include refid="smsTemplate_Where_Clause"/>
  	</select>
</mapper>  