<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.statistics.tender.mapper.ChannelCpaAndCpsMapper">
	
	<select id="queryTzjCpaCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		select count(*) from (
			select * from (
			select * from (
			SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit from (
					(SELECT
					tmb.user_id as user_id,
					tmb.user_namep as username,
					 rbt.ACCOUNT AS bidAmount,
						FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
						rb.TIME_LIMIT as TIME_LIMIT,
						0 AS isTransfer,
						tmb.logging_type as logging_type,
						FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
					FROM rocky_borrow rb
					INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
					INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
					INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
					WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADDTIME > tmb.ADD_TIME
					and rbt.`STATUS` in(1,2) and rbt.PARENT_ID IS NULL 
					)
				  UNION ALL
					(SELECT
					tmb.user_id as user_id,
					tmb.user_namep as username,
					 rbt.ACCOUNT AS bidAmount,
						rbt.ADD_TIME as tenderTime,
						rb.TIME_LIMIT_REAL as TIME_LIMIT,
						1 AS isTransfer,
						tmb.logging_type as logging_type,
						FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
					FROM rocky_b_transfer rb
					INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
					INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
					INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
					WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADD_TIME > FROM_UNIXTIME(tmb.add_time)
					and rbt.`STATUS` =3 
					)
				  UNION ALL
					(SELECT
					tmb.user_id as user_id,
					tmb.user_namep as username,
					rbt.ACCOUNT AS bidAmount,
					rbt.ADDTIME as tenderTime,
					rb.LOCK_LIMIT as TIME_LIMIT,
					 0 AS isTransfer,
					tmb.logging_type as logging_type,
					FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
					FROM t_fix_borrow rb
					INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
					INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
					INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
					WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADDTIME > FROM_UNIXTIME(tmb.add_time)
					and rbt.`STATUS` in(1,3) 
					)
			) t where logging_type=0 and bidAmount>0 order by tenderTime ASC
			) t2 group by USERNAME 
			) t3 where 1=1
			<if test="beginTime != null">
				and tenderTime >= #{beginTime}
			</if>
			<if test="endTime != null">
				and tenderTime &lt;= #{endTime}
			</if>			
		) temp
	</select>
	
	<select id="queryTzjCpaList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		select * from (
			select * from (
			SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit,CASE when isTransfer=1 then '债转' else '非债转' end as isTransfer from (
					(SELECT
					tmb.user_id as user_id,
					tmb.user_namep as username,
					 rbt.ACCOUNT AS bidAmount,
						FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
						rb.TIME_LIMIT as TIME_LIMIT,
						0 AS isTransfer,
						tmb.logging_type as logging_type,
						FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
					FROM rocky_borrow rb
					INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
					INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
					INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
					WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADDTIME > tmb.ADD_TIME
					and rbt.`STATUS` in(1,2) and rbt.PARENT_ID IS NULL 
					)
				  UNION ALL
					(SELECT
					tmb.user_id as user_id,
					tmb.user_namep as username,
					 rbt.ACCOUNT AS bidAmount,
						rbt.ADD_TIME as tenderTime,
						rb.TIME_LIMIT_REAL as TIME_LIMIT,
						1 AS isTransfer,
						tmb.logging_type as logging_type,
						FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
					FROM rocky_b_transfer rb
					INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
					INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
					INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
					WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADD_TIME > FROM_UNIXTIME(tmb.add_time)
					and rbt.`STATUS` =3 
					)
				  UNION ALL
					(SELECT
					tmb.user_id as user_id,
					tmb.user_namep as username,
					rbt.ACCOUNT AS bidAmount,
					rbt.ADDTIME as tenderTime,
					rb.LOCK_LIMIT as TIME_LIMIT,
					 0 AS isTransfer,
					tmb.logging_type as logging_type,
					FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
					FROM t_fix_borrow rb
					INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
					INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
					INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
					WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADDTIME > FROM_UNIXTIME(tmb.add_time)
					and rbt.`STATUS` in(1,3) 
					)
			) t where logging_type=0 and bidAmount>0 order by tenderTime ASC
			) t2 group by USERNAME 
			) t3 where 1=1
			<if test="beginTime != null">
				and tenderTime >= #{beginTime}
			</if>
			<if test="endTime != null">
				and tenderTime &lt;= #{endTime}
			</if>
			order by tenderTime ASC		
	</select>
	
	<select id="queryTzjCpsCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		select count(*) from (
			SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit from (
				SELECT
				tmb.user_id as user_id,
				tmb.user_namep as username,
				 rbt.ACCOUNT AS bidAmount,
					FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
					rb.TIME_LIMIT as TIME_LIMIT,
					CASE WHEN rbt.PARENT_ID IS NULL THEN 0
		    	ELSE  1
		    	END  AS isTransfer,
					tmb.logging_type as logging_type,
					FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
				FROM rocky_borrow rb
				INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
				INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADDTIME >= tmb.ADD_TIME and rbt.`STATUS` in(1,2)
				 and rbt.PARENT_ID IS NULL 
				<if test="beginTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) >= #{beginTime}
				</if>
				<if test="endTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) &lt;= #{endTime}
				</if>
			  UNION ALL
				SELECT
				tmb.user_id as user_id,
				tmb.user_namep as username,
				 rbt.ACCOUNT AS bidAmount,
					rbt.ADD_TIME as tenderTime,
					rb.TIME_LIMIT_REAL as TIME_LIMIT,
					1 AS isTransfer,			
					tmb.logging_type as logging_type,
					FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
				FROM rocky_b_transfer rb
				INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
				INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADD_TIME  >= FROM_UNIXTIME(tmb.add_time)				
				and rbt.`STATUS`=3 
				<if test="beginTime != null">
					and rbt.ADD_TIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADD_TIME &lt;= #{endTime}
				</if>				
			  UNION ALL
				SELECT		
				tmb.user_id as user_id,
				tmb.user_namep as username,
				rbt.ACCOUNT AS bidAmount,
				rbt.ADDTIME as tenderTime,
				rb.LOCK_LIMIT as TIME_LIMIT,
				 0 AS isTransfer,
				tmb.logging_type as logging_type,
				FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
				FROM t_fix_borrow rb
				INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
				INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
				WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 
				AND rbt.ADDTIME >= FROM_UNIXTIME(tmb.add_time)				
				and rbt.`STATUS` in(1,3) 
				<if test="beginTime != null">
					and rbt.ADDTIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADDTIME &lt;= #{endTime}
				</if>				
			) t where logging_type=0						
		) temp
	</select>
	
	<select id="queryTzjCpsList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit,CASE when isTransfer=1 then '债转' else '非债转' end as isTransfer from (
				SELECT
				tmb.user_id as user_id,
				tmb.user_namep as username,
				 rbt.ACCOUNT AS bidAmount,
					FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
					rb.TIME_LIMIT as TIME_LIMIT,
					CASE WHEN rbt.PARENT_ID IS NULL THEN 0
		    	ELSE  1
		    	END  AS isTransfer,
					tmb.logging_type as logging_type,
					FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
				FROM rocky_borrow rb
				INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
				INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADDTIME >= tmb.ADD_TIME and rbt.`STATUS` in(1,2)
				 and rbt.PARENT_ID IS NULL 
				<if test="beginTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) >= #{beginTime}
				</if>
				<if test="endTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) &lt;= #{endTime}
				</if>
			  UNION ALL
				SELECT
				tmb.user_id as user_id,
				tmb.user_namep as username,
				 rbt.ACCOUNT AS bidAmount,
					rbt.ADD_TIME as tenderTime,
					rb.TIME_LIMIT_REAL as TIME_LIMIT,
					1 AS isTransfer,			
					tmb.logging_type as logging_type,
					FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
				FROM rocky_b_transfer rb
				INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
				INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 AND rbt.ADD_TIME  >= FROM_UNIXTIME(tmb.add_time)				
				and rbt.`STATUS`=3 
				<if test="beginTime != null">
					and rbt.ADD_TIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADD_TIME &lt;= #{endTime}
				</if>				
			  UNION ALL
				SELECT		
				tmb.user_id as user_id,
				tmb.user_namep as username,
				rbt.ACCOUNT AS bidAmount,
				rbt.ADDTIME as tenderTime,
				rb.LOCK_LIMIT as TIME_LIMIT,
				 0 AS isTransfer,
				tmb.logging_type as logging_type,
				FROM_UNIXTIME(tmb.ADD_TIME) as bingTime
				FROM t_fix_borrow rb
				INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
				INNER JOIN tzj_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
				WHERE tmb.DR = '1' AND tmb.IS_SUCCESS = 1 
				AND rbt.ADDTIME >= FROM_UNIXTIME(tmb.add_time)				
				and rbt.`STATUS` in(1,3) 
				<if test="beginTime != null">
					and rbt.ADDTIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADDTIME &lt;= #{endTime}
				</if>				
		) t where logging_type=0 order by tenderTime ASC		
	</select>
	
	<select id="queryWdtyCpaCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		select count(*) from (
			select * from (
				select * from (
				SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit from (
						(SELECT
						tmb.user_id as user_id,
						tmb.usernamep as username,
						 rbt.ACCOUNT AS bidAmount,
							FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
							rb.TIME_LIMIT as TIME_LIMIT,
							0 AS isTransfer,
							tmb.loggingType as logging_type,
							tmb.addtime as bingTime
						FROM rocky_borrow rb
						INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
						INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
						INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
						WHERE tmb.`status` = 1 AND FROM_UNIXTIME(rbt.ADDTIME) > tmb.addtime
						and rbt.`STATUS` in(1,2) and rbt.PARENT_ID IS NULL 
						)
					  UNION ALL
						(SELECT
						tmb.user_id as user_id,
						tmb.usernamep as username,
						 rbt.ACCOUNT AS bidAmount,
							rbt.ADD_TIME as tenderTime,
							rb.TIME_LIMIT_REAL as TIME_LIMIT,
							1 AS isTransfer,
							tmb.loggingType as logging_type,
							tmb.addtime as bingTime
						FROM rocky_b_transfer rb
						INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
						INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
						INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
						WHERE tmb.`status` = 1 AND rbt.ADD_TIME > tmb.addtime
						and rbt.`STATUS` =3 
						)
					  UNION ALL
						(SELECT
						tmb.user_id as user_id,
						tmb.usernamep as username,
						rbt.ACCOUNT AS bidAmount,
						rbt.ADDTIME as tenderTime,
						rb.LOCK_LIMIT as TIME_LIMIT,
						 0 AS isTransfer,
						tmb.loggingType as logging_type,
						tmb.addtime as bingTime
						FROM t_fix_borrow rb
						INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
						INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
						INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
						WHERE tmb.`status` = 1 AND rbt.ADDTIME > tmb.addtime
						and rbt.`STATUS` in(1,3) 
						)
				) t where logging_type=0 and bidAmount>0 order by tenderTime ASC
				) t2 group by USERNAME 
				) t3 where 1=1
				<if test="beginTime != null">
					and tenderTime >= #{beginTime}
				</if>
				<if test="endTime != null">
					and tenderTime &lt;= #{endTime}
				</if>			
		) temp
	</select>
	
	<select id="queryWdtyCpaList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		select * from (
			select * from (
			SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit,CASE when isTransfer=1 then '债转' else '非债转' end as isTransfer from (
					(SELECT
						tmb.user_id as user_id,
						tmb.usernamep as username,
						 rbt.ACCOUNT AS bidAmount,
							FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
							rb.TIME_LIMIT as TIME_LIMIT,
							0 AS isTransfer,
							tmb.loggingType as logging_type,
							tmb.addtime as bingTime
						FROM rocky_borrow rb
						INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
						INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
						INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
						WHERE tmb.`status` = 1 AND FROM_UNIXTIME(rbt.ADDTIME) > tmb.addtime
						and rbt.`STATUS` in(1,2) and rbt.PARENT_ID IS NULL 
						)
					  UNION ALL
						(SELECT
						tmb.user_id as user_id,
						tmb.usernamep as username,
						 rbt.ACCOUNT AS bidAmount,
							rbt.ADD_TIME as tenderTime,
							rb.TIME_LIMIT_REAL as TIME_LIMIT,
							1 AS isTransfer,
							tmb.loggingType as logging_type,
							tmb.addtime as bingTime
						FROM rocky_b_transfer rb
						INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
						INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
						INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
						WHERE tmb.`status` = 1 AND rbt.ADD_TIME > tmb.addtime
						and rbt.`STATUS` =3 
						)
					  UNION ALL
						(SELECT
						tmb.user_id as user_id,
						tmb.usernamep as username,
						rbt.ACCOUNT AS bidAmount,
						rbt.ADDTIME as tenderTime,
						rb.LOCK_LIMIT as TIME_LIMIT,
						 0 AS isTransfer,
						tmb.loggingType as logging_type,
						tmb.addtime as bingTime
						FROM t_fix_borrow rb
						INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
						INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
						INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
						WHERE tmb.`status` = 1 AND rbt.ADDTIME > tmb.addtime
						and rbt.`STATUS` in(1,3) 
						)
			) t where logging_type=0 and bidAmount>0 order by tenderTime ASC
			) t2 group by USERNAME 
			) t3 where 1=1
				<if test="beginTime != null">
					and tenderTime >= #{beginTime}
				</if>
				<if test="endTime != null">
					and tenderTime &lt;= #{endTime}
				</if>
			order by tenderTime ASC		
	</select>
	
	<select id="queryWdtyCpsCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		select count(*) from (
			SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit from (
				SELECT
				tmb.user_id as user_id,
				tmb.usernamep as username,
				 rbt.ACCOUNT AS bidAmount,
					FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
					rb.TIME_LIMIT as TIME_LIMIT,
					CASE WHEN rbt.PARENT_ID IS NULL THEN 0
		    	ELSE  1
		    	END  AS isTransfer,
					tmb.loggingType as logging_type,
					tmb.addtime as bingTime
				FROM rocky_borrow rb
				INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
				INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.`status` = 1 AND FROM_UNIXTIME(rbt.ADDTIME) > tmb.addtime and rbt.`STATUS` in(1,2)
				 and rbt.PARENT_ID IS NULL 
				<if test="beginTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) >= #{beginTime}
				</if>
				<if test="endTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) &lt;= #{endTime}
				</if>
			  UNION ALL
				SELECT
				tmb.user_id as user_id,
				tmb.usernamep as username,
				 rbt.ACCOUNT AS bidAmount,
					rbt.ADD_TIME as tenderTime,
					rb.TIME_LIMIT_REAL as TIME_LIMIT,
					1 AS isTransfer,
					tmb.loggingType as logging_type,
					tmb.addtime as bingTime
				FROM rocky_b_transfer rb
				INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
				INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.`status` = 1 AND rbt.ADD_TIME > tmb.addtime				
				and rbt.`STATUS`=3 
				<if test="beginTime != null">
					and rbt.ADD_TIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADD_TIME &lt;= #{endTime}
				</if>
			  UNION ALL
				SELECT		
				tmb.user_id as user_id,
				tmb.usernamep as username,
				rbt.ACCOUNT AS bidAmount,
				rbt.ADDTIME as tenderTime,
				rb.LOCK_LIMIT as TIME_LIMIT,
				 0 AS isTransfer,
				tmb.loggingType as logging_type,
				tmb.addtime as bingTime
				FROM t_fix_borrow rb
				INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
				INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
				WHERE tmb.`status` = 1 AND rbt.ADDTIME > tmb.addtime and rbt.`STATUS` in(1,3) 
				<if test="beginTime != null">
					and rbt.ADDTIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADDTIME &lt;= #{endTime}
				</if>				
			) t where logging_type=0			
		) temp
	</select>
	
	<select id="queryWdtyCpsList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		SELECT username,bingTime,tenderTime,t.bidAmount,TIME_LIMIT as timeLimit,CASE when isTransfer=1 then '债转' else '非债转' end as isTransfer from (
				SELECT
				tmb.user_id as user_id,
				tmb.usernamep as username,
				 rbt.ACCOUNT AS bidAmount,
					FROM_UNIXTIME(rbt.ADDTIME) as tenderTime,
					rb.TIME_LIMIT as TIME_LIMIT,
					CASE WHEN rbt.PARENT_ID IS NULL THEN 0
		    	ELSE  1
		    	END  AS isTransfer,
					tmb.loggingType as logging_type,
					tmb.addtime as bingTime
				FROM rocky_borrow rb
				INNER JOIN rocky_b_tenderrecord rbt ON rb.id = rbt.BORROW_ID 
				INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.`status` = 1 AND FROM_UNIXTIME(rbt.ADDTIME) > tmb.addtime and rbt.`STATUS` in(1,2)
				 and rbt.PARENT_ID IS NULL 
				<if test="beginTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) >= #{beginTime}
				</if>
				<if test="endTime != null">
					and FROM_UNIXTIME(rbt.ADDTIME) &lt;= #{endTime}
				</if>
			  UNION ALL
				SELECT
				tmb.user_id as user_id,
				tmb.usernamep as username,
				 rbt.ACCOUNT AS bidAmount,
					rbt.ADD_TIME as tenderTime,
					rb.TIME_LIMIT_REAL as TIME_LIMIT,
					1 AS isTransfer,
					tmb.loggingType as logging_type,
					tmb.addtime as bingTime
				FROM rocky_b_transfer rb
				INNER JOIN rocky_b_subscribe rbt ON rb.id = rbt.TRANSFER_ID 
				INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0		
				WHERE tmb.`status` = 1 AND rbt.ADD_TIME > tmb.addtime				
				and rbt.`STATUS`=3 
				<if test="beginTime != null">
					and rbt.ADD_TIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADD_TIME &lt;= #{endTime}
				</if>
			  UNION ALL
				SELECT		
				tmb.user_id as user_id,
				tmb.usernamep as username,
				rbt.ACCOUNT AS bidAmount,
				rbt.ADDTIME as tenderTime,
				rb.LOCK_LIMIT as TIME_LIMIT,
				 0 AS isTransfer,
				tmb.loggingType as logging_type,
				tmb.addtime as bingTime
				FROM t_fix_borrow rb
				INNER JOIN t_fix_tender_detail rbt ON rb.id = rbt.FIX_BORROW_ID 
				INNER JOIN wdty_member_binding tmb ON tmb.user_id = rbt.user_id
				INNER JOIN rocky_member rm ON rm.id = tmb.user_id AND rm.type = 0
				WHERE tmb.`status` = 1 AND rbt.ADDTIME > tmb.addtime and rbt.`STATUS` in(1,3) 
				<if test="beginTime != null">
					and rbt.ADDTIME >= #{beginTime}
				</if>
				<if test="endTime != null">
					and rbt.ADDTIME &lt;= #{endTime}
				</if>				
		) t where logging_type=0 order by tenderTime ASC		
	</select>
	
	<!-- 多麦网 -->
	<select id="queryDmwCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		select count(*) from (
			SELECT
					rbt.USER_ID AS uid,		
					FROM_UNIXTIME(rbt.ADDTIME) AS ADDTIME,		
					rbt.ACCOUNT AS ACCOUNT,
					rb.TIME_LIMIT AS limit_times,
					rbt.ID AS tid,
					rb.NAME AS borrow_name,				
					rbt.BORROW_ID AS bid		
					FROM rocky_member rm INNER JOIN rocky_b_tenderrecord rbt ON rm.SOURCE = 60 AND rm.ID = rbt.USER_ID		
					JOIN rocky_borrow rb
					ON rbt.BORROW_ID = rb.ID AND rb.STATUS IN (4, 5,42) AND rb.BORROWTYPE IN (1, 2, 5)
					WHERE rbt.PARENT_ID IS NULL AND
					rbt.STATUS IN (1,2)
				UNION ALL
				SELECT
					rbs.USER_ID AS uid,		
					rbs.ADD_TIME AS ADDTIME,		
					rbs.ACCOUNT AS ACCOUNT,
					rbt1.TIME_LIMIT_REAL AS limit_times,
					rbs.ID AS tid,
					rbt1.BORROW_NAME AS borrow_name,
					rbs.TRANSFER_ID AS bid		
					FROM
					rocky_member rm INNER JOIN rocky_b_subscribe rbs
					ON rm.SOURCE = 60 AND rm.ID = rbs.USER_ID		
					JOIN rocky_b_transfer rbt1
					ON rbs.TRANSFER_ID = rbt1.ID AND rbt1.STATUS
					= 4 AND rbt1.BORROW_TYPE IN
					(1, 2, 5)
					WHERE rbs.STATUS = 3		
			UNION ALL
				SELECT
					rbt.USER_ID AS uid,		
					rbt.ADDTIME AS ADDTIME,		
					rbt.ACCOUNT AS ACCOUNT,
					rb.LOCK_LIMIT AS limit_times,
					rbt.ID AS tid,
					CONCAT('定期宝',rb.CONTRACT_NO) AS borrow_name,		
					rbt.FIX_BORROW_ID AS bid		
					FROM rocky_member rm 
					INNER JOIN t_fix_tender_detail rbt ON rm.SOURCE = 60 AND rm.ID = rbt.USER_ID		
					JOIN t_fix_borrow rb ON rbt.FIX_BORROW_ID = rb.ID AND rb.STATUS IN (5,7,8,9,10)
					WHERE rbt.STATUS IN (1,3)
			) temp where 1=1
			<if test="beginTime != null">
				and temp.ADDTIME >= #{beginTime}
			</if>
			<if test="endTime != null">
				and temp.ADDTIME &lt;= #{endTime}
			</if>			
	</select>
	<!-- 多麦网 -->
	<select id="queryDmwList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		select uid as userId,ADDTIME as tenderTime,ACCOUNT as bidAmount,limit_times as timeLimit,tid as tenderId,borrow_name as borrowName,bid as borrowId from (
			SELECT
					rbt.USER_ID AS uid,		
					FROM_UNIXTIME(rbt.ADDTIME) AS ADDTIME,		
					rbt.ACCOUNT AS ACCOUNT,
					rb.TIME_LIMIT AS limit_times,
					rbt.ID AS tid,
					rb.NAME AS borrow_name,				
					rbt.BORROW_ID AS bid		
					FROM rocky_member rm INNER JOIN rocky_b_tenderrecord rbt ON rm.SOURCE = 60 AND rm.ID = rbt.USER_ID		
					JOIN rocky_borrow rb
					ON rbt.BORROW_ID = rb.ID AND rb.STATUS IN (4, 5,42) AND rb.BORROWTYPE IN (1, 2, 5)
					WHERE rbt.PARENT_ID IS NULL AND
					rbt.STATUS IN (1,2)
				UNION ALL
				SELECT
					rbs.USER_ID AS uid,		
					rbs.ADD_TIME AS ADDTIME,		
					rbs.ACCOUNT AS ACCOUNT,
					rbt1.TIME_LIMIT_REAL AS limit_times,
					rbs.ID AS tid,
					rbt1.BORROW_NAME AS borrow_name,
					rbs.TRANSFER_ID AS bid		
					FROM
					rocky_member rm INNER JOIN rocky_b_subscribe rbs
					ON rm.SOURCE = 60 AND rm.ID = rbs.USER_ID		
					JOIN rocky_b_transfer rbt1
					ON rbs.TRANSFER_ID = rbt1.ID AND rbt1.STATUS
					= 4 AND rbt1.BORROW_TYPE IN
					(1, 2, 5)
					WHERE rbs.STATUS = 3		
			UNION ALL
				SELECT
					rbt.USER_ID AS uid,		
					rbt.ADDTIME AS ADDTIME,		
					rbt.ACCOUNT AS ACCOUNT,
					rb.LOCK_LIMIT AS limit_times,
					rbt.ID AS tid,
					CONCAT('定期宝',rb.CONTRACT_NO) AS borrow_name,		
					rbt.FIX_BORROW_ID AS bid		
					FROM rocky_member rm 
					INNER JOIN t_fix_tender_detail rbt ON rm.SOURCE = 60 AND rm.ID = rbt.USER_ID		
					JOIN t_fix_borrow rb ON rbt.FIX_BORROW_ID = rb.ID AND rb.STATUS IN (5,7,8,9,10)
					WHERE rbt.STATUS IN (1,3)
			) temp where 1=1
			<if test="beginTime != null">
				and temp.ADDTIME >= #{beginTime}
			</if>
			<if test="endTime != null">
				and temp.ADDTIME &lt;= #{endTime}
			</if>			
			 order by ADDTIME ASC		
	</select>
	
	<!-- 富爸爸 -->
	<select id="queryFbbCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		select count(*) from (
			SELECT rm.USERNAME,FROM_UNIXTIME(rm.ADDTIME) regTime,tto.SUCCESS_TIME,tto.ACCOUNT,tto.limit_times
			FROM T_THIRDEXTEND_ORDERRECORD tto
			INNER JOIN rocky_member rm on tto.USER_ID=rm.ID
			WHERE tto.STATUS =100 AND tto.`SOURCE` = 37
			<if test="beginTime != null">
				and tto.SUCCESS_TIME >= #{beginTime}
			</if>
			<if test="endTime != null">
				and tto.SUCCESS_TIME &lt;= #{endTime}
			</if>			
		) temp		
	</select>
	<!-- 富爸爸 -->
	<select id="queryFbbList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		SELECT rm.USERNAME as username,FROM_UNIXTIME(rm.ADDTIME) as bingTime,tto.SUCCESS_TIME as tenderTime,tto.ACCOUNT as bidAmount,tto.limit_times as timeLimit
		FROM T_THIRDEXTEND_ORDERRECORD tto
		INNER JOIN rocky_member rm on tto.USER_ID=rm.ID
		WHERE tto.STATUS =100 AND tto.`SOURCE` = 37
		<if test="beginTime != null">
			and tto.SUCCESS_TIME >= #{beginTime}
		</if>
		<if test="endTime != null">
			and tto.SUCCESS_TIME &lt;= #{endTime}
		</if>
		order by tto.SUCCESS_TIME ASC	
	</select>
	
	<!-- 领克特 -->
	<select id="queryLktCount" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM (
			SELECT * FROM (SELECT
			rbt.USER_ID AS uid,
			rm.tid AS sn ,
			FROM_UNIXTIME(rbt.ADDTIME) AS ADDTIME,
			FROM_UNIXTIME(rb.SUCCESS_TIME)
			AS success_time,
			rbt.ACCOUNT AS ACCOUNT,
			rbt.ID AS tid,
			rb.NAME AS
			borrow_name,
			rb.BORROWTYPE AS borrow_type,
			rb.TIME_LIMIT AS limit_times,
			(CASE
			WHEN (rb.STYLE = 4) THEN '天' ELSE '月'
			END) AS limit_unit,
			rbt.BORROW_ID AS bid,
			10000 AS flage,
			rm.USERNAME,
			FROM_UNIXTIME(rm.ADDTIME) as regTime
			FROM rocky_member rm INNER JOIN
			rocky_b_tenderrecord rbt
			ON rm.SOURCE = 38 AND rm.ID =
			rbt.USER_ID
			JOIN rocky_borrow rb
			ON rbt.BORROW_ID = rb.ID AND rb.STATUS
			IN (4, 5, 42) AND rb.BORROWTYPE
			IN (1, 2, 5)
			WHERE rbt.PARENT_ID IS NULL
			AND rbt.STATUS NOT IN (0, -1)
			UNION ALL
			SELECT
			rbs.USER_ID AS uid,
			rm.tid
			AS sn ,
			rbs.ADD_TIME AS ADDTIME,
			rbt1.SUCCESS_TIME AS success_time,
			rbs.ACCOUNT AS ACCOUNT,
			rbs.ID AS tid,
			rbt1.BORROW_NAME AS borrow_name,
			rbt1.BORROW_TYPE AS borrow_type,
			rbt1.TIME_LIMIT_REAL AS limit_times,
			(CASE
			WHEN ((rbt1.BORROW_STYLE = 1) OR (rbt1.BORROW_STYLE = 2)) THEN
			'月'
			WHEN ((rbt1.BORROW_STYLE = 3) OR (rbt1.BORROW_STYLE = 4)) THEN '天'
			ELSE '
			'
			END) AS limit_unit,
			rbs.TRANSFER_ID AS bid,
			10010 AS flage,
			rm.USERNAME,
			FROM_UNIXTIME(rm.ADDTIME) as regTime
			FROM
			rocky_member rm INNER JOIN rocky_b_subscribe rbs
			ON rm.SOURCE = 38 AND rm.ID = rbs.USER_ID
			JOIN rocky_b_transfer rbt1
			ON
			rbs.TRANSFER_ID = rbt1.ID AND rbt1.STATUS = 4 AND rbt1.BORROW_TYPE IN
			(1, 2, 5)
			WHERE rbs.STATUS = 3
			ORDER BY success_time, ADDTIME)
			AS temp
		) as t 
		where 1=1
		<if test="beginTime != null">
			and t.success_time >= #{beginTime}
		</if>
		<if test="endTime != null">
			and t.success_time &lt;= #{endTime}
		</if>
	</select>
	<!-- 领克特 -->
	<select id="queryLktList" parameterType="com.cxdai.console.statistics.tender.entity.OperationCnd"
		resultType="com.cxdai.console.statistics.tender.entity.CpaAndCpsVo">
		SELECT
			'领克特' as source,
			t.bid AS borrowId,
			t.tid AS tenderId,
			USERNAME AS username,
			regTime as bingTime,
			t.success_time AS tenderTime,
			t.ACCOUNT AS bidAmount,
			t.limit_times as timeLimit
		FROM (
			SELECT * FROM (SELECT
			rbt.USER_ID AS uid,
			rm.tid AS sn ,
			FROM_UNIXTIME(rbt.ADDTIME) AS ADDTIME,
			FROM_UNIXTIME(rb.SUCCESS_TIME)
			AS success_time,
			rbt.ACCOUNT AS ACCOUNT,
			rbt.ID AS tid,
			rb.NAME AS
			borrow_name,
			rb.BORROWTYPE AS borrow_type,
			rb.TIME_LIMIT AS limit_times,
			(CASE
			WHEN (rb.STYLE = 4) THEN '天' ELSE '月'
			END) AS limit_unit,
			rbt.BORROW_ID AS bid,
			10000 AS flage,
			rm.USERNAME,
			FROM_UNIXTIME(rm.ADDTIME) as regTime
			FROM rocky_member rm INNER JOIN
			rocky_b_tenderrecord rbt
			ON rm.SOURCE = 38 AND rm.ID =
			rbt.USER_ID
			JOIN rocky_borrow rb
			ON rbt.BORROW_ID = rb.ID AND rb.STATUS
			IN (4, 5, 42) AND rb.BORROWTYPE
			IN (1, 2, 5)
			WHERE rbt.PARENT_ID IS NULL
			AND rbt.STATUS NOT IN (0, -1)
			UNION ALL
			SELECT
			rbs.USER_ID AS uid,
			rm.tid
			AS sn ,
			rbs.ADD_TIME AS ADDTIME,
			rbt1.SUCCESS_TIME AS success_time,
			rbs.ACCOUNT AS ACCOUNT,
			rbs.ID AS tid,
			rbt1.BORROW_NAME AS borrow_name,
			rbt1.BORROW_TYPE AS borrow_type,
			rbt1.TIME_LIMIT_REAL AS limit_times,
			(CASE
			WHEN ((rbt1.BORROW_STYLE = 1) OR (rbt1.BORROW_STYLE = 2)) THEN
			'月'
			WHEN ((rbt1.BORROW_STYLE = 3) OR (rbt1.BORROW_STYLE = 4)) THEN '天'
			ELSE '
			'
			END) AS limit_unit,
			rbs.TRANSFER_ID AS bid,
			10010 AS flage,
			rm.USERNAME,
			FROM_UNIXTIME(rm.ADDTIME) as regTime
			FROM
			rocky_member rm INNER JOIN rocky_b_subscribe rbs
			ON rm.SOURCE = 38 AND rm.ID = rbs.USER_ID
			JOIN rocky_b_transfer rbt1
			ON
			rbs.TRANSFER_ID = rbt1.ID AND rbt1.STATUS = 4 AND rbt1.BORROW_TYPE IN
			(1, 2, 5)
			WHERE rbs.STATUS = 3
			ORDER BY success_time, ADDTIME)
			AS temp
		) as t 
		where 1=1
		<if test="beginTime != null">
			and t.success_time >= #{beginTime}
		</if>
		<if test="endTime != null">
			and t.success_time &lt;= #{endTime}
		</if>
		order by t.success_time ASC	
	</select>
	
</mapper>  