<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.customer.bankcard.mapper.BankcardChangeMapper">

<!-- 结果集 -->
<resultMap type="com.cxdai.console.customer.bankcard.entity.BankcardChange" id="bankcardChangeMap">
	<result property="realName" 			column="real_name" />
	<result property="idCard"				column="id_card" />
	<result property="idCardType"			column="id_card_type" />
	<result property="oldBankcard"			column="old_bankcard" />
	<result property="newBank"				column="new_bank" />
	<result property="newBankCode"			column="new_bank_code" />
	<result property="newBranch"			column="new_branch" />
	<result property="newBranchNo"			column="new_branch_no" />
	<result property="newBankcard"			column="new_bankcard" />
	<result property="updateReason"			column="update_reason" />
	<result property="userId"				column="user_id" />
	<result property="userName"				column="user_name" />
	<result property="lastAddTime"			column="last_add_time" />
	<result property="addTime"				column="add_time" />
	<result property="addIp"				column="add_ip" />
	<result property="approveStatus"		column="approve_status" />
	<result property="approveTime"			column="approve_time" />
	<result property="approveUserId"		column="approve_user_id" />
	<result property="approveUserName"		column="approve_user_name" />
	<result property="approveRemark"		column="approve_remark" />
	<result property="approveIp"			column="approve_ip" />
	
	<result property="recheckTime"			column="recheck_time" />
	<result property="recheckUserId"		column="recheck_user_id" />
	<result property="recheckUserName"		column="recheck_user_name" />
	<result property="recheckRemark"		column="recheck_remark" />
	<result property="recheckIp"			column="recheck_ip" />
	
	<result property="changeTimes"			column="change_times" />
	<result property="applyTimes"			column="apply_times" />
	<result property="clickTimes"			column="click_times" />
	<result property="verifyVedioPath"		column="verify_vedio_path" />
</resultMap>

<!-- 查询条件 -->
<sql id="whereClause">
	<if test="approveStatus != null and approveStatus != ''">
		and c.approve_status = #{approveStatus} 
	</if>
	<if test="approveStatus == null or approveStatus == ''">
		and c.approve_status != 0
	</if>
	<if test="userName != null and userName != ''">
		and c.user_name like '%' #{userName} '%' 
	</if>
	<if test="realName != null and realName != ''">
		and c.real_name like '%' #{realName} '%'
	</if>
	<if test="phone != null and phone != ''">
		and c.phone like '%' #{phone} '%'
	</if>
	<if test="newBankcard != null and newBankcard != ''">
		and c.new_bankcard like '%' #{newBankcard} '%'
	</if>
</sql>
	
<!-- 分页查询 -->
<select id="pageQuery" parameterType="com.cxdai.console.customer.bankcard.entity.BankcardChangeCnd" resultMap="bankcardChangeMap">
select c.*,b.BANKNAME as oldbank from t_bankcard_change c
left join (select BANKNAME,CARDNUM from rocky_bankinfo b group by b.CARDNUM) b on b.CARDNUM=c.old_bankcard
where 1=1
<include refid="whereClause"/>
<!-- ORDER BY id desc  -->
order by IFNULL(IFNULL(recheck_time, approve_time), add_time) desc
</select>

<!-- 分页查询记录数 -->
<select id="pageQueryCount" parameterType="com.cxdai.console.customer.bankcard.entity.BankcardChangeCnd" resultType="Integer">
select count(1) from t_bankcard_change c
where 1=1
<include refid="whereClause"/>
</select>
	
<!-- 修改ById:记录审批结果 -->
<update id="updateBankcardChange" parameterType="com.cxdai.console.customer.bankcard.entity.BankcardChange">
update t_bankcard_change set approve_status=#{approveStatus},approve_remark=#{approveRemark},
approve_time=now(),approve_user_id=#{approveUserId},verify_vedio_path=#{verifyVedioPath},approve_user_name=#{approveUserName},approve_ip=#{approveIp}
where id=#{id} 
</update>
<update id="updateRecheckBankcardChange" parameterType="com.cxdai.console.customer.bankcard.entity.BankcardChange">
update t_bankcard_change set approve_status=#{approveStatus},recheck_remark=#{recheckRemark},
recheck_time=now(),recheck_user_id=#{recheckUserId},recheck_user_name=#{recheckUserName},recheck_ip=#{recheckIp}
where id=#{id} 
</update>

<!-- 修改用户银行卡 -->
<update id="updateBankinfo" parameterType="com.cxdai.console.customer.bankcard.entity.BankcardChange">
update rocky_bankinfo set status=-1 where USER_ID=#{userId} and status!=-1
</update>

<!-- 修改用户银行卡状态,记录冻结时间 -->
<update id="updateBankinfoStatus">
update rocky_bankinfo set status=#{status},frozen_time=now() where USER_ID=#{userId} and status!=-1
</update>

<!-- 根据ID查询 -->
<select id="getById" parameterType="Integer" resultMap="bankcardChangeMap">
select c.*,t.change_times,t.apply_times,t.click_times from t_bankcard_change c LEFT JOIN t_bankcard_times t on t.user_id=c.user_id 
where c.id=#{id}
</select>

<!-- 查询用户当前银行卡 -->
<select id="getUserCurrentCardNoAgree" parameterType="Integer" resultType="String">
	select no_agree from rocky_bankinfo where USER_ID=#{userId} and `STATUS`!=-1 limit 1
</select>

</mapper>