<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.console.maintain.portal.mapper.SlideshowMapper" >
  <resultMap id="BaseResultMap" type="com.cxdai.console.maintain.portal.entity.Slideshow" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="S_TYPE" property="sType" jdbcType="TINYINT" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="S_IMAGE" property="sImage" jdbcType="VARCHAR" />
    <result column="IMAGE_URL" property="imageUrl" jdbcType="VARCHAR" />
    <result column="ORDER" property="order" jdbcType="INTEGER" />
    <result column="CREATE_BY" property="createBy" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="START_TIME" property="startTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="NO_FOLLOW" property="noFollow" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, TITLE, S_TYPE, STATUS,NO_FOLLOW,S_IMAGE, IMAGE_URL, `ORDER`, CREATE_BY, CREATE_TIME, REMARK,DESCRIPTION,START_TIME,END_TIME
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_slideshow
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_slideshow
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.cxdai.console.maintain.portal.entity.Slideshow" >
    insert into t_cms_slideshow (ID, TITLE, S_TYPE, STATUS,
      S_IMAGE, IMAGE_URL, `ORDER`, 
      CREATE_BY, CREATE_TIME, REMARK,DESCRIPTION,START_TIME,END_TIME,NO_FOLLOW
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{sType,jdbcType=TINYINT}, 
    	#{status,jdbcType=TINYINT}, 
      #{sImage,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, 
      #{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},#{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},
      #{noFollow,jdbcType=VARCHAR}
      )
      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.cxdai.console.maintain.portal.entity.Slideshow" >
    insert into t_cms_slideshow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="sType != null" >
        S_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="sImage != null" >
        S_IMAGE,
      </if>
      <if test="imageUrl != null" >
        IMAGE_URL,
      </if>
      <if test="order != null" >
        `ORDER`,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="startTime != null" >
        START_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sType != null" >
        #{sType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="sImage != null" >
        #{sImage,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.cxdai.console.maintain.portal.entity.Slideshow" >
    update t_cms_slideshow
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sType != null" >
        S_TYPE = #{sType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="sImage != null" >
        S_IMAGE = #{sImage,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        `ORDER` = #{order,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noFollow != null" >
        NO_FOLLOW = #{noFollow,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.cxdai.console.maintain.portal.entity.Slideshow" >
    update t_cms_slideshow
    set TITLE = #{title,jdbcType=VARCHAR},
      S_TYPE = #{sType,jdbcType=TINYINT},
      STATUS = #{status,jdbcType=TINYINT},
      S_IMAGE = #{sImage,jdbcType=VARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=VARCHAR},
      `ORDER` = #{order,jdbcType=INTEGER},
      CREATE_BY = #{createBy,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  
    <!-- add by chenpeng 查询列表-幻灯片信息 -->
  <select id="queryPageAllSlideshowListByCnd" resultMap="BaseResultMap" parameterType="com.cxdai.console.maintain.portal.entity.SlideshowCnd" >
    select *
	from t_cms_slideshow   
	where `STATUS` =0
	<if test="slideshowCnd.sType != null and slideshowCnd.sType != -1">
		and S_TYPE = #{slideshowCnd.sType}
	</if>
	<if test="slideshowCnd.title != null and slideshowCnd.title != ''">
		and TITLE like "%" #{slideshowCnd.title} "%"
	</if>
	order by  `ORDER` asc
  </select>
  
  <select id="queryPageCountSlideshowListByCnd"   resultType="java.lang.Integer"  parameterType="com.cxdai.console.maintain.portal.entity.SlideshowCnd"   > 
    select count(1)  
	from t_cms_slideshow
	where `STATUS` =0 
	<if test="slideshowCnd.sType != null and slideshowCnd.sType != -1">
		and S_TYPE = #{slideshowCnd.sType}
	</if>
	<if test="slideshowCnd.title != null and slideshowCnd.title != ''">
		and TITLE like "%" #{slideshowCnd.title} "%"
	</if>
  </select>	 
  
    <sql id="whereSql">
	  where `STATUS` =0 
	   <if test="sOrder != null and sOrder !=0 ">
	    and   `ORDER` =#{sOrder}
	   </if>
	   <if test="sType != null and sType !=-1 ">
	    and   `S_TYPE` =#{sType}
	   </if>
	   <if test="title != null and title !='' ">
	    and   `TITLE` =#{title}
	   </if>
  	</sql>
  <select id="queryByParam" resultMap="BaseResultMap" parameterType="com.cxdai.console.maintain.portal.entity.SlideshowCnd" >
    select 
    <include refid="Base_Column_List" />
    from t_cms_slideshow
    <include refid="whereSql"/>
  </select>
  
<insert id="insertLog" parameterType="com.cxdai.console.maintain.portal.entity.SlideshowOperateLog" >
    insert into t_cms_slideshow_operate_log (ID, SOURCE_ID, SOURCE_TYPE, 
      OPERATE_TYPE, OPERATE_BY, OPERATE_TIME, 
      OPTION_IP, OPTION_MAC, REMARK
      )
    values (#{id,jdbcType=INTEGER}, #{sourceId,jdbcType=INTEGER}, #{sourceType,jdbcType=TINYINT}, 
      #{operateType,jdbcType=TINYINT}, #{operateBy,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{optionIp,jdbcType=VARCHAR}, #{optionMac,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )  
  </insert>
  
  <select id="getMaxOrder" resultType="java.lang.Integer" >
    SELECT  IFNULL(min(`ORDER`),10001)  FROM  t_cms_slideshow where S_TYPE = #{type1}  and `ORDER` >0
  </select>
</mapper>