<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.firstborrow.mapper.FirstBorrowMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.firstborrow.vo.FirstBorrowVo" id="firstBorrowResultMap">
		<id property="id" column="id" />
		<result property="name" 					column="NAME" />
		<result property="periods" 					column="PERIODS" />
		<result property="periodsDesc" 				column="PERIODS_DESC" />
		<result property="status" 					column="STATUS" />
		<result property="planAccount"	    		column="PLAN_ACCOUNT" />
		<result property="realAccount"	    		column="REAL_ACCOUNT" />
		<result property="lowestAccount"  			column="LOWEST_ACCOUNT" />
		<result property="mostAccount" 				column="MOST_ACCOUNT" />
		<result property="lockLimit"				column="LOCK_LIMIT"/>
		<result property="lockStyle"				column="LOCK_STYLE"/>
		<result property="lockEndtime" 				column="LOCK_ENDTIME"/>
		<result property="perceivedRate" 			column="PERCEIVED_RATE" />
		<result property="addRate" 					column="ADD_RATE" />
		<result property="serviceRate" 				column="SERVICE_RATE" />
		<result property="exitRate" 				column="EXIT_RATE" />
		<result property="successTime"	    		column="SUCCESS_TIME" />
		<result property="validTime"  				column="VALID_TIME" />
		<result property="content" 					column="CONTENT" />
		<result property="sendMessage"				column="SENDMESSAGE"/>
		<result property="addtime"					column="ADDTIME"/>
		<result property="addIp" 					column="ADDIP"/>
		<result property="cancelUser" 				column="CANCEL_USER" />
		<result property="cancelTime" 				column="CANCEL_TIME" />
		<result property="cancelRemark"  			column="CANCEL_REMARK" />
		<result property="uuid" 					column="UUID" />
		<result property="contractNo"				column="CONTRACT_NO"/>
		<result property="bidPassword"				column="BID_PASSWORD"/>
		<result property="remark" 					column="REMARK"/>		
		<result property="publishTime" 				column="PUBLISH_TIME" />
		<result property="userId" 					column="USER_ID" />
		<result property="tenderTimes"	    		column="TENDER_TIMES" />
		<result property="accountYes"  				column="ACCOUNT_YES" />
		<result property="passwordSource" 			column="PASSWORD_SOURCE" />
		<result property="version"					column="VERSION"/>
		<result property="endTime"					column="END_TIME"/>
	</resultMap>
	
	<!--基本列 -->
	<sql id="firstBorrowBaseColumn">
		f.ID, 
		f.NAME, 
		f.PERIODS, 
		f.PERIODS_DESC, 
		f.STATUS, 
		f.PLAN_ACCOUNT, 
		f.REAL_ACCOUNT,
		f.LOWEST_ACCOUNT, 
		f.MOST_ACCOUNT,
		f.LOCK_LIMIT,
		f.LOCK_STYLE,
		f.LOCK_ENDTIME,
		f.PERCEIVED_RATE,
		f.ADD_RATE,
		f.SERVICE_RATE,
		f.EXIT_RATE,
		f.SUCCESS_TIME,
		f.VALID_TIME,
		f.CONTENT,
		f.SENDMESSAGE,
		f.ADDTIME,
		f.ADDIP,
		f.CANCEL_USER,
		f.CANCEL_TIME,
		f.CANCEL_REMARK,
		f.UUID,
		f.CONTRACT_NO,
		f.BID_PASSWORD,
		f.REMARK,
		f.PUBLISH_TIME,
		f.USER_ID,
		f.TENDER_TIMES,
		f.ACCOUNT_YES,
		f.PASSWORD_SOURCE,
		f.VERSION,
		f.END_TIME
	</sql>
	
		<!-- 封装查询条件 -->
	<sql id="firstBorrow_Where_Clause">
		<if test="id != null and id != ''">
			and f.id =#{id}
		</if>
		<if test="name != null and name != ''">
			and f.NAME like concat('%',#{name},'%')
		</if>
		<if test="beginTime !=null and beginTime !='' ">
			and    f.PUBLISH_TIME  &gt;  DATE_FORMAT(#{beginTime},'%y-%m-%d %H:%i:%s')    
		</if>
		<if test="endTime !=null and endTime !='' ">
			and  f.PUBLISH_TIME  &lt;   DATE_FORMAT(DATE_ADD( #{endTime} , INTERVAL 1  DAY ) ,'%y-%m-%d %H:%i:%s')
		</if>		
		<if test="status != null and status != ''">
			and f.STATUS = #{status}
		</if>
		<if test="version != null and version != ''">
			and f.VERSION = #{version}
		</if>
		<!--添加优先投标验证字段,用于判断是否有待审核的直通车 -->
		<if test="validateAdd != null and validateAdd !=''">
			 and (f.STATUS = 0 or f.STATUS = 1)
		</if>	
	</sql>
	
	  	<!-- 根据直通车id，在解锁时更新直通车实际总金额 -->
  	<update id="updateRealAccountByUnlock">
  		UPDATE t_first_borrow
		SET REAL_ACCOUNT  = REAL_ACCOUNT - #{unlockaccount}
		WHERE ID = #{id}
  	</update>
	
	  	<!-- 根据条件查询记录集合 -->
	<select id="queryFirstBorrowList" parameterType="com.cxdai.console.firstborrow.vo.FirstBorrowCnd" resultMap="firstBorrowResultMap" >
		SELECT
	         <include refid="firstBorrowBaseColumn"/>
		FROM t_first_borrow f
		where 1=1
	     <include refid="firstBorrow_Where_Clause"/>
		<if test="orderSql != null and orderSql != ''">
			${orderSql}
		</if>
		<if test="lockedRecordYn != null and lockedRecordYn == 'yes'">
			FOR UPDATE
		</if>			
  	</select>
  	
  	<!-- 根据条件查询记录数量-->
	<select id="queryFirstBorrowCount" parameterType="com.cxdai.console.firstborrow.vo.FirstBorrowCnd" resultType="java.lang.Integer" >
		select count(f.id)
		from
			t_first_borrow f
		where 1=1
		<include refid="firstBorrow_Where_Clause"/>
  	</select>
  	
  	
  		
	<!-- 验证条件添加记录，返回主键 -->
	<insert id="insertFirstBorrowWidthCondition" parameterType="com.cxdai.console.base.entity.FirstBorrow">
		INSERT INTO t_first_borrow 
		(NAME,	PERIODS,	PERIODS_DESC,	STATUS,	PLAN_ACCOUNT,REAL_ACCOUNT,	LOWEST_ACCOUNT,	MOST_ACCOUNT,	LOCK_LIMIT,
		 LOCK_STYLE, 	LOCK_ENDTIME,	PERCEIVED_RATE,	ADD_RATE,	SERVICE_RATE, 	EXIT_RATE, 	SUCCESS_TIME, 
		 VALID_TIME, 	CONTENT,	SENDMESSAGE,	ADDTIME,	ADDIP,	CANCEL_USER,	CANCEL_TIME,	CANCEL_REMARK, 
		 UUID,	CONTRACT_NO,	BID_PASSWORD,	REMARK,	PUBLISH_TIME,	USER_ID,	TENDER_TIMES,	ACCOUNT_YES,PASSWORD_SOURCE, VERSION, END_TIME)
		SELECT
		 #{name},	#{periods},	#{periodsDesc},	#{status},#{planAccount},#{realAccount},	#{lowestAccount},	#{mostAccount},   #{lockLimit}, 
		 #{lockStyle},	   #{lockEndtime},	#{perceivedRate},	#{addRate},	#{serviceRate},	#{exitRate},	#{successTime}, 
		 #{validTime},	   #{content},	#{sendMessage},	#{addtime}, 	#{addIp},	#{cancelUser},	#{cancelTime},	#{cancelRemark}, 
		 #{uuid},	#{contractNo},	#{bidPassword},	#{remark},#{publishTime},	#{userId},	#{tenderTimes},	#{accountYes},#{passwordSource}, #{version}, #{endTime}
		FROM DUAL WHERE NOT EXISTS(SELECT 1 FROM t_first_borrow f WHERE f.STATUS = 0 OR f.STATUS = 1)
		
 		 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
	</insert>
	
	  	<!-- 查询最大期数-->
	<select id="queryMaxPeriods" resultType="java.lang.Integer" >
		SELECT MAX(CAST(PERIODS AS SIGNED)) FROM t_first_borrow
  	</select>
  	
	  	<!-- 查询最大合同号-->
	<select id="queryMaxContractNo" resultType="java.lang.String" >
		SELECT MAX(CONTRACT_NO) FROM t_first_borrow
  	</select>  	
  	
  	<!-- 调用直通车投标存储过程 -->
	<select id="firstTender" parameterType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call first_tender(#{borrowid,mode=IN,jdbcType=INTEGER}, #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	
	<!--获取最新直通车信息-->
	<select id="getLatest" resultMap="firstBorrowResultMap" >
		select 
			<include refid="firstBorrowBaseColumn"/> 
		from 
			t_first_borrow f
		where 
			f.status in (3,5)
		order by 
			id DESC
		limit 1;		
  	</select>
  	
  	<!--获取最新直通车信息(用于直通车修改、审核，排除本id的直通车)-->
	<select id="getNewLatestById" parameterType="java.lang.Integer" resultMap="firstBorrowResultMap" >
		select 
			<include refid="firstBorrowBaseColumn"/> 
		from 
			t_first_borrow f
		where 
			f.status in (3,5)
			and f.id != #{id}
		order by 
			id DESC
		limit 1;		
  	</select>
</mapper>  