<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.firstborrow.mapper.FirstSubscribeMapper">

	<!-- 直通车转让认购表resultMap -->
	<resultMap type="com.cxdai.console.firstborrow.vo.FirstSubscribeVo" id="firstSubscribeBaseResultMap"  >
		<id column="ID" property="id"/>
		<result property="userId" 						column="USER_ID" />
		<result property="firstTransferId" 				column="FIRST_TRANSFER_ID" />
		<result property="firstBorrowId" 				column="FIRST_BORROW_ID" />
		<result property="oldFirstTenderRealId" 		column="OLD_FIRST_TENDER_REAL_ID" />
		<result property="newFirstTenderRealId" 		column="NEW_FIRST_TENDER_REAL_ID" />
		<result property="account" 						column="ACCOUNT" />
		<result property="drawMoney" 					column="DRAW_MONEY" />
		<result property="noDrawMoney" 					column="NO_DRAW_MONEY" />
		<result property="userLevel" 					column="USER_LEVEL" />
		<result property="ratio" 						column="RATIO" />
		<result property="isVip" 						column="IS_VIP" />
		<result property="status" 						column="STATUS" />
		<result property="addTime" 						column="ADD_TIME" />
		<result property="addIp" 						column="ADD_IP" />
		<result property="addMac" 						column="ADD_MAC" />
		<result property="subscribeType" 				column="SUBSCRIBE_TYPE" />
		<result property="autotenderOrder" 				column="AUTOTENDER_ORDER" />
		<result property="autotenderOrderRemark" 		column="AUTOTENDER_ORDER_REMARK" />
		<result property="platform" 					column="PLATFORM" />
		<result property="remark" 						column="REMARK" />
	</resultMap>
	
	<!-- 直通车转让购买记录resultMap -->
	<resultMap type="com.cxdai.console.firstborrow.vo.FirstSubscribeVo" id="firstSubscribeResultMap" extends="firstSubscribeBaseResultMap" >
		<result property="userName" 					column="USERNAME" />
	</resultMap>
	
	<!-- 直通车转让购买记录 -->
	<select id="querySubscribeListByTransferId" parameterType="java.lang.Integer" resultMap="firstSubscribeBaseResultMap">
		SELECT FS.ID,
		       RM.USERNAME,
		       FS.ACCOUNT,
		       FS.ADD_TIME
		FROM   T_FIRST_SUBSCRIBE FS
		       LEFT JOIN ROCKY_MEMBER RM
		         ON RM.ID = FS.USER_ID
		WHERE  FS.FIRST_TRANSFER_ID = #{transferId}
		AND    FS.STATUS = 3
		
	</select>
    	
	<!-- 查询认购中直通车购买记录 -->
	<select id="queryTransferRecheckSubscribe" parameterType="java.lang.Integer" resultMap="firstSubscribeBaseResultMap">
		SELECT FS.ID,
		       FS.USER_ID,
		       RM.USERNAME,
		       FS.ACCOUNT,
		       FS.ADD_TIME
		FROM   T_FIRST_SUBSCRIBE FS
		       LEFT JOIN ROCKY_MEMBER RM
		         ON RM.ID = FS.USER_ID
		WHERE  FS.FIRST_TRANSFER_ID = #{transferId}
		AND    FS.STATUS = 1
		
	</select>
    
	<!-- 调用自动复审存储过程 -->
	<select id="saveTransferRecheck" statementType="CALLABLE" parameterType="java.util.Map">  
		<![CDATA[  
		    {call FIRST_TRANSFER_RECHECK(#{transferId,mode=IN,jdbcType=INTEGER}, #{userId,mode=IN,jdbcType=INTEGER}, #{userName,mode=IN,jdbcType=VARCHAR},#{addip,mode=IN,jdbcType=VARCHAR},#{checkRemark,mode=IN,jdbcType=VARCHAR}, #{platform,mode=IN,jdbcType=INTEGER}, #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>

</mapper>