<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.console.stock.mapper.StockDealMapper" >
  <resultMap id="BaseResultMap" type="com.cxdai.console.stock.entity.StockDeal" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seller_entrust_id" property="sellerEntrustId" jdbcType="INTEGER" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
    <result column="seller_real_name" property="sellerRealName" jdbcType="VARCHAR" />
    <result column="seller_stock_code" property="sellerStockCode" jdbcType="VARCHAR" />
    <result column="seller_stock_name" property="sellerStockName" jdbcType="VARCHAR" />
    <result column="entrust_price" property="entrustPrice" jdbcType="DECIMAL" />
    <result column="surplus_seller_amount" property="surplusSellerAmount" jdbcType="INTEGER" />
    <result column="buyer_entrust_id" property="buyerEntrustId" jdbcType="INTEGER" />
    <result column="buyer_price" property="buyerPrice" jdbcType="DECIMAL" />
    <result column="surplus_buyer_amount" property="surplusBuyerAmount" jdbcType="INTEGER" />
    <result column="buyer_id" property="buyerId" jdbcType="INTEGER" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_real_name" property="buyerRealName" jdbcType="VARCHAR" />
    <result column="buyer_stock_code" property="buyerStockCode" jdbcType="VARCHAR" />
    <result column="buyer_stock_name" property="buyerStockName" jdbcType="VARCHAR" />
    <result column="deal_type" property="dealType" jdbcType="INTEGER" />
    <result column="turnover_amount" property="turnoverAmount" jdbcType="INTEGER" />
    <result column="turnover_price" property="turnoverPrice" jdbcType="DECIMAL" />
    <result column="turnover_total_price" property="turnoverTotalPrice" jdbcType="DECIMAL" />
    <result column="service_charge" property="serviceCharge" jdbcType="DECIMAL" />
    <result column="seller_fee" property="sellerFee" jdbcType="DECIMAL" />
    <result column="seller_rate" property="sellerRate" jdbcType="DECIMAL" />
    <result column="buyer_fee" property="buyerFee" jdbcType="DECIMAL" />
    <result column="buyer_rate" property="buyerRate" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="adduser" property="adduser" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_entrust_id, seller_id, seller_name, seller_real_name, seller_stock_code, 
    seller_stock_name, entrust_price, surplus_seller_amount, buyer_entrust_id, buyer_price, 
    surplus_buyer_amount, buyer_id, buyer_name, buyer_real_name, buyer_stock_code, buyer_stock_name, 
    deal_type, turnover_amount, turnover_price, turnover_total_price, service_charge, 
    seller_fee, seller_rate, buyer_fee, buyer_rate, status, remark, adduser, addtime,updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
	select id, seller_entrust_id, seller_id, 
			(select USERNAME FROM rocky_member WHERE id = seller_id) sellerName,
			seller_real_name, seller_stock_code, 
	    seller_stock_name, entrust_price, surplus_seller_amount, buyer_entrust_id, buyer_price, 
	    surplus_buyer_amount, buyer_id,
			(select USERNAME FROM rocky_member WHERE id = buyer_id) buyerName,
			buyer_real_name, buyer_stock_code, 
			buyer_stock_name, deal_type, turnover_amount, turnover_price, turnover_total_price, 
			service_charge, seller_fee, seller_rate, buyer_fee, buyer_rate, `status`, 
			remark, adduser, addtime,updatetime
	 from gq_stock_deal 
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gq_stock_deal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxdai.console.stock.entity.StockDeal" >
    insert into gq_stock_deal (id, seller_entrust_id, seller_id, 
      seller_name, seller_real_name, seller_stock_code, 
      seller_stock_name, entrust_price, surplus_seller_amount, 
      buyer_entrust_id, buyer_price, surplus_buyer_amount, 
      buyer_id, buyer_name, buyer_real_name, 
      buyer_stock_code, buyer_stock_name, deal_type, 
      turnover_amount, turnover_price, turnover_total_price, 
      service_charge, seller_fee, seller_rate, 
      buyer_fee, buyer_rate, status, 
      remark, adduser, addtime
      )
    values (#{id,jdbcType=INTEGER}, #{sellerEntrustId,jdbcType=INTEGER}, #{sellerId,jdbcType=INTEGER}, 
      #{sellerName,jdbcType=VARCHAR}, #{sellerRealName,jdbcType=VARCHAR}, #{sellerStockCode,jdbcType=VARCHAR}, 
      #{sellerStockName,jdbcType=VARCHAR}, #{entrustPrice,jdbcType=DECIMAL}, #{surplusSellerAmount,jdbcType=INTEGER}, 
      #{buyerEntrustId,jdbcType=INTEGER}, #{buyerPrice,jdbcType=DECIMAL}, #{surplusBuyerAmount,jdbcType=INTEGER}, 
      #{buyerId,jdbcType=INTEGER}, #{buyerName,jdbcType=VARCHAR}, #{buyerRealName,jdbcType=VARCHAR}, 
      #{buyerStockCode,jdbcType=VARCHAR}, #{buyerStockName,jdbcType=VARCHAR}, #{dealType,jdbcType=INTEGER}, 
      #{turnoverAmount,jdbcType=INTEGER}, #{turnoverPrice,jdbcType=DECIMAL}, #{turnoverTotalPrice,jdbcType=DECIMAL}, 
      #{serviceCharge,jdbcType=DECIMAL}, #{sellerFee,jdbcType=DECIMAL}, #{sellerRate,jdbcType=DECIMAL}, 
      #{buyerFee,jdbcType=DECIMAL}, #{buyerRate,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{adduser,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cxdai.console.stock.entity.StockDeal" >
    insert into gq_stock_deal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerEntrustId != null" >
        seller_entrust_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="sellerRealName != null" >
        seller_real_name,
      </if>
      <if test="sellerStockCode != null" >
        seller_stock_code,
      </if>
      <if test="sellerStockName != null" >
        seller_stock_name,
      </if>
      <if test="entrustPrice != null" >
        entrust_price,
      </if>
      <if test="surplusSellerAmount != null" >
        surplus_seller_amount,
      </if>
      <if test="buyerEntrustId != null" >
        buyer_entrust_id,
      </if>
      <if test="buyerPrice != null" >
        buyer_price,
      </if>
      <if test="surplusBuyerAmount != null" >
        surplus_buyer_amount,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="buyerRealName != null" >
        buyer_real_name,
      </if>
      <if test="buyerStockCode != null" >
        buyer_stock_code,
      </if>
      <if test="buyerStockName != null" >
        buyer_stock_name,
      </if>
      <if test="dealType != null" >
        deal_type,
      </if>
      <if test="turnoverAmount != null" >
        turnover_amount,
      </if>
      <if test="turnoverPrice != null" >
        turnover_price,
      </if>
      <if test="turnoverTotalPrice != null" >
        turnover_total_price,
      </if>
      <if test="serviceCharge != null" >
        service_charge,
      </if>
      <if test="sellerFee != null" >
        seller_fee,
      </if>
      <if test="sellerRate != null" >
        seller_rate,
      </if>
      <if test="buyerFee != null" >
        buyer_fee,
      </if>
      <if test="buyerRate != null" >
        buyer_rate,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="adduser != null" >
        adduser,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sellerEntrustId != null" >
        #{sellerEntrustId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerRealName != null" >
        #{sellerRealName,jdbcType=VARCHAR},
      </if>
      <if test="sellerStockCode != null" >
        #{sellerStockCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerStockName != null" >
        #{sellerStockName,jdbcType=VARCHAR},
      </if>
      <if test="entrustPrice != null" >
        #{entrustPrice,jdbcType=DECIMAL},
      </if>
      <if test="surplusSellerAmount != null" >
        #{surplusSellerAmount,jdbcType=INTEGER},
      </if>
      <if test="buyerEntrustId != null" >
        #{buyerEntrustId,jdbcType=INTEGER},
      </if>
      <if test="buyerPrice != null" >
        #{buyerPrice,jdbcType=DECIMAL},
      </if>
      <if test="surplusBuyerAmount != null" >
        #{surplusBuyerAmount,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerRealName != null" >
        #{buyerRealName,jdbcType=VARCHAR},
      </if>
      <if test="buyerStockCode != null" >
        #{buyerStockCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerStockName != null" >
        #{buyerStockName,jdbcType=VARCHAR},
      </if>
      <if test="dealType != null" >
        #{dealType,jdbcType=INTEGER},
      </if>
      <if test="turnoverAmount != null" >
        #{turnoverAmount,jdbcType=INTEGER},
      </if>
      <if test="turnoverPrice != null" >
        #{turnoverPrice,jdbcType=DECIMAL},
      </if>
      <if test="turnoverTotalPrice != null" >
        #{turnoverTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null" >
        #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="sellerFee != null" >
        #{sellerFee,jdbcType=DECIMAL},
      </if>
      <if test="sellerRate != null" >
        #{sellerRate,jdbcType=DECIMAL},
      </if>
      <if test="buyerFee != null" >
        #{buyerFee,jdbcType=DECIMAL},
      </if>
      <if test="buyerRate != null" >
        #{buyerRate,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adduser != null" >
        #{adduser,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxdai.console.stock.entity.StockDeal" >
    update gq_stock_deal
    <set >
      <if test="sellerEntrustId != null" >
        seller_entrust_id = #{sellerEntrustId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerRealName != null" >
        seller_real_name = #{sellerRealName,jdbcType=VARCHAR},
      </if>
      <if test="sellerStockCode != null" >
        seller_stock_code = #{sellerStockCode,jdbcType=VARCHAR},
      </if>
      <if test="sellerStockName != null" >
        seller_stock_name = #{sellerStockName,jdbcType=VARCHAR},
      </if>
      <if test="entrustPrice != null" >
        entrust_price = #{entrustPrice,jdbcType=DECIMAL},
      </if>
      <if test="surplusSellerAmount != null" >
        surplus_seller_amount = #{surplusSellerAmount,jdbcType=INTEGER},
      </if>
      <if test="buyerEntrustId != null" >
        buyer_entrust_id = #{buyerEntrustId,jdbcType=INTEGER},
      </if>
      <if test="buyerPrice != null" >
        buyer_price = #{buyerPrice,jdbcType=DECIMAL},
      </if>
      <if test="surplusBuyerAmount != null" >
        surplus_buyer_amount = #{surplusBuyerAmount,jdbcType=INTEGER},
      </if>
      <if test="buyerId != null" >
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerRealName != null" >
        buyer_real_name = #{buyerRealName,jdbcType=VARCHAR},
      </if>
      <if test="buyerStockCode != null" >
        buyer_stock_code = #{buyerStockCode,jdbcType=VARCHAR},
      </if>
      <if test="buyerStockName != null" >
        buyer_stock_name = #{buyerStockName,jdbcType=VARCHAR},
      </if>
      <if test="dealType != null" >
        deal_type = #{dealType,jdbcType=INTEGER},
      </if>
      <if test="turnoverAmount != null" >
        turnover_amount = #{turnoverAmount,jdbcType=INTEGER},
      </if>
      <if test="turnoverPrice != null" >
        turnover_price = #{turnoverPrice,jdbcType=DECIMAL},
      </if>
      <if test="turnoverTotalPrice != null" >
        turnover_total_price = #{turnoverTotalPrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null" >
        service_charge = #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="sellerFee != null" >
        seller_fee = #{sellerFee,jdbcType=DECIMAL},
      </if>
      <if test="sellerRate != null" >
        seller_rate = #{sellerRate,jdbcType=DECIMAL},
      </if>
      <if test="buyerFee != null" >
        buyer_fee = #{buyerFee,jdbcType=DECIMAL},
      </if>
      <if test="buyerRate != null" >
        buyer_rate = #{buyerRate,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="adduser != null" >
        adduser = #{adduser,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxdai.console.stock.entity.StockDeal" >
    update gq_stock_deal
    set seller_entrust_id = #{sellerEntrustId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=INTEGER},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      seller_real_name = #{sellerRealName,jdbcType=VARCHAR},
      seller_stock_code = #{sellerStockCode,jdbcType=VARCHAR},
      seller_stock_name = #{sellerStockName,jdbcType=VARCHAR},
      entrust_price = #{entrustPrice,jdbcType=DECIMAL},
      surplus_seller_amount = #{surplusSellerAmount,jdbcType=INTEGER},
      buyer_entrust_id = #{buyerEntrustId,jdbcType=INTEGER},
      buyer_price = #{buyerPrice,jdbcType=DECIMAL},
      surplus_buyer_amount = #{surplusBuyerAmount,jdbcType=INTEGER},
      buyer_id = #{buyerId,jdbcType=INTEGER},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      buyer_real_name = #{buyerRealName,jdbcType=VARCHAR},
      buyer_stock_code = #{buyerStockCode,jdbcType=VARCHAR},
      buyer_stock_name = #{buyerStockName,jdbcType=VARCHAR},
      deal_type = #{dealType,jdbcType=INTEGER},
      turnover_amount = #{turnoverAmount,jdbcType=INTEGER},
      turnover_price = #{turnoverPrice,jdbcType=DECIMAL},
      turnover_total_price = #{turnoverTotalPrice,jdbcType=DECIMAL},
      service_charge = #{serviceCharge,jdbcType=DECIMAL},
      seller_fee = #{sellerFee,jdbcType=DECIMAL},
      seller_rate = #{sellerRate,jdbcType=DECIMAL},
      buyer_fee = #{buyerFee,jdbcType=DECIMAL},
      buyer_rate = #{buyerRate,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      adduser = #{adduser,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryList" resultMap="BaseResultMap" parameterType="com.cxdai.console.stock.vo.StockDealRequest">
  	select id, seller_entrust_id, seller_id, 
		(select USERNAME FROM rocky_member WHERE id = seller_id) sellerName,
		seller_real_name, seller_stock_code, 
    seller_stock_name, entrust_price, surplus_seller_amount, buyer_entrust_id, buyer_price, 
    surplus_buyer_amount, buyer_id,
		(select USERNAME FROM rocky_member WHERE id = buyer_id) buyerName,
		buyer_real_name, buyer_stock_code, 
		buyer_stock_name, deal_type, turnover_amount, turnover_price, turnover_total_price, 
		service_charge, seller_fee, seller_rate, buyer_fee, buyer_rate, `status`, 
		remark, adduser, addtime,updatetime
 from gq_stock_deal 
  	where 1=1 
  	<if test="entrustId != null and entrustId !=''">
  		AND (seller_entrust_id = #{entrustId,jdbcType=INTEGER} OR 
  			buyer_entrust_id = #{entrustId,jdbcType=INTEGER})
  	</if>
  	<if test="dealType != null and dealType !=''">
  		AND deal_type = #{dealType,jdbcType=INTEGER}
  	</if>
  	<if test="status != null and status !=''">
  		AND status = #{status,jdbcType=INTEGER}
  	</if>
  	<if test="startDate != null and startDate !=''">
  		AND  date_format(addtime ,'%Y-%m-%d') <![CDATA[>=]]>  #{startDate}
  	</if>
  	<if test="endDate != null and endDate !='' ">
  		AND date_format(addtime ,'%Y-%m-%d') <![CDATA[<=]]>  #{endDate}
  	</if>
  	ORDER BY addtime DESC
  	</select>
  	
  	
  	<select id="queryListCount" resultType="java.lang.Integer" parameterType="com.cxdai.console.stock.vo.StockDealRequest">
  	select count(1) from gq_stock_deal 
  	where 1=1 
  	<if test="entrustId != null and entrustId !=''">
  		AND (seller_entrust_id = #{entrustId,jdbcType=INTEGER} OR 
  			buyer_entrust_id = #{entrustId,jdbcType=INTEGER})
  	</if>
  	<if test="dealType != null and dealType !=''">
  		AND deal_type = #{dealType,jdbcType=INTEGER}
  	</if>
  	<if test="status != null and status !=''">
  		AND status = #{status,jdbcType=INTEGER}
  	</if>
  	<if test="startDate != null and startDate !=''">
  		AND  date_format(addtime ,'%Y-%m-%d') <![CDATA[>=]]>  #{startDate}
  	</if>
  	<if test="endDate != null and endDate !='' ">
  		AND date_format(addtime ,'%Y-%m-%d') <![CDATA[<=]]>  #{endDate}
  	</if>
  	</select>
  	
  	<!-- #卖出挂单股权数量（股）  买入挂单股权数量（股）  #卖方主动成交数量（股）  买方主动成交数量（股） -->
  <select id="querySummary1" resultType="java.util.Map" parameterType="com.cxdai.console.stock.vo.StockDealRequest">
  	select sum(se.amount) entrustTotal,  
			 sum(se.total_price)/sum(se.amount) price, 
			 sum(se.deal_amount)/sum(se.amount) dealPercentage,
			 se.entrust_type as type
	from gq_stock_entrust  se where 1=1
		<if test="startDate != null and startDate !=''">
	  		AND  date_format(se.addtime ,'%Y-%m-%d') <![CDATA[>=]]>  #{startDate}
	  	</if>
	  	<if test="endDate != null and endDate !='' ">
	  		AND date_format(se.addtime ,'%Y-%m-%d') <![CDATA[<=]]>  #{endDate}
	  	</if>
	group by se.entrust_type;
  	</select>
  	
  	
  	 <select id="querySummary2" resultType="java.util.Map" parameterType="com.cxdai.console.stock.vo.StockDealRequest">
 	select sum(se.turnover_amount) dealAmount,  
		se.deal_type as type
	from gq_stock_deal  se  where 1= 1
		<if test="startDate != null and startDate !=''">
	  		AND  date_format(se.addtime ,'%Y-%m-%d') <![CDATA[>=]]>  #{startDate}
	  	</if>
	  	<if test="endDate != null and endDate !='' ">
	  		AND date_format(se.addtime ,'%Y-%m-%d') <![CDATA[<=]]>  #{endDate}
	  	</if>
	group by se.deal_type;
  	</select>
  	
  	 <select id="querySummary3" resultType="java.util.Map" parameterType="com.cxdai.console.stock.vo.StockDealRequest">
 	select sum(se.turnover_total_price) totalMoney, 
		sum(se.service_charge) totalFree, 
		sum(se.turnover_amount) totalDealAmount 
	from gq_stock_deal  se where 1=1
		<if test="startDate != null and startDate !=''">
	  		AND  date_format(se.addtime ,'%Y-%m-%d') <![CDATA[>=]]>  #{startDate}
	  	</if>
	  	<if test="endDate != null and endDate !='' ">
	  		AND date_format(se.addtime ,'%Y-%m-%d') <![CDATA[<=]]>  #{endDate}
	  	</if>
  	</select>
</mapper>