<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.console.stock.mapper.StockApproveMapper" >
  <resultMap id="BaseResultMap" type="com.cxdai.console.stock.entity.StockApprove" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="INTEGER" />
    <result column="target_name" property="targetName" jdbcType="VARCHAR" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="adduser" property="adduser" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="addip" property="addip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_id, target_name, target_type, remark, status, adduser, user_name, user_real_name, 
    addtime, addip
  </sql>
  
  <select id="selectApproveList" resultMap="BaseResultMap" parameterType="com.cxdai.console.stock.entity.StockApprove">
    select 
    <include refid="Base_Column_List" />
    from gq_stock_approve
    where target_id = #{targetId} and target_type = #{targetType}
    order by addtime desc
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gq_stock_approve
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gq_stock_approve
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxdai.console.stock.entity.StockApprove" >
    insert into gq_stock_approve (target_id, target_name, 
      target_type, remark, status, 
      adduser, user_name, user_real_name, 
      addtime, addip)
    values (#{targetId,jdbcType=INTEGER}, #{targetName,jdbcType=VARCHAR}, 
      #{targetType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{adduser,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userRealName,jdbcType=VARCHAR}, 
      now(), #{addip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cxdai.console.stock.entity.StockApprove" >
    insert into gq_stock_approve
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="targetName != null" >
        target_name,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="adduser != null" >
        adduser,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userRealName != null" >
        user_real_name,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="addip != null" >
        addip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="targetId != null" >
        #{targetId,jdbcType=INTEGER},
      </if>
      <if test="targetName != null" >
        #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="adduser != null" >
        #{adduser,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null" >
        #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addip != null" >
        #{addip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxdai.console.stock.entity.StockApprove" >
    update gq_stock_approve
    <set >
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=INTEGER},
      </if>
      <if test="targetName != null" >
        target_name = #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="adduser != null" >
        adduser = #{adduser,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userRealName != null" >
        user_real_name = #{userRealName,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="addip != null" >
        addip = #{addip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxdai.console.stock.entity.StockApprove" >
    update gq_stock_approve
    set target_id = #{targetId,jdbcType=INTEGER},
      target_name = #{targetName,jdbcType=VARCHAR},
      target_type = #{targetType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      adduser = #{adduser,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_real_name = #{userRealName,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      addip = #{addip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>