<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.borrow.manage.mapper.BRepaymentRecordLogMapper">
        
        <insert id="insert"   parameterType="com.cxdai.console.borrow.manage.vo.RepaymentrecordlogVo" >
           insert into rocky_b_repaymentrecord_log (repaymentrecordid,borrowID,ADDTIME,ADDIP,DEAL_USER_ID,DealUserName )
           values(#{repaymentrecordid}, #{borrowId},#{addtime},#{addip},#{dealUserId},#{dealUserName} )	
        </insert>
        
         
</mapper>  