<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.borrow.manage.mapper.BRepaymentRecordMapper">
	
	<!-- 待还结果集 -->
	<resultMap type="com.cxdai.console.borrow.manage.vo.BRepaymentRecordVo" id="bRepaymentRecordVoResultMap">
	<id property="id" column="id" />
	<result property="status" 					column="STATUS" />
	<result property="webstatus" 				column="WEBSTATUS" />
	<result property="order" 					column="ORDER" />
	<result property="borrowId" 				column="BORROW_ID" />
	<result property="repaymentTime"	    	column="REPAYMENT_TIME" />
	<result property="repaymentYestime"  		column="REPAYMENT_YESTIME" />
	<result property="repaymentAccount"			column="REPAYMENT_ACCOUNT"/>
	<result property="repaymentYesaccount" 		column="REPAYMENT_YESACCOUNT"/>
	<result property="lateDays" 				column="LATE_DAYS" />
	<result property="lateInterest" 			column="LATE_INTEREST" />
	<result property="interest" 				column="INTEREST" />
	<result property="capital" 					column="CAPITAL" />
	<result property="addtime" 					column="ADDTIME" />
	<result property="addip" 					column="ADDIP" />
	<result property="userId" 					column="USER_ID" />
	<result property="advancetime" 				column="ADVANCETIME" />
	<result property="advanceYesAmount" 		column="ADVANCE_YESACCOUNT" />
	<result property="isRepairInterest" 		column="IS_REPAIR_INTEREST" />
	<result property="repairInterestTime" 		column="REPAIR_INTEREST_TIME" />

	<result property="borrowId" 				column="borrowId" />
	<result property="name" 					column="name" />
	<result property="style" 					column="style" />
	<result property="borrowtype" 				column="borrowtype" />
	<result property="timeLimit" 				column="timeLimit" />
	<result property="apr" 						column="apr" />
	<result property="username" 				column="username" />
	<result property="contractNo" 				column="contractNo" />
	<result property="dealUserName" 			column="dealUserName" />
	<result property="readRepaymentTime" 		column="readRepaymentTime" />
	<result property="eSuccess" 		        column="E_SUCCOUNT" />
	<result property="eSucSun" 		            column="E_SUCSUM" />
	<result property="eFailCount" 		        column="E_FAILCOUNT" />
	<result property="eFailSum" 		        column="E_FAILSUM" />
	<result property="isCustody" 		        column="IS_CUSTODY" />
</resultMap>


	<resultMap type="com.cxdai.console.borrow.manage.vo.OrderRangeVo" id="orderRangeMap">
		<result property="startTime" 				column="startTime" />
		<result property="endTime" 					column="endTime" />
		<result property="order" 					column="order" />
	</resultMap>
	
	<!-- 查询本期还款期数之前未还记录数量   -->
	<select id="queryBeforeOrderUnPayCount" resultType="java.lang.Integer">
	  <![CDATA[
		SELECT COUNT(r.ID) 
		FROM rocky_b_repaymentrecord r
		WHERE r.STATUS = 0
		AND r.ORDER < #{order}
		AND r.BORROW_ID = #{borrowId}
	  ]]>
	</select>
		 <!-- 根据借款标id获得待还记录集合 -->
	<select id="queryBRepaymentRecordByBorrowId" parameterType="java.lang.Integer" resultMap="bRepaymentRecordVoResultMap" >
		SELECT  
			 <include refid="bRepaymentRecordBaseColumn"/>
		FROM 
			rocky_b_repaymentrecord r
		Inner join 
			ROCKY_BORROW b on b.id = r.BORROW_ID
		WHERE 
			r.BORROW_ID = #{borrowId}
		ORDER BY 
			r.ID ASC
  	</select> 
	<!--根据id更新还款记录-->
  <update id="updateBReaymentRecordById" parameterType="com.cxdai.console.borrow.manage.vo.BRepaymentRecord" >
    update ROCKY_B_REPAYMENTRECORD
    <set >
      <if test="status != null" >
        STATUS = #{status},
      </if>
      <if test="webstatus != null" >
        WEBSTATUS = #{webstatus},
      </if> 
      <if test="userId != null" >
        USER_ID = #{userId},
      </if> 
      <if test="order != null" >
        `ORDER` = #{order},
      </if>  
      <if test="borrowId != null" >
        BORROW_ID = #{borrowId},
      </if>
      <if test="repaymentTime != null and repaymentTime != ''" >
        REPAYMENT_TIME = #{repaymentTime},
      </if>  
      <if test="repaymentYestime != null and repaymentYestime != ''" >
        REPAYMENT_YESTIME = #{repaymentYestime},
      </if>
      <if test="repaymentAccount != null" >
        REPAYMENT_ACCOUNT = #{repaymentAccount},
      </if>  
      <if test="repaymentYesaccount != null" >
        REPAYMENT_YESACCOUNT = #{repaymentYesaccount},
      </if>
      <if test="lateDays != null" >
        LATE_DAYS = #{lateDays},
      </if>  
      <if test="lateInterest != null" >
        LATE_INTEREST = #{lateInterest},
      </if>
      <if test="interest != null" >
        INTEREST = #{interest},
      </if>  
      <if test="capital != null" >
        CAPITAL = #{capital},
      </if>
      <if test="addtime != null and addtime != ''" >
        ADDTIME = #{addtime},
      </if>  
      <if test="addip != null and addip != ''" >
        ADDIP = #{addip},
      </if>
      <if test="advancetime != null" >
        ADVANCETIME = #{advancetime},
      </if>  
      <if test="advanceYesAmount != null" >
        ADVANCE_YESACCOUNT = #{advanceYesAmount},
      </if>
      <if test="afterwebpayLateDay != null" >
        AFTERWEBPAY_LATE_DAY = #{afterwebpayLateDay},
      </if>  
      <if test="isRepairInterest != null" >
        IS_REPAIR_INTEREST = #{isRepairInterest},
      </if>  
      <if test="repairInterestTime != null" >
        REPAIR_INTEREST_TIME = #{repairInterestTime}
      </if>          
    </set>
    where ID = #{id}
  </update>
	  	<!-- 根据id获得待还记录并锁定 -->
	<select id="queryBRepaymentRecordByIdForupdate" parameterType="java.lang.Integer" resultMap="bRepaymentRecordVoResultMap" >
		SELECT  
			 <include refid="bRepaymentRecordBaseColumn"/>
		FROM rocky_b_repaymentrecord r
		WHERE r.id = #{id} for update
  	</select>


	<!-- 根据id获得待还 -->
	<select id="queryBRepaymentRecordById" parameterType="java.lang.Integer" resultMap="bRepaymentRecordVoResultMap" >
		SELECT
		<include refid="bRepaymentRecordBaseColumn"/>
		FROM rocky_b_repaymentrecord r
		WHERE r.id = #{id}
	</select>

	<!-- 关联借款标结果集 -->
	<resultMap type="com.cxdai.console.borrow.manage.vo.BRepaymentRecordVo" id="bRepaymentBorrowVoResultMap" extends="bRepaymentRecordVoResultMap">
		<result property="name"                    column="NAME"/>
	</resultMap>
	
	<!--基本列 -->
	<sql id="bRepaymentRecordBaseColumn">
		r.ID, 
		r.STATUS, 
		r.WEBSTATUS, 
		r.ORDER, 
		r.BORROW_ID, 
		r.REPAYMENT_TIME, 
		r.REPAYMENT_YESTIME, 
		r.REPAYMENT_ACCOUNT,
		r.REPAYMENT_YESACCOUNT,		
		r.LATE_DAYS,
		r.LATE_INTEREST,
		r.INTEREST,
		r.CAPITAL,
		r.ADDTIME,
		r.ADDIP,
		r.USER_ID,
		r.ADVANCETIME,
		r.ADVANCE_YESACCOUNT,
		r.IS_REPAIR_INTEREST,
		r.REPAIR_INTEREST_TIME,
		r.E_SUCCOUNT,
		r.E_SUCSUM,
		r.E_FAILCOUNT,
		r.E_FAILSUM,
		r.IS_CUSTODY
	</sql>
  	
  	<!-- 根据借款标id查询待还集合 -->
	<select id="queryRepaymentByBorrowId" parameterType="java.lang.Integer" resultMap="bRepaymentBorrowVoResultMap" >
		SELECT 
			 b.NAME,
			 <include refid="bRepaymentRecordBaseColumn"/>
	    from rocky_b_repaymentrecord r 
	    LEFT JOIN rocky_borrow b on	r.BORROW_ID = b.ID 
	    WHERE r.BORROW_ID = #{borrowId} 
	    ORDER BY r.`ORDER`		
  	</select>  	
  	
  	<!-- 根据借款标id查询待还数量-->
	<select id="queryRepaymentByBorrowIdCount" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
		SELECT
			count(r.ID)
		from rocky_b_repaymentrecord r 
		WHERE r.BORROW_ID = #{borrowId} 
  	</select>
  	
  	 <!-- 根据id查找待还记录并锁定-->
	<select id="queryRepaymentByIdForUpdate" parameterType="java.lang.Integer" resultMap="bRepaymentRecordVoResultMap" >
		SELECT 
			 <include refid="bRepaymentRecordBaseColumn"/>
	    from rocky_b_repaymentrecord r 
	    WHERE r.ID = #{id} 
	    FOR UPDATE
  	</select>

	<!-- 根据id查找待还记录-->
	<select id="queryRepaymentById" parameterType="java.lang.Integer" resultMap="bRepaymentRecordVoResultMap" >
		SELECT
		<include refid="bRepaymentRecordBaseColumn"/>
		from rocky_b_repaymentrecord r
		WHERE r.ID = #{id}
	</select>
  	
  	<!-- 查询还款中的借款标集合 -->
  	<select id="selectRepayingBorrow" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"  resultMap="bRepaymentRecordVoResultMap">
		select m.USERNAME,
		b.id borrowId,
    	b.name name,
		b.style style,
		b.BORROWTYPE borrowtype,
		b.TIME_LIMIT timeLimit,
		b.APR apr,
		b.CONTRACT_NO as contractNo,
		b.SUCCESS_TIME as successTime,
		<include refid="bRepaymentRecordBaseColumn" />  
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m 
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID
	and 1=1
	<include refid="where_manager"/>
	<if test="status == null || status == ''">
		and r.`STATUS` IN (0,4)
	</if>
	<if test="status != null and status != ''">
		and r.`STATUS`= #{status}
	</if>
	<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''">
		and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	</if>
	<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''">
		and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	</if>
	<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''">
		and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	</if>
	<if test="isOfficial != null and isOfficial == 1">
		and b.BORROWTYPE in(1,2,5)
	</if>
	<if test="repaymentStatus != null and repaymentStatus !='' and repaymentStatus == 1">
		and r.WEBSTATUS=0
	</if>
	<if test="repaymentStatus != null and repaymentStatus !='' and repaymentStatus == 2">
		and r.WEBSTATUS=1
	</if>
	<if test="isCustody!=null and isCustody!='' and isCustody==0">
		and (b.is_custody=0 or b.is_custody is null)
	</if>
	<if test="isCustody!=null and isCustody!='' and isCustody==1">
		and b.is_custody=1
	</if>
	<if test="cgWebstatus != null and cgWebstatus !='' ">
		and r.WEBSTATUS=5
	</if>
	<if test="cgWebstatus == null || cgWebstatus =='' ">
		and r.WEBSTATUS != 5
	</if>
	order by r.REPAYMENT_TIME asc
</select>




		<!-- 统计待还总额 -->
<select id="sumWaitRepayMoney" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"  resultType="java.math.BigDecimal">
select
IFNULL(SUM(r.REPAYMENT_ACCOUNT),0)
from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m
where r.BORROW_ID = b.ID AND m.ID = b.USER_ID
and 1=1
<include refid="where_manager"/>
<if test="status == null || status == ''">
	and r.`STATUS` =0
</if>
<if test="status != null and status != ''">
	and r.`STATUS`= #{status}
</if>
<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''">
	and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
</if>
<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''">
	and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
</if>
<if test="isOfficial != null and isOfficial == 1">
	and b.BORROWTYPE in(1,2,5)
</if>
<if test="repaymentStatus != null and repaymentStatus !='' and repaymentStatus == 1">
	and r.WEBSTATUS=0
</if>
<if test="repaymentStatus != null and repaymentStatus !='' and repaymentStatus == 2">
	and r.WEBSTATUS=1
</if>
order by r.REPAYMENT_TIME asc
</select>
	 
	<!-- 查询还款中的借款标数量-->
	<select id="selectRepayingBorrowCount"  parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultType="java.lang.Integer" >
		select count(r.id)  
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m 
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID
		and 1=1
		<include refid="where_manager"/>
		<if test="status == null || status == ''">
			and r.`STATUS` IN (0,4)
		</if>
		<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	  	</if> 
	  	<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	  	</if>
	  	<if test="isOfficial != null and isOfficial == 1"> 
			and b.BORROWTYPE in(1,2,5)
	  	</if>
	  	<if test="repaymentStatus != null and repaymentStatus !='' and repaymentStatus == 1"> 
			and r.WEBSTATUS=0
	  	</if>
	  	<if test="repaymentStatus != null and repaymentStatus !='' and repaymentStatus == 2"> 
			and r.WEBSTATUS=1
	  	</if>
		<if test="cgWebstatus != null and cgWebstatus !='' ">
			and r.WEBSTATUS=5
		</if>
		<if test="cgWebstatus == null || cgWebstatus =='' ">
			and r.WEBSTATUS != 5
		</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>
  	</select>
  	
  	<!--还款查询条件  -->
 	<sql id="where_manager">
		<if test="name != null and name != ''"> 
			and b.name = trim(#{name})
	  	</if>  
		<if test="userName != null and userName != ''">
			and m.username = trim(#{userName})
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.CONTRACT_NO = trim(#{contractNo})
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (r.is_custody=0 or r.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and r.is_custody=1
	  	</if>
	</sql>
  	
  	<!-- 查询需要补罚息的记录集合 -->
  	<select id="selectRepairInterestList" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultMap="bRepaymentRecordVoResultMap">
		select m.USERNAME,
		b.id borrowId,
		b.name,
		<include refid="bRepaymentRecordBaseColumn"/>
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m 
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID 
		AND r.`STATUS` = 1 AND r.IS_REPAIR_INTEREST =0
		AND 
		CASE WHEN r.WEBSTATUS = 1 THEN
			DATEDIFF(DATE_FORMAT(r.ADVANCETIME,'%Y-%m-%d'), DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d')) > 0
		ELSE
			DATEDIFF(DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_YESTIME),'%Y-%m-%d'), DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d')) > 0
		END
			<include refid="where_manager"/>
		
	</select>
	
	<!-- 查询需要补罚息的记录数量-->
	<select id="selectRepairInterestCount" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultType="java.lang.Integer" >
		select count(r.id)
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m 
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID 
		AND r.`STATUS` = 1 AND r.IS_REPAIR_INTEREST =0
		AND 
		CASE WHEN r.WEBSTATUS = 1 THEN
			DATEDIFF(DATE_FORMAT(r.ADVANCETIME,'%Y-%m-%d'), DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d')) > 0
		ELSE
			DATEDIFF(DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_YESTIME),'%Y-%m-%d'), DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d')) > 0
		END
			<include refid="where_manager"/>
  	</select>
  	
  	<!-- 查询官方标还款记录 -->
  	<select id="selectRepaymentList" parameterType="com.cxdai.console.borrow.manage.vo.BRepaymentRecordCnd" resultMap="bRepaymentRecordVoResultMap">
		select b.id borrowId,
			b.`NAME` as name,
			b.STYLE as style,
			b.TIME_LIMIT as timeLimit,
			b.BORROWTYPE as borrowtype,
			b.APR as apr,
		    m.username,<include refid="bRepaymentRecordBaseColumn"/>
		 from rocky_b_repaymentrecord r,rocky_borrow b ,rocky_member m 
		 where r.BORROW_ID = b.id and b.BORROWTYPE in(1,2,5) and b.`STATUS` in(4,42,5) and b.USER_ID = m.id
		 <if test="name != null and name != ''"> 
			and b.name like CONCAT(#{name}, '%' )
	  	 </if>  
	  	 <if test="username != null and username != ''"> 
			and m.username = #{username}
	  	 </if>
	  	 <if test="borrowtype != null and borrowtype != ''"> 
			and b.BORROWTYPE = #{borrowtype}
	  	 </if>
	  	 <if test="status != null"> 
			and r.STATUS = #{status}
	  	 </if>
	  	 <if test="webstatus != null"> 
			and r.WEBSTATUS = #{webstatus}
	  	 </if>
	  	 <if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	  	 </if>
	  	 <if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	  	 </if>
	  	 <if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>
		 ORDER BY r.status asc, r.REPAYMENT_TIME asc
	</select>
	
	<!-- 查询官方标还款记录数量 -->
	<select id="selectRepaymentListCount" parameterType="com.cxdai.console.borrow.manage.vo.BRepaymentRecordCnd" resultType="java.lang.Integer">
		select count(r.id)
		 from rocky_b_repaymentrecord r,rocky_borrow b ,rocky_member m 
		 where r.BORROW_ID = b.id and b.BORROWTYPE in(1,2,5) and b.`STATUS` in(4,42,5) and b.USER_ID = m.id
		 <if test="name != null and name != ''"> 
			and b.name like CONCAT(#{name}, '%' )
	  	 </if>  
	  	 <if test="username != null and username != ''"> 
			and m.username = #{username}
	  	 </if>
	  	 <if test="borrowtype != null and borrowtype != ''"> 
			and b.BORROWTYPE = #{borrowtype}
	  	 </if>
	  	 <if test="status != null"> 
			and r.STATUS = #{status}
	  	 </if>
	  	 <if test="webstatus != null"> 
			and r.WEBSTATUS = #{webstatus}
	  	 </if>
	  	 <if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	  	 </if>
	  	 <if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	  	 </if>
	  	 <if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>
		 ORDER BY r.status asc, r.REPAYMENT_TIME asc;
	</select>
	
	<!-- 查询官方标还款记录导出Excel -->
	<select id="selectRepaymentListToExcel" parameterType="com.cxdai.console.borrow.manage.vo.BRepaymentRecordCnd" resultType="com.cxdai.console.borrow.manage.vo.BRepaymentRecordCheck">
		select b.`NAME` as borrowName, m.username  as username,
			 CASE WHEN b.STYLE = 1 or b.STYLE = 2 THEN
					 CONCAT(r.`ORDER`,'/',b.TIME_LIMIT)
			 ELSE
					 CONCAT(r.`ORDER`,'/',1)
			 END as periods,
			 r.CAPITAL capital,
			 CASE WHEN (SELECT SUM(c.CAPITAL) FROM rocky_b_collectionrecord c WHERE c.IS_FIRST_BORROW = 1 AND c.BORROW_ID = b.id AND c.`ORDER` = r.`ORDER`) IS null THEN
			 0.00
			 ELSE
			 (SELECT SUM(c.CAPITAL) FROM rocky_b_collectionrecord c WHERE c.IS_FIRST_BORROW = 1 AND c.BORROW_ID = b.id AND c.`ORDER` = r.`ORDER`)
			 END as firstTenderAccount,
			 r.interest interest,
			 CASE WHEN r.status = 0 AND TIMESTAMPDIFF(DAY,DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d'),CURDATE()) > 0 THEN
					 round(r.REPAYMENT_ACCOUNT*0.002*TIMESTAMPDIFF(DAY,DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d'),CURDATE()),2)
			 ELSE
					 r.LATE_INTEREST
			 END as lateInterest,
			 DATE_FORMAT(FROM_UNIXTIME(r.REPAYMENT_TIME),'%Y-%m-%d') as repaymentTimeStr,
			 CASE WHEN r.`STATUS` = 0 AND r.WEBSTATUS = 0 THEN
			 '未还款'
			 WHEN r.`STATUS` = 0 and r.WEBSTATUS = 1 THEN    
			 '已垫付'
			 WHEN r.`STATUS` = 1 THEN
			 '已还款'
		   END as statusStr
		 from rocky_b_repaymentrecord r,rocky_borrow b ,rocky_member m 
		 where r.BORROW_ID = b.id and b.BORROWTYPE in(1,2,5) and b.`STATUS` in(4,42,5) and b.USER_ID = m.id
		 <if test="name != null and name != ''"> 
			and b.name like CONCAT(#{name}, '%' )
	  	 </if>  
	  	 <if test="username != null and username != ''"> 
			and m.username = #{username}
	  	 </if>
	  	 <if test="borrowtype != null and borrowtype != ''"> 
			and b.BORROWTYPE = #{borrowtype}
	  	 </if>
	  	 <if test="status != null"> 
			and r.STATUS = #{status}
	  	 </if>
	  	 <if test="webstatus != null"> 
			and r.WEBSTATUS = #{webstatus}
	  	 </if>
	  	 <if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	  	 </if>
	  	 <if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	  	 </if>
		 ORDER BY r.status asc, r.REPAYMENT_TIME asc;
	</select>
	
	<!-- 查询某标某期之前未还款的记录 -->
	<select id="selectAdvaceRepair" resultType="java.lang.Integer" >
		SELECT count(id) from rocky_b_repaymentrecord r where `ORDER` <![CDATA[ < ]]> #{order} AND BORROW_ID = #{borrowId} AND `STATUS` = 0 AND WEBSTATUS = 0
  	</select>
  	
  	<!-- 根据userId查询待还总额 -->
	<select id="queryNoRepayTotal" parameterType="java.lang.Integer" resultType="java.math.BigDecimal" >
		SELECT SUM(REPAYMENT_ACCOUNT) FROM rocky_b_repaymentrecord where USER_ID =  #{userId} AND `STATUS` = 0
  	</select>
  	
  	 
  	
  	<select id="selectRepayedBorrow" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"  resultMap="bRepaymentRecordVoResultMap">
		select m.USERNAME,
		b.is_custody,
		b.id borrowId,
    	b.name name,
		b.style style,
		b.BORROWTYPE borrowtype,
		b.TIME_LIMIT timeLimit,
		b.APR apr,
		b.CONTRACT_NO as contractNo,dealUserName dealUserName,brl.addtime readRepaymentTime,
		<include refid="bRepaymentRecordBaseColumn" />  
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m ,rocky_b_repaymentrecord_log brl
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID  and r.id= brl.repaymentrecordid
		and r.`STATUS` = 1
  		<include refid="where_manager"/>
  		<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	  	</if> 
	  	<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	  	</if> 
	  	<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>
		order by r.REPAYMENT_TIME asc
	</select>
	
	<select id="selectCountRepayedBorrow"  parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultType="java.lang.Integer" >
		select count(r.id)  
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m ,rocky_b_repaymentrecord_log brl
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID and r.id= brl.repaymentrecordid
		and r.`STATUS` = 1 
		<include refid="where_manager"/>
		<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
	  	</if> 
	  	<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''"> 
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>
  	</select>
  	
    <!-- 根据响应更新待还表 -->
  	<update id="updateByResponse" parameterType="com.cxdai.console.borrow.manage.vo.RepayResBiz" >
  	    UPDATE rocky_b_repaymentrecord set E_succount=IFNULL(E_succount,0)+#{succount},E_sucsum=IFNULL(E_sucsum,0)+ #{sucsum},
  	           E_failcount=IFNULL(E_failcount,0)+ #{failcount},E_failsum=IFNULL(E_failsum,0)+ #{failsum},STATUS = 4 
		 WHERE ID = #{reapaymentId} and STATUS=0
  	</update>

	<!-- 根据借款标项目ID查找银行还款中的待还记录并锁定-->
	<select id="queryRepaymentByProjectId" parameterType="java.lang.String" resultMap="bRepaymentRecordVoResultMap" >
		SELECT
		<include refid="bRepaymentRecordBaseColumn"/>
		from rocky_b_repaymentrecord r
		WHERE  r.STATUS =4  AND r.BORROW_ID=(SELECT  ID FROM rocky_borrow WHERE  E_ProjectId = #{eProjectId})
		FOR UPDATE
	</select>

	<!-- 银行本息还款更新待还记录 -->
	<update id="updateRepayRecord" parameterType="java.util.Map" >
		UPDATE rocky_b_repaymentrecord
		SET  STATUS = 1,
			 REPAYMENT_YESACCOUNT= #{repayment_money,jdbcType=DECIMAL},
			 REPAYMENT_YESTIME = UNIX_TIMESTAMP()
		WHERE ID = #{reapaymentId, jdbcType=INTEGER} AND STATUS = 4
	</update>

	<!-- 查询垫付未还款记录-->
	<select id="selectDFWHCount" resultType="java.lang.Integer"  >
		SELECT
			COUNT(1)
		FROM
			ROCKY_B_REPAYMENTRECORD
		where
			BORROW_ID = #{borrowId} and `STATUS` = 0 and WEBSTATUS = 1
	</select>

	<!-- 查询上一期还款记录-->
	<select id="selectPrevRepayMent" parameterType="java.util.Map"  resultMap="bRepaymentRecordVoResultMap"  >
		SELECT <include refid="bRepaymentRecordBaseColumn"/>
		FROM rocky_b_repaymentrecord r
		where r.BORROW_ID = #{borrowId} AND r.`ORDER`= #{order}-1
	</select>



	<!-- 查询还款中的借款标数量-->
	<select id="selectRepayFailCount"  parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultType="java.lang.Integer" >
		select count(r.id)
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID
		and (r.`STATUS`=1 OR r.`STATUS`=4) and r.E_FAILCOUNT>0 and r.IS_CUSTODY=1
		<include refid="where_manager"/>
		<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''">
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
		</if>
		<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''">
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
		</if>
		<if test="isOfficial != null and isOfficial == 1">
			and b.BORROWTYPE in(1,2,5)
		</if>
	</select>

	<select id="selectRepayFail" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"  resultMap="bRepaymentRecordVoResultMap">
		select m.USERNAME,
		b.id borrowId,
		b.name name,
		b.style style,
		b.BORROWTYPE borrowtype,
		b.TIME_LIMIT timeLimit,
		b.APR apr,
		b.CONTRACT_NO as contractNo,
		<include refid="bRepaymentRecordBaseColumn" />
		from rocky_b_repaymentrecord r,rocky_borrow b,rocky_member m
		where r.BORROW_ID = b.ID AND m.ID = b.USER_ID
		and (r.`STATUS`=1 OR r.`STATUS`=4) and r.E_FAILCOUNT>0 and r.IS_CUSTODY=1
		<include refid="where_manager"/>
		<if test="repaymentTimeBeginStr != null and repaymentTimeBeginStr != ''">
			and r.REPAYMENT_TIME <![CDATA[ >= ]]> #{repaymentTimeBeginStr}
		</if>
		<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''">
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
		</if>
		<if test="repaymentTimeEndStr != null and repaymentTimeEndStr != ''">
			and r.REPAYMENT_TIME <![CDATA[ <= ]]> #{repaymentTimeEndStr}
		</if>
		<if test="isOfficial != null and isOfficial == 1">
			and b.BORROWTYPE in(1,2,5)
		</if>
		order by r.REPAYMENT_TIME asc
	</select>

	<insert id="insert" parameterType="com.cxdai.console.borrow.manage.vo.BRepaymentRecordVo" >
    
    insert into rocky_b_repaymentrecord (STATUS, WEBSTATUS, 
      ORDER, BORROW_ID, REPAYMENT_TIME, 
      REPAYMENT_YESTIME, REPAYMENT_ACCOUNT, REPAYMENT_YESACCOUNT, 
      LATE_DAYS, LATE_INTEREST, INTEREST, 
      CAPITAL, ADDTIME, ADDIP, 
      USER_ID, ADVANCETIME, ADVANCE_YESACCOUNT, 
      AFTERWEBPAY_LATE_DAY, IS_REPAIR_INTEREST, REPAIR_INTEREST_TIME, 
      PLATFORM, E_SUCCOUNT, E_SUCSUM, 
      E_FAILCOUNT, E_FAILSUM, IS_CUSTODY
      )
    values (#{status,jdbcType=INTEGER}, #{webstatus,jdbcType=INTEGER}, 
      #{order,jdbcType=INTEGER}, #{borrowId,jdbcType=INTEGER}, #{repaymentTime,jdbcType=VARCHAR}, 
      #{repaymentYestime,jdbcType=VARCHAR}, #{repaymentAccount,jdbcType=DECIMAL}, #{repaymentYesaccount,jdbcType=DECIMAL}, 
      #{lateDays,jdbcType=INTEGER}, #{lateInterest,jdbcType=DECIMAL}, #{interest,jdbcType=DECIMAL}, 
      #{capital,jdbcType=DECIMAL}, #{addtime,jdbcType=VARCHAR}, #{addip,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{advancetime,jdbcType=TIMESTAMP}, #{advanceYesaccount,jdbcType=DECIMAL}, 
      #{afterwebpayLateDay,jdbcType=INTEGER}, #{isRepairInterest,jdbcType=INTEGER}, #{repairInterestTime,jdbcType=TIMESTAMP}, 
      #{platform,jdbcType=BIT}, #{eSuccount,jdbcType=INTEGER}, #{eSucsum,jdbcType=DECIMAL}, 
      #{eFailcount,jdbcType=INTEGER}, #{eFailsum,jdbcType=DECIMAL}, #{isCustody,jdbcType=BIT}
      )
  </insert>
  
  <insert id="insertRepaymentrecord" parameterType="com.cxdai.console.borrow.manage.vo.BRepaymentRecordVo">
     INSERT INTO rocky_b_repaymentrecord (`STATUS`,WEBSTATUS,`ORDER`, BORROW_ID, REPAYMENT_TIME, REPAYMENT_ACCOUNT, INTEREST, CAPITAL, ADDTIME, ADDIP, USER_ID, IS_REPAIR_INTEREST,IS_CUSTODY) 

     VALUES (#{status},#{webstatus},#{order}, #{borrowId}, #{repaymentTime}, #{repaymentAccount}, #{interest}, #{capital}, UNIX_TIMESTAMP(), addip, #{userId}, #{isRepairInterest},#{isCustody});
  </insert>

	<!-- 根据借款标id查询待还数量-->
	<select id="queryWebpayCount" parameterType="java.lang.Integer" resultType="java.lang.Integer" >
		SELECT
			count(ID)
		FROM
			rocky_b_repaymentrecord
		WHERE `STATUS` = 0 AND WEBSTATUS = 1 AND BORROW_ID = #{borrowId};
	</select>

	<!-- 查询应还总额 -->
	<select id="queryRepayTotalByBorrowId" resultType="java.math.BigDecimal">
		SELECT
			IFNULL(SUM(REPAYMENT_ACCOUNT), 0)
		FROM
			rocky_b_repaymentrecord
		WHERE `STATUS` = 0 AND BORROW_ID = #{borrowId}
	</select>


	<!-- 查询应还总额 -->
	<select id="getCurrentOrder" resultMap="orderRangeMap">
		SELECT t.startTime AS startTime, t.endTime AS endTime , t.`ORDER` AS `order`
		FROM (
			  SELECT
				@sartTime := IFNULL((SELECT FROM_UNIXTIME(br.REPAYMENT_TIME, '%Y-%m-%d') FROM rocky_b_repaymentrecord br
				WHERE br.BORROW_ID = r.BORROW_ID AND br.`ORDER` = r.`ORDER` -1), FROM_UNIXTIME(r.ADDTIME, '%Y-%m-%d')) as startTime,
				FROM_UNIXTIME(r.REPAYMENT_TIME, '%Y-%m-%d') as endTime,
				r.`ORDER` FROM (
							SELECT FROM_UNIXTIME(rr.REPAYMENT_TIME, '%Y-%m-%d') as endTime, rr.* FROM rocky_b_repaymentrecord rr
							where `STATUS` = 0 AND BORROW_ID = #{borrowId} ORDER BY `ORDER` ASC
		   		) r,
		   		(SELECT @sartTime := 0) b
		) t
		WHERE t.endTime >= CURDATE() ORDER BY t.`ORDER` ASC LIMIT 1
	</select>


	<!-- 查询下一期待还记录 -->
	<select id="selectNextRepayMent" parameterType="java.util.Map"  resultMap="bRepaymentRecordVoResultMap"  >
		SELECT <include refid="bRepaymentRecordBaseColumn"/>
		FROM rocky_b_repaymentrecord r
		where r.BORROW_ID = #{borrowId} AND r.`ORDER`= #{order}+1  AND r.`STATUS` = 0
	</select>


</mapper>  