<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.borrow.manage.mapper.CGRepayMentMapper">

	<!-- 本息还款更新投标记录 -->
	<update id="updateTenderrecord" parameterType="java.util.Map" >
		UPDATE rocky_b_tenderrecord
		set REPAYMENT_YESACCOUNT = REPAYMENT_YESACCOUNT+#{repayment_money},
		    REPAYMENT_YESINTEREST = REPAYMENT_YESINTEREST+#{collection_interest}
		WHERE id = #{tenderrecordId}
	</update>


	<!-- 还款完成更新投标记录状态 -->
	<update id="updateTenderrecordStatus" parameterType="java.util.Map" >
         UPDATE rocky_b_tenderrecord
		 set STATUS = #{status}
		 WHERE BORROW_ID  = #{borrowId} AND STATUS = 1
	</update>

	<!-- 还款完成更新借款标状态 -->
	<update id="updateBorrowStatus" parameterType="java.util.Map" >
		 UPDATE rocky_borrow rb
		 SET STATUS =  #{status}
		 WHERE ID = #{borrowId}
	</update>

	<!-- 还款完成更新借款标状态 -->
	<update id="updateTenderrecordStatusById" parameterType="java.util.Map" >
		 UPDATE rocky_b_tenderrecord
		 set STATUS = #{status}
		 WHERE id = #{tenderrecordId}
	</update>

	<!-- 累计待还总额 -->
	<select id="queryRepayTotalByBorrowId" resultType="java.math.BigDecimal" >
		SELECT
			IFNULL(SUM(REPAYMENT_ACCOUNT), 0)
		FROM
			rocky_b_repaymentrecord
		WHERE BORROW_ID = #{borrowId} AND `STATUS` = 0
	</select>

	<!-- 更新某期待还记录 -->
	<update id="updatePrevRepaymentByMap" parameterType="java.util.Map" >
		UPDATE
		rocky_b_repaymentrecord
		SET `STATUS` = 1, REPAY_YESACCOUNT = REPAY_ACCOUNT, REPAY_YESTIME = UNIX_TIMESTAMP()
		WHERE BORROW_ID = #{borrowId}
		AND USER_ID =  #{userId}
		AND `STATUS` = 0
		AND `ORDER` = #{lastOrder}
	</update>

	<!-- 更新当期待还记录 -->
	<update id="updateCurrentRepaymentByMap" parameterType="java.util.Map" >
		UPDATE
		rocky_b_repaymentrecord
		SET `STATUS` = 1, REPAYMENT_YESACCOUNT = CAPITAL+#{collection_current_interest_total},
			REPAYMENT_YESTIME = UNIX_TIMESTAMP()
		WHERE BORROW_ID = #{borrowId}
		AND USER_ID =  #{userId}
		AND `STATUS` = 0
		AND `ORDER` = #{order}
	</update>

	<!-- 更新当期以后待还记录 -->
	<update id="updateAfterRepaymentByMap" parameterType="java.util.Map" >
		UPDATE
		rocky_b_repaymentrecord
		SET `STATUS` = 1, REPAYMENT_YESACCOUNT = CAPITAL,
		REPAYMENT_YESTIME = UNIX_TIMESTAMP()
		WHERE BORROW_ID = #{borrowId}
		AND USER_ID =  #{userId}
		AND `STATUS` = 0
		AND `ORDER` > #{order}
	</update>


	<!-- 更新平台垫付待收记录 -->
	<update id="updateCollectionForWebpay" parameterType="java.util.Map" >
		UPDATE
		rocky_b_collectionrecord
		SET
			REPAY_YESACCOUNT = #{repay_yesaccount},
			STATUS = #{status},
			ADVANCE_YESACCOUNT = #{advance_yesaccount},
			ADVANCETIME = CURRENT_TIMESTAMP(),
			LATE_DAYS = #{lateday},
			LATE_INTEREST = #{late_interest}
		WHERE ID = #{collection_id}
	</update>


	<!-- 更新平台正常还款待收记录 -->
	<update id="updateCollectionForNormalRepay" parameterType="java.util.Map" >
		UPDATE
			rocky_b_collectionrecord
		SET
			REPAY_YESACCOUNT = REPAY_ACCOUNT,
			LATE_DAYS = #{lateday},
			LATE_INTEREST = #{late_interest}
		WHERE ID = #{collection_id}
	</update>


	<!-- 更新平台提前还款待收记录 -->
	<update id="updateCollectionForEarlyRepay" parameterType="java.util.Map" >
		UPDATE
			rocky_b_collectionrecord
		SET
			REPAY_YESACCOUNT = REPAY_ACCOUNT-#{early_interest}
		WHERE ID = #{collection_id}
	</update>

	<!-- 更新平台垫付待还记录 -->
	<update id="updateRepayMentForWebpay" parameterType="java.util.Map" >
		UPDATE
			rocky_b_repaymentrecord
		<set>
			<if test="webStatus != null">
				WEBSTATUS= #{webStatus},
			</if>
			<if test="advance_yesaccount  != null">
				ADVANCE_YESACCOUNT=#{advance_yesaccount},
			</if>
			<if test="advanceTime != null">
				ADVANCETIME=CURRENT_TIMESTAMP(),
			</if>
			<if test="lateday != null">
				LATE_DAYS =  #{lateday},
			</if>
			<if test="late_interest != null">
				LATE_INTEREST =  #{late_interest},
			</if>
		</set>
		WHERE ID = #{repaymentId}
	</update>

	<!-- 更新平台垫付待还记录 -->
	<update id="updateRepayMentWebStatusByID" parameterType="java.util.Map" >
		UPDATE
		rocky_b_repaymentrecord
		SET WEBSTATUS= #{status}
		WHERE ID = #{repaymentId}
	</update>

	<update id="updateCollectionStatusByID" >
		UPDATE
			rocky_b_collectionrecord
		SET
			STATUS = #{status}
		WHERE
			ID = #{collectionId}
	</update>

	<update id="updateRepayMentAccount" >
		UPDATE
			rocky_b_repaymentrecord
		SET
			REPAYMENT_YESACCOUNT=#{repay_yesaccount},PLATFORM = 3
		WHERE
			ID = #{repaymentId}
	</update>


</mapper>  