<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxdai.console.maintain.cms.mapper.CmsPediaEntryMapper" >
  <resultMap id="BaseResultMap" type="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="THUMBNAIL" property="thumbnail" jdbcType="VARCHAR" />
    <result column="INITIALS" property="initials" jdbcType="CHAR" />
    <result column="SEO_TITLE" property="seoTitle" jdbcType="VARCHAR" />
    <result column="SEO_DESCRIPTION" property="seoDescription" jdbcType="VARCHAR" />
    <result column="SEO_KEYWORDS" property="seoKeywords" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="CREATE_BY" property="createBy" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" extends="BaseResultMap" >
    <result column="DESC" property="desc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, THUMBNAIL, INITIALS, SEO_TITLE, SEO_DESCRIPTION, SEO_KEYWORDS, STATUS, 
    CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME
  </sql>
  <sql id="Blob_Column_List" >
    `DESC`
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_cms_pedia_entry
    where ID = #{id,jdbcType=INTEGER}   
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_cms_pedia_entry
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" >
    insert into t_cms_pedia_entry (ID, NAME, THUMBNAIL, 
      INITIALS, SEO_TITLE, SEO_DESCRIPTION, 
      SEO_KEYWORDS, STATUS, CREATE_BY, 
      CREATE_TIME, UPDATE_BY, UPDATE_TIME, 
      `DESC`)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, 
      #{initials,jdbcType=CHAR}, #{seoTitle,jdbcType=VARCHAR}, #{seoDescription,jdbcType=VARCHAR}, 
      #{seoKeywords,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createBy,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{desc,jdbcType=LONGVARCHAR})
       <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   	   </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" >
    insert into t_cms_pedia_entry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="thumbnail != null" >
        THUMBNAIL,
      </if>
      <if test="initials != null" >
        INITIALS,
      </if>
      <if test="seoTitle != null" >
        SEO_TITLE,
      </if>
      <if test="seoDescription != null" >
        SEO_DESCRIPTION,
      </if>
      <if test="seoKeywords != null" >
        SEO_KEYWORDS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="desc != null" >
        `DESC`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="initials != null" >
        #{initials,jdbcType=CHAR},
      </if>
      <if test="seoTitle != null" >
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null" >
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
     <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   	   </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" >
    update t_cms_pedia_entry
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="thumbnail != null" >
        THUMBNAIL = #{thumbnail,jdbcType=VARCHAR},
      </if>
      <if test="initials != null" >
        INITIALS = #{initials,jdbcType=CHAR},
      </if>
      <if test="seoTitle != null" >
        SEO_TITLE = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null" >
        SEO_DESCRIPTION = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null" >
        SEO_KEYWORDS = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null" >
        `DESC` = #{desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" >
    update t_cms_pedia_entry
    set NAME = #{name,jdbcType=VARCHAR},
      THUMBNAIL = #{thumbnail,jdbcType=VARCHAR},
      INITIALS = #{initials,jdbcType=CHAR},
      SEO_TITLE = #{seoTitle,jdbcType=VARCHAR},
      SEO_DESCRIPTION = #{seoDescription,jdbcType=VARCHAR},
      SEO_KEYWORDS = #{seoKeywords,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      CREATE_BY = #{createBy,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      `DESC` = #{desc,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntry" >
    update t_cms_pedia_entry
    set NAME = #{name,jdbcType=VARCHAR},
      THUMBNAIL = #{thumbnail,jdbcType=VARCHAR},
      INITIALS = #{initials,jdbcType=CHAR},
      SEO_TITLE = #{seoTitle,jdbcType=VARCHAR},
      SEO_DESCRIPTION = #{seoDescription,jdbcType=VARCHAR},
      SEO_KEYWORDS = #{seoKeywords,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      CREATE_BY = #{createBy,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryCmsPediaEntryListForPage"    parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntryCnd"    resultMap="BaseResultMap"   >
   select * from  t_cms_pedia_entry  
   <include refid="whereSql"/>   
  </select>
  
  <select id="getCountCmsPediaEntryListForPage"   parameterType="com.cxdai.console.maintain.cms.entity.CmsPediaEntryCnd"    resultType="java.lang.Integer"   >
   select count(1) from  t_cms_pedia_entry
   <include refid="whereSql"/>  
  </select>
  
  <sql id="whereSql">
     <where>
            STATUS = 0  
	       <if test="name!=null and name !='' ">
	        and   name  like  concat(#{name},'%')
	       </if>
     </where>
  </sql>
  
     <delete id="deleteByIds"    >
	    update   t_cms_pedia_entry  set status=1 
		    where id in 
		     <foreach collection="cmsPediaEntryIds" item="id"  open="(" separator="," close=")">  
			        #{id}  
			  </foreach>  
  </delete>
  
   <select id="getPediaEntryByName"    parameterType="java.util.Map"    resultMap="BaseResultMap"   >
      select * from  t_cms_pedia_entry  where  name=#{name}  and STATUS = 0  
      <if test="id != null">
       and  id != #{id}
      </if>
   </select>
  
  
</mapper>