<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.base.mapper.BaseMobileApproMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.base.entity.MobileAppro" id="mobileApproResultMap">
		<id property="id" column="id" />
		<result property="userId" 		column="USER_ID" />
		<result property="randCode" 	column="RANDCODE" />
		<result property="mobileNum"	column="MOBILENUM" />
		<result property="passed"		column="PASSED" />
		<result property="addTime"		column="ADDTIME" />
		<result property="addIp"		column="ADDIP" />
		<result property="approTime"	column="APPROTIME" />
		<result property="platform"		column="PLATFORM" />
	</resultMap>
	
	<!--基本列 -->
	<sql id="mobileApproBaseColumn">
		m.ID, 
		m.USER_ID, 
		m.MOBILENUM, 
		m.RANDCODE, 
		m.PASSED, 
		m.ADDTIME,
		m.ADDIP,
		m.APPROTIME,
		m.PLATFORM
	</sql>
	
	<!-- 插入记录，返回主键 -->
	<insert id="insertEntity" parameterType="com.cxdai.console.base.entity.MobileAppro">
		INSERT INTO rocky_mobile_appro 
		(USER_ID,	MOBILENUM,	RANDCODE,	PASSED,	ADDTIME,	ADDIP,	APPROTIME, PLATFORM)
		VALUES
		(#{userId},#{mobileNum},#{randCode},#{passed},#{addTime},#{addIp},#{approTime}, #{platform})
		
 		 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
	</insert>
	
  	<!-- 根据ID查询 -->
	<select id="queryById" parameterType="java.lang.Integer" resultMap="mobileApproResultMap" >
		select 	
		   <include refid="mobileApproBaseColumn"/>
		from
			rocky_mobile_appro m
		where 1=1
		and m.id=#{id}
  	</select>
  	
  	<!-- 根据userId查询 -->
  	<select id="queryByUserId" parameterType="java.lang.Integer" resultMap="mobileApproResultMap" >
		select 	
		   <include refid="mobileApproBaseColumn"/>
		from
			rocky_mobile_appro m
		where 1=1
		and m.user_id=#{userId}
  	</select>
	
  <!-- 更新-->
  <update id="updateEntity" parameterType="com.cxdai.console.base.entity.MobileAppro" >
    update rocky_mobile_appro
    <set >
      <if test="mobileNum != null" >
        MOBILENUM = #{mobileNum},
      </if>
      <if test="randCode != null" >
        RANDCODE = #{randCode},
      </if>
      <if test="passed != null" >
        PASSED = #{passed},
      </if>
      <if test="addTime != null" >
        ADDTIME = #{addTime},
      </if>
      <if test="addIp != null" >
        ADDIP = #{addIp},
      </if>
      <if test="approTime != null" >
        APPROTIME = #{approTime},
      </if>
      <if test="platform != null" >
        PLATFORM = #{platform},
      </if>
    </set>
    where ID = #{id}
  </update>
  	
</mapper>  