<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.base.mapper.BaseFirstBorrowApprMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.base.entity.FirstBorrowAppr" id="firstBorrowApprResultMap">
		<id property="id" column="id" />
		<result property="userId" 					column="USER_ID" />
		<result property="apprTime" 				column="APPR_TIME" />
		<result property="status" 					column="STATUS" />
		<result property="remark" 					column="RAMARK" />
		<result property="style"	    			column="STYLE" />
		<result property="firstBorrowId"  			column="FIRST_BORROW_ID" />
		<result property="firstTenderRealId"  		column="FIRST_TENDER_REAL_ID" />
		<result property="firstTenderDetailId"  	column="FIRST_TENDER_DETAIL_ID" />
	</resultMap>
	
	<!--基本列 -->
	<sql id="firstBorrowApprBaseColumn">
		a.ID, 
		a.USER_ID, 
		a.APPR_TIME, 
		a.STATUS, 
		a.RAMARK, 
		a.STYLE, 
		a.FIRST_BORROW_ID,
		a.FIRST_TENDER_REAL_ID,
		a.FIRST_TENDER_DETAIL_ID
	</sql>
	
	<!-- 插入记录，返回主键 -->
	<insert id="insertEntity" parameterType="com.cxdai.console.base.entity.FirstBorrowAppr">
		INSERT INTO t_first_borrow_appr 
		(USER_ID,	APPR_TIME,	STATUS,	RAMARK,	STYLE,	FIRST_BORROW_ID, FIRST_TENDER_REAL_ID, FIRST_TENDER_DETAIL_ID)
		VALUES
		(#{userId},#{apprTime},#{status},#{remark},	#{style},#{firstBorrowId}, #{firstTenderRealId}, #{firstTenderDetailId})
		
 		 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
	</insert>
	
  	<!-- 根据ID查询 -->
	<select id="queryById" parameterType="java.lang.Integer" resultMap="firstBorrowApprResultMap" >
		select 	
		   <include refid="firstBorrowApprBaseColumn"/>
		from
			t_first_borrow_appr a
		where 1=1
		and a.id=#{id}
  	</select>
	
</mapper>  