<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.base.mapper.BaseEmailApproMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.customer.information.vo.EmailAppro" id="emailApproResultMap">
		<id property="id" column="id" />
		<result property="userId" 			column="USER_ID" />
		<result property="randUUID" 		column="RANDUUID" />
		<result property="checked" 			column="CHECKED" />
		<result property="apprTime" 		column="APPRTIME" />
		<result property="apprIp"	    	column="APPRIP" />
	</resultMap>
	
	<!--基本列 -->
	<sql id="emailApproBaseColumn">
		a.ID, 
		a.USER_ID, 
		a.RANDUUID,
		a.CHECKED, 
		a.APPRTIME, 
		a.APPRIP
	</sql>
	
	<!-- 插入记录，返回主键 -->
	<insert id="insertEntity" parameterType="com.cxdai.console.customer.information.vo.EmailAppro">
		INSERT INTO ROCKY_EMAIL_APPRO
		(USER_ID,	RANDUUID,	CHECKED,	APPRTIME,	APPRIP, PLATFORM)
		VALUES
		(#{userId},#{randUUID},#{checked},#{apprTime},	#{apprIp}, #{platform})
		
 		 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
	</insert>
	
  	<!-- 根据ID查询 -->
	<select id="queryById" parameterType="java.lang.Integer" resultMap="emailApproResultMap" >
		select 	
		   <include refid="emailApproBaseColumn"/>
		from
			ROCKY_EMAIL_APPRO a
		where 1=1
		and a.id=#{id}
  	</select>
	
  <!-- 更新-->
  <update id="updateEntity" parameterType="com.cxdai.console.customer.information.vo.EmailAppro" >
    update ROCKY_EMAIL_APPRO
    <set >
      <if test="checked != null" >
        CHECKED = #{checked},
      </if>
      <if test="apprTime != null" >
        APPRTIME = #{apprTime},
      </if>
      <if test="apprIp != null" >
        APPRIP = #{apprIp},
      </if>      
    </set>
    where ID = #{id}
  </update>
  	
</mapper>  