<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.base.mapper.BaseBlackListMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.base.entity.BlackList" id="blackListResultMap">
		<id property="id" column="id" />
		<result property="userId" 				column="USER_ID" />
		<result property="type" 				column="TYPE" />
		<result property="status" 				column="STATUS" />
		<result property="addId" 				column="ADD_ID" />
		<result property="addTime"	   		 	column="ADDTIME" />
		<result property="addIp"  				column="ADDIP" />
		<result property="remark" 				column="REMARK" />
		<result property="updateId" 			column="update_id" />
		<result property="uptime"	   		 	column="uptime" />
		<result property="updateIp"  			column="update_ip" />
		<result property="updateRemark" 		column="update_remark" />
	</resultMap>
	
	<!--基本列 -->
	<sql id="blackListBaseColumn">
		b.ID, 
		b.USER_ID, 
		b.TYPE,
		b.STATUS, 
		b.ADD_ID, 
		b.ADDTIME, 
		b.ADDIP, 
		b.REMARK,
		b.uptime,
		b.update_id,
		b.update_ip,
		b.update_remark
	</sql>
	
	<!-- 插入记录，返回主键 -->
	<insert id="insertEntity" parameterType="com.cxdai.console.base.entity.BlackList">
		INSERT INTO rocky_black_list 
		(USER_ID, TYPE, STATUS, ADD_ID, ADDTIME, ADDIP, REMARK, uptime, update_id, update_ip, update_remark)
		VALUES
		(#{userId}, #{type}, #{status}, #{addId}, #{addTime}, #{addIp}, #{remark}, #{uptime}, #{updateId}, #{updateIp}, #{updateRemark})
 		 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
	</insert>
	
  	<!-- 根据ID查询 -->
	<select id="queryById" parameterType="java.lang.Integer" resultMap="blackListResultMap" >
		select 	
		   <include refid="blackListBaseColumn"/>
		from
			rocky_black_list b
		where 1=1
		and b.id=#{id}
  	</select>
	
  <!-- 更新新闻公告类 -->
  <update id="updateEntity" parameterType="com.cxdai.console.base.entity.BlackList" >
    update rocky_black_list
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="addId != null" >
        ADD_ID = #{addId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        ADDTIME = #{addTime},
      </if>
      <if test="addIp != null" >
        ADDIP = #{addIp,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="uptime != null" >
         uptime = #{uptime},
      </if>
      <if test="updateIp != null" >
        update_ip = #{updateIp,jdbcType=VARCHAR},
      </if>
      <if test="updateRemark != null" >
        update_remark = #{updateRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id}
  </update>
  	
</mapper>  