<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.sycee.mapper.SyceeExchangeMapper">

<resultMap type="com.cxdai.console.sycee.entity.SyceeExchange" id="BaseResultMap">
	<id 	property="id" 				column="id" />
	<result property="syceeGoodsId" 	column="sycee_goods_id" />
	<result property="userId" 			column="user_id" />
	<result property="exchangeTime"		column="exchange_time" />
	<result property="dealStatus"		column="deal_status" />
	<result property="dealUser"			column="deal_user" />
	<result property="dealUsername"		column="deal_username" />
	<result property="dealTime"			column="deal_time" /> 
	<result property="dealRemark"		column="deal_remark" />
	<result property="username"		    column="username" />
	<result property="name"			    column="name" />
	<result property="mobilenum"	    column="mobilenum" />
	<result property="firstClass"	    column="first_class" />
	<result property="secondClass"		column="second_class"  />
	<result property="realname"	        column="realname" />
</resultMap>

 <sql id="Base_Table">
    
    t_sycee_goods tsg 
	inner join  t_sycee_exchange tse
	on tsg.id=tse.sycee_goods_id
	inner join rocky_member rm
	on tse.user_id=rm.ID
	inner join rocky_mobile_appro rma
	on rm.ID=rma.USER_ID
    left join rocky_realname_appro rra
  on rma.USER_ID=rra.USER_ID
 
 </sql>
 <sql id="Base_Column_Cnd">
   <where>
     <if test="realname!=null and realname!='' ">
          rm.username like CONCAT(trim(#{realname}), '%' )
     </if>    
     <if test="name!=null and name!='' ">
          and tsg.name like CONCAT(trim(#{name}), '%' )
     </if>
     <if test="dealStatus!=null and dealStatus!='' ">
          and tse.deal_status=#{dealStatus}
     </if>
     <if test="exchangeEnd!=null and exchangeEnd!='' ">
          and UNIX_TIMESTAMP(tse.exchange_time)  <![CDATA[<=]]> UNIX_TIMESTAMP(CONCAT(#{exchangeEnd},' 23:59:59'))
     </if>
     <if test="exchangeStart!=null and exchangeStart!='' ">
         and  UNIX_TIMESTAMP(tse.exchange_time)  <![CDATA[>=]]> UNIX_TIMESTAMP(CONCAT(#{exchangeStart},' 00:00:00'))
     </if>
   </where>
 </sql>
  <!-- 统计所有商品数量 -->
 <select id="countSyceeExchange" parameterType="com.cxdai.console.sycee.vo.SyceeExchangeCnd" resultType="java.lang.Integer">
		select count(*) from   
		<include refid="Base_Table"/>
		<include refid="Base_Column_Cnd"/>
 </select>
 <!-- 查询所有商品 -->	
 <select id="querySyceeExchange" resultMap="BaseResultMap" parameterType="com.cxdai.console.sycee.vo.SyceeExchangeCnd">
    select tse.id,tse.exchange_time,tse.deal_time,tse.deal_username,tse.num,
    tse.deal_remark,tse.deal_status,rm.username,rma.mobilenum,tsg.name,
    tsg.first_class,tsg.second_class,tsg.remark as goodsRemark,rra.realname 
    from 
    <include refid="Base_Table"/>
    
    <include refid="Base_Column_Cnd"/>
    order by tse.id desc
 </select>
 <!-- 根据兑换id查询对应记录 -->
 <select id="getSyceeExchangeById" resultType="com.cxdai.console.sycee.vo.SyceeExchangeVo" parameterType="java.lang.Integer">
		 SELECT
			tsg.`name`,
			tsg.first_class as firstClass,
			tsg.second_class as secondClass,
			tsg.show_flag as showFlag,
			tsg.remark as goodsRemark,
			tsg.money,
			tse.num,
			tse.sycee,
			tse.price,
			tse.user_id as userId,
			tse.exchange_time as exchangeTime,
			rm.username,
			rma.mobilenum,
			tse.deal_remark as dealRemark,
			rra.realname 
		 FROM
			<include refid="Base_Table"/>
		 where tse.id = #{id,jdbcType=INTEGER}
 </select>
 <sql id="Base_Column" >
    id, sycee_goods_id, user_id, sycee, exchange_time, deal_status, deal_user, deal_username, 
    deal_time, deal_remark, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column" />
    from t_sycee_exchange
    where id = #{id,jdbcType=INTEGER}
  </select>
<update id="updateByPrimaryKeySelective" parameterType="com.cxdai.console.sycee.entity.SyceeExchange" >
    update t_sycee_exchange
    <set >
      <if test="syceeGoodsId != null" >
        sycee_goods_id = #{syceeGoodsId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="sycee != null" >
        sycee = #{sycee,jdbcType=INTEGER},
      </if>
      <if test="exchangeTime != null" >
        exchange_time = #{exchangeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealStatus != null" >
        deal_status = #{dealStatus,jdbcType=INTEGER},
      </if>
      <if test="dealUser != null" >
        deal_user = #{dealUser,jdbcType=INTEGER},
      </if>
      <if test="dealUsername != null" >
        deal_username = #{dealUsername,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealRemark != null" >
        deal_remark = #{dealRemark,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>