<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.account.recharge.mapper.BaseAccountMapper">
	
	<!-- 结果集 -->
	<resultMap type="com.cxdai.console.account.recharge.entity.Account" id="accountResultMap">
		<id property="id" column="id" />
		<result property="userId" 					column="USER_ID" />
		<result property="total" 					column="TOTAL" />
		<result property="useMoney" 				column="USE_MONEY" />
		<result property="noUseMoney" 				column="NO_USE_MONEY" />
		<result property="collection"	    		column="COLLECTION" />
		<result property="netvalue"  				column="NETVALUE" />
		<result property="firstBorrowUseMoney" 		column="FIRST_BORROW_USE_MONEY" />
		<result property="version"					column="VERSION"/>
		<result property="drawMoney"				column="DRAW_MONEY"/>
		<result property="noDrawMoney" 				column="NO_DRAW_MONEY"/>
	</resultMap>
	
	<!--基本列 -->
	<sql id="accountBaseColumn">
		a.ID, 
		a.USER_ID, 
		a.TOTAL, 
		a.USE_MONEY, 
		a.NO_USE_MONEY, 
		a.COLLECTION, 
		a.NETVALUE, 
		a.FIRST_BORROW_USE_MONEY,
		a.DRAW_MONEY,
		a.NO_DRAW_MONEY,
		a.VERSION
	</sql>
	
	<!-- 插入记录，返回主键 -->
	<insert id="insertEntity" parameterType="com.cxdai.console.account.recharge.entity.Account">
		INSERT INTO rocky_account 
		(USER_ID,	TOTAL,	USE_MONEY,	NO_USE_MONEY,	COLLECTION,	NETVALUE,	FIRST_BORROW_USE_MONEY,VERSION	)
		VALUES
		(#{userId},#{total},#{useMoney},#{noUseMoney},	#{collection},#{netvalue},#{firstBorrowUseMoney},#{version})
		
 		 <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
      	    SELECT LAST_INSERT_ID() AS ID    
   		 </selectKey>
	</insert>
	
  	<!-- 根据ID查询 -->
	<select id="queryById" parameterType="java.lang.Integer" resultMap="accountResultMap" >
		select 	
		   <include refid="accountBaseColumn"/>
		from
			rocky_account a
		where 1=1
		and a.id=#{id}
  	</select>
  	
  	<!-- 根据ID查询 -->
	<select id="queryByUserIdForUpdate" parameterType="java.lang.Integer" resultMap="accountResultMap" >
		select 	
		   <include refid="accountBaseColumn"/>
		from
			rocky_account a
		where 1=1
		and a.user_id=#{userId}
		FOR UPDATE
  	</select>
	
  <!-- 更新-->
  <update id="updateEntity" parameterType="com.cxdai.console.account.recharge.entity.Account" >
    update rocky_account
    <set >
      <if test="total != null" >
        TOTAL = #{total},
      </if>
      <if test="useMoney != null" >
        USE_MONEY = #{useMoney},
      </if>
      <if test="noUseMoney != null" >
        NO_USE_MONEY = #{noUseMoney},
      </if>
      <if test="collection != null" >
        COLLECTION = #{collection},
      </if>
      <if test="netvalue != null" >
        NETVALUE = #{netvalue},
      </if>
      <if test="drawMoney != null" >
        DRAW_MONEY = #{drawMoney},
      </if>
       <if test="noDrawMoney != null" >
        NO_DRAW_MONEY = #{noDrawMoney},
      </if>
      <if test="firstBorrowUseMoney != null" >
        FIRST_BORROW_USE_MONEY = #{firstBorrowUseMoney},
      </if>           
      <if test="version != null" >
        VERSION = #{version},
      </if>                                               
    </set>
    where ID = #{id}
    <if test="selfVersion != null">
       and VERSION = #{selfVersion}
    </if>
  </update>
  
   <!-- 更新-->
  <update id="updateAccount" parameterType="com.cxdai.console.statistics.account.entity.Account" >
    update rocky_account
    <set >
      <if test="total != null" >
        TOTAL = #{total},
      </if>
      <if test="useMoney != null" >
        USE_MONEY = #{useMoney},
      </if>
      <if test="noUseMoney != null" >
        NO_USE_MONEY = #{noUseMoney},
      </if>
      <if test="collection != null" >
        COLLECTION = #{collection},
      </if>
      <if test="netvalue != null" >
        NETVALUE = #{netvalue},
      </if>
      <if test="drawMoney != null" >
        DRAW_MONEY = #{drawMoney},
      </if>
       <if test="noDrawMoney != null" >
        NO_DRAW_MONEY = #{noDrawMoney},
      </if>
      <if test="firstBorrowUseMoney != null" >
        FIRST_BORROW_USE_MONEY = #{firstBorrowUseMoney},
      </if>           
      <if test="version != null" >
        VERSION = #{version},
      </if> 
      <if test="eUseMoney != null">
        e_use_money=#{eUseMoney},
      </if>   
      <if test="eFreezeMoney != null">
        e_freeze_money=#{eFreezeMoney},
      </if>  
      <if test="eCollection != null">
        e_collection=#{eCollection},
      </if>                                              
    </set>
    where ID = #{id}
    <if test="selfVersion != null">
       and VERSION = #{selfVersion}
    </if>
  </update>
  	
</mapper>  