<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cxdai.console.borrow.approve.mapper.BorrowMapper">
	
	<!-- 借款标审核返回map -->
	<resultMap id="checkBorrowMap" type="com.cxdai.console.borrow.approve.vo.CheckBorrowVo">
		<result column="ID" 				property="id"  />
		<result column="NAME" 				property="name" />
		<result column="BORROWTYPE"			property="borrowType"  />
		<result column="USER_ID" 			property="userId"/>
		<result column="REPAYMENT_ACCOUNT"  property="account" />
		<result column="APR" 				property="apr" />
		<result column="STYLE"				property="style" />
		<result column="VALID_TIME"			property="validTime" />
		<result column="ADDTIME" 			property="addTime" />
		<result column="TIMING_BORROW_TIME" property="timingBorrowTime" />
		<result column="credit_rating" 		property="creditRating" />
		<result column="TIME_LIMIT" 		property="timeLimit"  />
		<result column="PLEDGE_TYPE" 		property="pledgeType"  />
		<result column="is_custody" 		property="isCustody"/>
	</resultMap>
	
	<!-- 借款标基本结果集 -->
	<resultMap id="borrowVoResultMap" type="com.cxdai.console.borrow.approve.vo.BorrowVo">
		<id column="ID" 						property="id"/>
		<result column="USER_ID" 				property="userId" />
		<result column="NAME" 					property="name" />
		<result column="STATUS" 				property="status" />
		<result column="APPRSTATUS"				property="apprstatus" />
		<result column="ORDER" 				    property="order" />
		<result column="BORROWTYPE" 			property="borrowtype" />
		<result column="REPAYMENT_ACCOUNT"		property="repaymentAccount"	/>
		<result column="MONTHLY_REPAYMENT" 		property="monthlyRepayment" />
		<result column="REPAYMENT_YESACCOUNT" 	property="repaymentYesaccount"/>
		<result column="REPAYMENT_YESINTEREST" 	property="repaymentYesinterest" />
		<result column="SUCCESS_TIME" 			property="successTime" />
		<result column="END_TIME" 				property="endTime" />
		<result column="USE" 					property="use"  />
		<result column="TIME_LIMIT" 			property="timeLimit"  />
		<result column="STYLE" 					property="style" />
		<result column="ACCOUNT" 				property="account"  />
		<result column="ACCOUNT_YES" 			property="accountYes"  />
		<result column="TENDER_TIMES" 			property="tenderTimes" />
		<result column="APR" 					property="apr"  />
		<result column="LOWEST_ACCOUNT"			property="lowestAccount" />
		<result column="MOST_ACCOUNT" 			property="mostAccount"  />
		<result column="VALID_TIME" 			property="validTime" />
		<result column="AWARD" 					property="award" />
		<result column="FUNDS" 					property="funds" />
		<result column="CONTENT" 				property="content" />
		<result column="SENDMESSAGE" 			property="sendmessage"  />
		<result column="ADDTIME" 				property="addtime" />
		<result column="ADDIP" 					property="addip"  />
		<result column="CANCEL_USER" 			property="cancelUser"  />
		<result column="CANCEL_TIME" 			property="cancelTime"  />
		<result column="CANCEL_REMARK" 			property="cancelRemark" />
		<result column="UUID" 					property="uuid" />
		<result column="CONTRACT_NO" 			property="contractNo"  />
		<result column="BID_PASSWORD" 			property="bidPassword" />
		<result column="IS_AUTOTENDER" 			property="isAutotender"/>
		<result column="REMARK" 				property="remark" />
		<result column="PLEDGE_TYPE" 			property="pledgeType"  />
		<result column="TIMING_BORROW_TIME"		property="timingBorrowTime" />
		<result column="PUBLISH_TIME" 			property="publishTime" />
		<result column="IS_MORTGAGE" 			property="isMortgage" />
		<result column="MORTGAGE_TYPE" 			property="mortgageType" />
		<result column="IS_GUARANTY" 			property="isGuaranty" />
		<result column="GUARANTY_ORGANIZATION" 	property="guarantyOrganization" />
		<result column="IS_JOINT_GUARANTY" 		property="isJointGuaranty" />
		<result column="JOINT_GUARANTY" 		property="jointGuaranty" />
		<result column="BORROW_USE" 			property="borrowUse" />
		<result column="product_type" 			property="productType" />
		<result column="credit_rating" 			property="creditRating" />
		<result column="PLATFORM" 				property="platform" />
		<result column="AREA_TYPE" 				property="areaType" />
		<result column="AREA_CHANGE_TIME" 		property="areaChangeTime" />
		<result column="username" 				property="userName" />
		<result column="is_custody" 			property="isCustody"/>
		<result column="IS_CHECK" 				property="isCheck"/>
		<result column="E_ProjectId" 			property="eProjectId"/>
		<result column="RepayName" 				property="repayName"  />
        <result column="RepayAcct" 				property="repayAcct" />
		<result column="e_advance" 				property="advance"/>
	</resultMap>
	
		<!--借款标基本列 -->
	<sql id="borrowVoColumn">
		b.ID,
		b.USER_ID,
		b.NAME,
		b.STATUS,
		b.APPRSTATUS,
		b.ORDER,
		b.BORROWTYPE,
		b.REPAYMENT_ACCOUNT,
		b.MONTHLY_REPAYMENT,
		b.REPAYMENT_YESACCOUNT,
		b.REPAYMENT_YESINTEREST,
		b.SUCCESS_TIME,
		b.END_TIME,
		b.USE,
		b.TIME_LIMIT,
		b.STYLE,
		b.ACCOUNT,
		b.ACCOUNT_YES,
		b.TENDER_TIMES,
		b.APR,
		b.LOWEST_ACCOUNT,
		b.MOST_ACCOUNT,
		b.VALID_TIME,
		b.AWARD,
		b.FUNDS,
		b.CONTENT,
		b.SENDMESSAGE,
		b.ADDTIME,
		b.ADDIP,
		b.CANCEL_USER,
		b.CANCEL_TIME,
		b.CANCEL_REMARK,
		b.UUID,
		b.CONTRACT_NO,
		b.BID_PASSWORD,
		b.IS_AUTOTENDER,
		b.REMARK,
		b.PLEDGE_TYPE,
		b.TIMING_BORROW_TIME,
		b.PUBLISH_TIME,
		b.IS_MORTGAGE,
		b.MORTGAGE_TYPE,
		b.IS_GUARANTY,
		b.GUARANTY_ORGANIZATION,
		b.IS_JOINT_GUARANTY,
		b.JOINT_GUARANTY,
		b.BORROW_USE,
		b.product_type,
		b.credit_rating,
		b.PLATFORM,
		b.AREA_TYPE,
		b.AREA_CHANGE_TIME,
		b.is_custody,
		b.IS_CHECK,
		b.E_ProjectId,
		b.RepayName,
		b.RepayAcct,
		b.e_advance
	</sql>
	
		<!-- 还款引发债权转让撤销-->
	<select id="transferCancelByRepay"  	statementType="CALLABLE"   parameterType="java.util.Map"  resultType="java.lang.String" >
      <![CDATA[   { call transferCancel(#{id},#{cancelUser},#{cancelIP},#{cancelRemark},#{transferStatus},#{msg,mode=OUT,jdbcType=VARCHAR}) }   ]]>
    </select>
    
	<!-- 调用还款存储过程 -->
	<select id="repayBorrow" parameterType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call repay_normal (
		    #{borrowid,mode=IN,jdbcType=INTEGER}, 
		    #{repaymentid,mode=IN,jdbcType=INTEGER},
		    #{addip,mode=IN,jdbcType=VARCHAR},
		     #{platform,mode=IN,jdbcType=VARCHAR},
		    #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	
	<!-- 调用垫付后还款存储过程 -->
	<select id="afterWebpayBorrow" parameterType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call afterwebpay (
		    #{repaymentid,mode=IN,jdbcType=INTEGER}, 
		    #{addip,mode=IN,jdbcType=VARCHAR},
		    #{platform,mode=IN,jdbcType=VARCHAR},
		    #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	<!-- 调用提前还款存储过程 -->
	<select id="repayEarlyBorrow" parameterType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call repay_early (
		    #{borrowid,mode=IN,jdbcType=INTEGER}, 
		    #{repaymentid,mode=IN,jdbcType=INTEGER},
		    #{addip,mode=IN,jdbcType=VARCHAR},
		    #{platform,mode=IN,jdbcType=VARCHAR},
		    #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	
		<!-- 根据借款标id查询投标总额 -->
	<select id="queryTenderTotalByBorrowId" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
		SELECT IFNULL(SUM(ACCOUNT),0) FROM rocky_b_tenderrecord
		WHERE BORROW_ID = #{borrowId}
	</select>
	
	<!--根据id更新借款标状态和审核状态-->
  <update id="updateBorrowStatusById" parameterType="com.cxdai.console.base.entity.Borrow" >
    update rocky_borrow
    <set >
      <if test="status != null" >
        STATUS = #{status},
      </if>
      <if test="apprstatus != null" >
        APPRSTATUS = #{apprstatus},
      </if> 
      <if test="publishTime != null" >
        PUBLISH_TIME = #{publishTime},
      </if> 
      <if test="isAutotender != null" >
        IS_AUTOTENDER = #{isAutotender},
      </if> 
      <if test="creditRating != null and creditRating !=''" >
        credit_rating = #{creditRating},
      </if>
      
       <if test="isCustodyStr != null and isCustodyStr !=''" >
        is_custody = #{isCustodyStr},
      </if>  
       <if test="isCheck != null and isCheck !=''" >
        IS_CHECK = #{isCheck},
      </if>  
       <if test="eProjectId != null and eProjectId !=''" >
        E_ProjectId = #{eProjectId},
      </if>  
       <if test="repayName != null and repayName !=''" >
        RepayName = #{repayName},
      </if>  
       <if test="repayAcct != null and repayAcct !=''" >
        RepayAcct = #{repayAcct},
      </if>  
                  
    </set>
    where ID = #{id}
  </update>	
	<!-- 根据id查询借款标 -->
	<select id="selectByPrimaryKey" resultMap="borrowVoResultMap"
		parameterType="java.lang.Integer">
		select 
		<include refid="borrowVoColumn" />
		from rocky_borrow b
		where b.ID = #{id,jdbcType=INTEGER}
	</select>
	
	<!-- 借款标关联用户返回结果集 -->
	<resultMap type="com.cxdai.console.borrow.approve.vo.BorrowVo" id="borrowMemberResultMap" extends="borrowVoResultMap">
		<result column="USERNAME" 				property="userName"/>
	</resultMap>
	
	  	<!--查询条件  -->
 	<sql id="where_manager">
		  <if test="name != null and name != ''"> 
			and b.name like CONCAT( '%' ,#{name}, '%' )
	  	</if>  
		<if test="userName != null and userName != ''">
			and m.username like CONCAT( '%' ,#{userName}, '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.CONTRACT_NO like CONCAT( '%' ,#{contractNo}, '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="userId != null and userId != ''">
			and b.USER_ID = #{userId}
		</if>
		
	</sql>
	
	
	<!-- 查询初审标 集合-->
	<select id="selectFirstcheckBorrow" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultMap="checkBorrowMap">
 
			SELECT
				b.ID,
				b.`NAME`,
				b.BORROWTYPE,
				b.USER_ID,
				b.ACCOUNT,
				b.APR,
				b.STYLE,
				b.ADDTIME,
				b.VALID_TIME,
				b.TIME_LIMIT,
				b.TIMING_BORROW_TIME,
				b.PLEDGE_TYPE,
				m.USERNAME,
				b.is_custody
				
			from rocky_borrow b,rocky_borrow_approved a ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
			and b.USER_ID= m.id
			and b.`STATUS`= 1 
			and b.APPRSTATUS = 0 
			and a.`STATUS`=0
		<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
			<include refid="where_manager"/>
	 
		
	</select>
	
	  	<!-- 查询初审标数量-->
	<select id="selectFirstcheckBorrowCount" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultType="java.lang.Integer" >
			SELECT
			count(*)
			from rocky_borrow b,rocky_borrow_approved a ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
			and b.USER_ID= m.id
			and b.`STATUS`= 1 
			and b.APPRSTATUS = 0 
			and a.`STATUS`=0
			<include refid="where_manager"/>
			<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
	 			
  	</select>
  	
  	<!-- 查询反欺诈标集合 -->
  	<select id="selectAntiFraudCheckBorrow" resultMap="checkBorrowMap">
 
			SELECT
				b.ID,
				b.`NAME`,
				b.BORROWTYPE,
				b.USER_ID,
				b.ACCOUNT,
				b.APR,
				b.STYLE,
				b.ADDTIME,
				b.VALID_TIME,
				b.TIMING_BORROW_TIME,
				b.credit_rating,
				b.TIME_LIMIT,
				b.PLEDGE_TYPE,
				m.username,
				b.is_custody
			from rocky_borrow b,rocky_borrow_approved a ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
			and b.`STATUS`= 1 
			and b.APPRSTATUS = 1 
			and a.`STATUS`=1
			and b.user_id=m.id
	   		<include refid="where_manager"/>
	   		<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
	</select>
	
	<!-- 查询反欺诈标数量-->
	<select id="selectAntiFraudCheckBorrowCount" resultType="java.lang.Integer" >
			SELECT
			 count(*)
			from rocky_borrow b,rocky_borrow_approved a ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
			and b.`STATUS`= 1 
			and b.APPRSTATUS = 1 
			and a.`STATUS`=1
			and b.user_id=m.id
	   		<include refid="where_manager"/>
	   		<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
  	</select>
	
  	<!-- 查询终审标集合 -->
	<select id="selectFinalCheckBorrow" resultMap="checkBorrowMap">
		 
			SELECT
				b.ID,
				b.`NAME`,
				b.BORROWTYPE,
				b.USER_ID,
				b.ACCOUNT,
				b.APR,
				b.STYLE,
				b.ADDTIME,
				b.VALID_TIME,
				b.TIMING_BORROW_TIME,
				b.credit_rating,
				b.TIME_LIMIT,
				b.PLEDGE_TYPE,
				m.username,
				b.is_custody
			from rocky_borrow b,rocky_borrow_approved a ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
		    and b.`STATUS`= 1 
		    and b.APPRSTATUS = 2 
		    and a.`STATUS`=2
		    and b.user_id=m.id
		 <include refid="where_manager"/>
		 <if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
	</select>  	
	
	<!-- 查询终审标数量-->
	<select id="selectFinalCheckBorrowCount" resultType="java.lang.Integer" >
			SELECT
			count(*)
			from rocky_borrow b,rocky_borrow_approved a ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
		    and b.`STATUS`= 1 
		    and b.APPRSTATUS = 2 
		    and a.`STATUS`=2
		    and b.user_id=m.id
		 <include refid="where_manager"/>
		 <if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
  	</select>
  	
  	<!-- 查询复审标集合 -->
  	<select id="selectReCheckBorrow" resultMap="checkBorrowMap">
		 
			SELECT
				b.ID,
				b.`NAME`,
				b.BORROWTYPE,
				b.USER_ID,
				b.ACCOUNT,
				b.APR,
				b.STYLE,
				b.ADDTIME,
				b.VALID_TIME,
				b.TIMING_BORROW_TIME,
				b.credit_rating,
				b.TIME_LIMIT,
				b.PLEDGE_TYPE,
				m.username,
				b.is_custody
			from rocky_borrow b,rocky_borrow_approved a  ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
			and b.`STATUS`= 3 
			and b.APPRSTATUS = 3 
			and a.`STATUS`=3
			 and b.user_id=m.id
		  <include refid="where_manager"/>
	</select>

	<!-- 查询复审标数量-->
	<select id="selectReCheckBorrowCount" resultType="java.lang.Integer" >
		SELECT
			 count(*)
			from rocky_borrow b,rocky_borrow_approved a  ,rocky_member m
			where 1=1
			and b.ID = a.BORROW_ID
			and b.`STATUS`= 3 
			and b.APPRSTATUS = 3 
			and a.`STATUS`=3
			 and b.user_id=m.id
		  <include refid="where_manager"/>
  	</select>	
  	
  	<!-- 查询所有借款标集合 -->
  	<select id="selectAllBorrow" resultMap="borrowMemberResultMap">
		SELECT 
			m.USERNAME,
			<include refid="borrowVoColumn" /> 
		FROM rocky_borrow b 
		LEFT JOIN rocky_member m ON b.USER_ID = m.ID
	</select>
	
	<!-- 查询所有借款标数量-->
	<select id="selectAllBorrowCount" resultType="java.lang.Integer" >
		SELECT
			count(b.ID)
		from rocky_borrow b
  	</select>	
  	
	<!-- 还款中和还款结束的借款标列表 -->
	<select id="queryBorrowListForRepay" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultMap="borrowMemberResultMap">
		SELECT
			m.USERNAME,
			<include refid="borrowVoColumn" />
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID AND b.`STATUS` in(4,42,5)
		<if test="name != null and name != ''">
			and b.name like CONCAT(trim(#{name}), '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(trim(#{userName}), '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.CONTRACT_NO like CONCAT(trim(#{contractNo}), '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="successTimeBeginStr != null and successTimeBeginStr != ''">
			and b.SUCCESS_TIME >= #{successTimeBeginStr}
		</if>
		<if test="successTimeEndStr != null and successTimeEndStr != ''">
			and b.SUCCESS_TIME >= #{successTimeEndStr}
		</if>
		<if test="isCustody!=null and isCustody!='' and isCustody==0">
	  		and (b.is_custody=0 or b.is_custody is null)
	  	</if>
	  	<if test="isCustody!=null and isCustody!='' and isCustody==1">
	  		and b.is_custody=1
	  	</if>  
		ORDER BY FIELD(b.BORROWTYPE,2,1,3,4),b.success_time desc
	</select>  	
	
	<!-- 还款中和还款结束的借款标列表数量 -->
	<select id="queryBorrowCountForRepay" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultType="java.lang.Integer">
		SELECT COUNT(*) FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID AND b.`STATUS` in(4,42,5)
		<if test="name != null and name != ''">
			and b.name like CONCAT(trim(#{name}), '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(trim(#{userName}), '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.CONTRACT_NO like CONCAT(trim(#{contractNo}), '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="successTimeBeginStr != null and successTimeBeginStr != ''">
			and b.SUCCESS_TIME >= #{successTimeBeginStr}
		</if>
		<if test="successTimeEndStr != null and successTimeEndStr != ''">
			and b.SUCCESS_TIME >= #{successTimeEndStr}
		</if>
	</select>
	
	<!-- 根据id更新借款标 -->
	<update id="updateByPrimaryKey" parameterType="com.cxdai.console.base.entity.Borrow">
		update rocky_borrow
		<set>
		USER_ID = #{userId,jdbcType=INTEGER},
		NAME = #{name,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=INTEGER},
		APPRSTATUS = #{apprstatus,jdbcType=INTEGER},
		`ORDER` = #{order,jdbcType=INTEGER},
		BORROWTYPE = #{borrowtype,jdbcType=INTEGER},
		REPAYMENT_ACCOUNT = #{repaymentAccount,jdbcType=DECIMAL},
		MONTHLY_REPAYMENT = #{monthlyRepayment,jdbcType=DECIMAL},
		REPAYMENT_YESACCOUNT = #{repaymentYesaccount,jdbcType=DECIMAL},
		REPAYMENT_YESINTEREST = #{repaymentYesinterest,jdbcType=DECIMAL},
		SUCCESS_TIME = #{successTime},
		END_TIME = #{endTime},
		`USE` = #{use,jdbcType=VARCHAR},
		TIME_LIMIT = #{timeLimit,jdbcType=INTEGER},
		STYLE = #{style,jdbcType=INTEGER},
		ACCOUNT = #{account,jdbcType=DECIMAL},
		ACCOUNT_YES = #{accountYes,jdbcType=DECIMAL},
		TENDER_TIMES = #{tenderTimes,jdbcType=INTEGER},
		APR = #{apr,jdbcType=DECIMAL},
		LOWEST_ACCOUNT = #{lowestAccount,jdbcType=DECIMAL},
		MOST_ACCOUNT = #{mostAccount,jdbcType=DECIMAL},
		VALID_TIME = #{validTime,jdbcType=INTEGER},
		AWARD = #{award,jdbcType=INTEGER},
		FUNDS = #{funds,jdbcType=DECIMAL},
		CONTENT = #{content,jdbcType=VARCHAR},
		SENDMESSAGE = #{sendmessage,jdbcType=INTEGER},
		ADDTIME = #{addtime},
		ADDIP = #{addip,jdbcType=VARCHAR},
		CANCEL_USER = #{cancelUser,jdbcType=INTEGER},
		CANCEL_TIME = #{cancelTime,jdbcType=VARCHAR},
		CANCEL_REMARK = #{cancelRemark,jdbcType=VARCHAR},
		UUID = #{uuid,jdbcType=VARCHAR},
		CONTRACT_NO = #{contractNo,jdbcType=VARCHAR},
		BID_PASSWORD = #{bidPassword,jdbcType=VARCHAR},
		IS_AUTOTENDER = #{isAutotender,jdbcType=INTEGER},
		REMARK = #{remark,jdbcType=VARCHAR},
		PLEDGE_TYPE = #{pledgeType,jdbcType=INTEGER},
		TIMING_BORROW_TIME = #{timingBorrowTime,jdbcType=VARCHAR},
		PUBLISH_TIME = #{publishTime,jdbcType=VARCHAR},
		credit_rating = #{creditRating,jdbcType=VARCHAR},
		AREA_TYPE = #{areaType,jdbcType=INTEGER},
		AREA_CHANGE_TIME = #{areaChangeTime},
		is_custody=#{isCustody},
		IS_CHECK=#{isCheck},
		E_ProjectId=#{eProjectId},
		RepayName=#{repayName},
		RepayAcct=#{repayAcct}
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	
	<!-- 根据id查询借款标 -->
	<select id="selectByPrimaryKeyForUpdate" resultMap="borrowVoResultMap"
		parameterType="java.lang.Integer">
		select 
		<include refid="borrowVoColumn" />
		from rocky_borrow b
		where b.ID = #{id,jdbcType=INTEGER}
		for update
	</select>
	

	<!-- 调用垫付存储过程 -->
	<select id="webpayBorrow" parameterType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call webpay (
		    #{repaymentid,mode=IN,jdbcType=INTEGER},
		    #{addip,mode=IN,jdbcType=VARCHAR},
		    #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	
	
	<!-- 查询需要继续自动投标的借款标列表 -->
	<select id="queryBorrowListForRestartAutoTender" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultMap="borrowMemberResultMap">
		SELECT
			m.USERNAME,
			<include refid="borrowVoColumn" />
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2 AND b.IS_AUTOTENDER = 1
		AND b.AREA_TYPE = 0
		<if test="name != null and name != ''">
			and b.name like CONCAT(#{name}, '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(#{userName}, '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.b.CONTRACT_NO like CONCAT(#{contractNo}, '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
	</select> 
	
	<!-- 查询需要继续自动投标的借款标列表数量 -->
	<select id="queryBorrowCountForRestartAutoTender" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2 AND b.IS_AUTOTENDER = 1
		AND b.AREA_TYPE = 0
		<if test="name != null and name != ''">
			and b.name like CONCAT(#{name}, '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(#{userName}, '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.b.CONTRACT_NO like CONCAT(#{contractNo}, '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
	</select>	
	
	<!-- 调用撤标存储过程 -->
	<select id="cancelBorrow" parameterType="java.util.Map" resultType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call cancel_borrow(
		    	#{borrowid,mode=IN,jdbcType=INTEGER},
		    	#{type,mode=IN,jdbcType=INTEGER},
				#{addip,mode=IN,jdbcType=VARCHAR},
				#{platform,mode=IN,jdbcType=VARCHAR},		    	
		        #{msg,mode=OUT,jdbcType=VARCHAR}
		     )}  
		]]>
	</select>
	
	<!-- 查询投标中的借款标-->
	<select id="querTenderBorrowList" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultMap="borrowMemberResultMap">
		SELECT
			m.USERNAME,
			<include refid="borrowVoColumn" />
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2
		<if test="name != null and name != ''">
			and b.name like CONCAT(#{name}, '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(#{userName}, '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.b.CONTRACT_NO like CONCAT(#{contractNo}, '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="areaType != null and areaType != ''">
			and b.AREA_TYPE = #{areaType}
		</if>
		<if test="isCustody!=null and isCustody!=''">
			and b.is_custody=#{isCustody}
		</if>
	</select> 
	
	<!-- 查询投标中的借款标数量 -->
	<select id="querTenderBorrowCount" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2
		<if test="name != null and name != ''">
			and b.name like CONCAT(#{name}, '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(#{userName}, '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.b.CONTRACT_NO like CONCAT(#{contractNo}, '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="areaType != null and areaType != ''">
			and b.AREA_TYPE = #{areaType}
		</if>
		<if test="isCustody!=null and isCustody!=''">
			and b.is_custody=#{isCustody}
		</if>
	</select>
	
	<!-- 调用复审存储过程 -->
	<select id="approveBorrowReCheck" statementType="CALLABLE" parameterType="java.util.Map">  
		<![CDATA[  
		    {call recheck (
		    #{borrowid,mode=IN,jdbcType=INTEGER}, 
		    #{addip,mode=IN,jdbcType=VARCHAR},
		    #{checkUserId,mode=IN,jdbcType=INTEGER}, 
		    #{checkRemark,mode=IN,jdbcType=VARCHAR}, 
		    #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	
	<!-- 查询可以手动直通车投标的借款标列表 -->
	<select id="queryListForHandFirstTender" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultMap="borrowMemberResultMap">
		SELECT
			m.USERNAME,
			<include refid="borrowVoColumn" />
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2 AND b.BORROWTYPE in(1,2,5)
		AND b.AREA_TYPE = 0 AND (b.is_custody=0 or b.is_custody is null)
		<if test="name != null and name != ''">
			and b.name like CONCAT(trim(#{name}), '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(trim(#{userName}), '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.b.CONTRACT_NO like CONCAT(trim(#{contractNo}), '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
			<if test="accountStyle != null and accountStyle == 1">
			and b.ACCOUNT <![CDATA[ < ]]> 200000
		</if>
		<if test="accountStyle != null and accountStyle == 2">
			and b.ACCOUNT >= 200000
		</if>
	</select> 
	
	<!-- 查询可以手动直通车投标的借款标列表 数量 -->
	<select id="queryCountForHandFirstTender" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2 AND b.BORROWTYPE in(1,2,5)
		AND b.AREA_TYPE = 0 AND (b.is_custody=0 or b.is_custody is null)
		<if test="name != null and name != ''">
			and b.name like CONCAT(trim(#{name}), '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(trim(#{userName}), '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.b.CONTRACT_NO like CONCAT(trim(#{contractNo}), '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
		<if test="accountStyle != null and accountStyle == 1">
			and b.ACCOUNT <![CDATA[ < ]]> 200000
		</if>
		<if test="accountStyle != null and accountStyle == 2">
			and b.ACCOUNT >= 200000
		</if>
	</select>	
		<!-- 调用操作罚息存储过程 -->
	<select id="operatingPenalty" parameterType="java.util.Map"
		statementType="CALLABLE">  
		<![CDATA[  
		    {call operatingpenalty (
		    #{repaymentid,mode=IN,jdbcType=INTEGER},
		    #{addip,mode=IN,jdbcType=VARCHAR},
		    #{msg,mode=OUT,jdbcType=VARCHAR})}  
		]]>
	</select>
	
	<!-- 调用直通车转让撤销存储过程 -->
	<select id="cancelFirstTransfer" statementType="CALLABLE" parameterType="java.util.Map">  
		<![CDATA[  
		    {call first_transfercancel(#{borrowId,mode=IN,jdbcType=INTEGER}, #{userId,mode=IN,jdbcType=INTEGER}, #{userName,mode=IN,jdbcType=VARCHAR},#{addip,mode=IN,jdbcType=VARCHAR},#{remark,mode=IN,jdbcType=VARCHAR}, #{platform,mode=IN,jdbcType=INTEGER}, #{type,mode=IN,jdbcType=INTEGER}, #{status,mode=IN,jdbcType=INTEGER}, #{msg,mode=OUT,jdbcType=VARCHAR})}
		]]>
	</select>
	<!-- 查询可以手动定期宝投标的借款标列表 -->
	<select id="queryListForHandFixTender" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultMap="borrowMemberResultMap">
		SELECT
			m.USERNAME,
			<include refid="borrowVoColumn" />
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2 AND b.BORROWTYPE in(1,2,5)
		AND b.AREA_TYPE = 0 AND (b.is_custody=0 or b.is_custody is null)
		<if test="name != null and name != ''">
			and b.name like CONCAT(trim(#{name}), '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(trim(#{userName}), '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
	</select> 
	
	
	<!-- 查询可以手动直通车投标的借款标列表 数量 -->
	<select id="queryCountForHandFixTender" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd"
		resultType="java.lang.Integer">
		SELECT
			count(*)
		FROM rocky_borrow b, rocky_member m
		WHERE b.USER_ID = m.ID and b.`STATUS` = 2 AND b.BORROWTYPE in(1,2,5)
		AND b.AREA_TYPE = 0 AND (b.is_custody=0 or b.is_custody is null)
		<if test="name != null and name != ''">
			and b.name like CONCAT(trim(#{name}), '%' )
		</if>
		<if test="userName != null and userName != ''">
			and m.username like CONCAT(trim(#{userName}), '%' )
		</if>
		<if test="contractNo != null and contractNo != ''">
			and b.CONTRACT_NO like CONCAT(trim(#{contractNo}), '%' )
		</if>
		<if test="borrowtype != null and borrowtype != ''">
			and b.BORROWTYPE = #{borrowtype}
		</if>
	</select>
	<!-- 根据定时发布时间查询记录数量 -->
	<select id="queryBorrowByPublishTime" parameterType="java.util.Date"
		resultMap="borrowMemberResultMap">
		SELECT <include refid="borrowVoColumn" /> FROM rocky_borrow b WHERE `STATUS` > 0
		AND TIMING_BORROW_TIME IS NOT NULL AND TIMING_BORROW_TIME != ''
		AND FROM_UNIXTIME(TIMING_BORROW_TIME, '%Y-%m-%d %H:%i:%s') = DATE_FORMAT(#{date},'%Y-%m-%d %H:%i:%s')
		order by id desc limit 1
	</select>
	<!-- 查询有效借款标数量-->
	<select id="selectEffectiveBorrowListCount" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultType="java.lang.Integer" >
			SELECT
			count(*)
			from rocky_borrow b, rocky_member m
			where b.USER_ID= m.id and b.`STATUS` >= 0 
			<include refid="where_manager"/>
  	</select>
  	
  	<!-- 查询有效借款 集合-->
	<select id="selectEffectiveBorrowList" parameterType="com.cxdai.console.borrow.manage.vo.BorrowCnd" resultMap="borrowVoResultMap">
			SELECT
				<include refid="borrowVoColumn"/>,
				m.USERNAME as username
			from rocky_borrow b, rocky_member m
			where b.USER_ID= m.id
			and b.`STATUS` >= 0 
			<include refid="where_manager"/>
			order by b.status asc, b.id desc
	</select>	
	<!-- 根据合同编号查询 -->
	<select id="queryBorrowByContractNo" resultMap="borrowVoResultMap"
		parameterType="String">
		SELECT * FROM ROCKY_BORROW where contract_no = #{contractNo} and status >= 0
	</select>

	
	
	<!-- 根据项目id查询借款标，并锁定 -->
	<select id="selectByProjectIdForUpdate" resultMap="borrowVoResultMap"
		parameterType="java.lang.String">
		select 
		<include refid="borrowVoColumn" />
		from rocky_borrow b
		where b.E_ProjectId=#{eProjectId}
		for update
	</select>
	
	<!-- 查询投标记录已投总金额及记录数 -->
	<select id="findTenderrecordSum" parameterType="java.lang.Integer" resultType="com.cxdai.console.borrow.check.vo.BorrowCheckVo">
	  select sum(ACCOUNT) as account,count(id) as count from rocky_b_tenderrecord where BORROW_ID=#{borrowId}
	</select>
	


	<!-- 根据银行项目编号查询借款标信息 -->
	<select id="selectByProjectId" resultMap="borrowVoResultMap"
			parameterType="String">
		SELECT <include refid="borrowVoColumn"/>
		FROM ROCKY_BORROW b
		WHERE b.E_ProjectId = #{eProjectId} and b.status = 4
	</select>



	<update id="updateBorrowAccount" parameterType="com.cxdai.console.base.entity.Borrow">
	update rocky_borrow set ACCOUNT_YES=#{accountYes},ACCOUNT=#{account} where id=#{id}
	</update>
	
	<!-- 等额本息，每月待收总额 -->
	<select id="findCollectionAccount" resultType="java.math.BigDecimal">
	select ROUND((#{tenderAccount}*(#{apr}/100/12)*POW(#{apr}/100/12+1,#{timeLimit})/(POW(#{apr}/100/12+1,#{timeLimit})-1)),2)
	</select>

	<!-- 等额本息,每月待收利息 -->
	 <select id="getFqIns" resultType="java.math.BigDecimal" parameterType="java.util.Map">
  		<![CDATA[  
 	 	select getFqIns(#{tenderAccount},#{apr},#{timeFlag},#{collectionAccount}) from dual
 		 ]]>
  	</select>
  	
	 <select id="findRepayTime" resultType="java.lang.Integer">
  		select UNIX_TIMESTAMP(ADDDATE(FROM_UNIXTIME(#{successTime}),INTERVAL #{timeFlag} MONTH));
  	</select>
  	
  	<!-- 按天还款，预计还款时间 -->	
  	<select id="findDayRepayTime" resultType="java.lang.Integer">
  		select UNIX_TIMESTAMP(ADDDATE(FROM_UNIXTIME(#{successTime}),INTERVAL #{timeFlag} DAY));
  	</select> 
  	

    <!-- 根据银行项目编号查询借款标信息 -->
	<select id="queryByProjectId" resultMap="borrowVoResultMap"
			parameterType="String">
		SELECT <include refid="borrowVoColumn"/>
		FROM ROCKY_BORROW b
		WHERE b.E_ProjectId = #{projectId}
	</select>

<update id="updateBorrow" parameterType="com.cxdai.console.borrow.approve.vo.BorrowVo">
	update rocky_borrow 
	<set>
		<if test="advance!=null">
			e_advance=#{advance},
		</if>
		<if test="accountYes!=null">
		   ACCOUNT_YES=#{accountYes},
		</if>
		<if test="tenderTimes!=null and tenderTimes!=''">
			TENDER_TIMES=#{tenderTimes},
		</if>
		<if test="status!=null">
		  STATUS=#{status},
		</if>
		<if test="succount!=null">
		 	succount=#{succount},
		</if>
		<if test="sucsum!=null">
		  	sucsum=#{sucsum},
		</if>
		<if test="failcount!=null">
			failcount=#{failcount},
		</if>
		<if test="failsum!=null">
			failsum=#{failsum},
		</if>
		<if test="cancelRemark !=null and cancelUser !=null">
			CANCEL_TIME = unix_timestamp(),
		</if>
		<if test="cancelRemark !=null and cancelRemark!=''">
			CANCEL_REMARK=#{cancelRemark},
		</if>
		<if test="cancelUser !=null and cancelUser!=''">
			CANCEL_USER=#{cancelUser},
		</if>
	
	</set>
	  WHERE ID =#{id} 
	</update>
	
	
	<update id="updateBorrowAdvance" parameterType="com.cxdai.console.borrow.approve.vo.BorrowVo">
		update rocky_borrow set e_advance=#{advance} WHERE ID =#{id}
	</update>
	
	
	<update id="updateCGBorrowZS" parameterType="com.cxdai.console.borrow.approve.vo.BorrowVo">
	update rocky_borrow  set succount=#{succount},sucsum=#{sucsum},failcount=#{failcount},failsum=#{failsum} WHERE ID =#{id} 
	</update>
	
	
	<update id="updateCGBorrow" parameterType="com.cxdai.console.borrow.approve.vo.BorrowVo">
	UPDATE rocky_borrow SET ACCOUNT_YES = 0,`STATUS` = #{status},CANCEL_TIME = unix_timestamp(),CANCEL_USER = #{cancelUser}, CANCEL_REMARK = #{cancelRemark} WHERE id = #{id}
	</update>

	
		<insert id="insertBorrowAdvanceLog" parameterType="com.cxdai.console.base.entity.BorrowAdvanceLog">
		insert into rocky_borrow_advance_log
			(BORROW_ID, USER_ID, ACCOUNT, REAL_ACCOUNT, ADDTIME, ADDIP, OPERATOR_ID,PLATFORM,TYPE)
		values
			(#{borrowId}, #{userId}, #{account}, #{realAccount}, now(), #{addip}, #{operatorId},#{platform},#{type})
			
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">  
			select last_insert_id() as id
		</selectKey>
		</insert>
	
	<update id="updateBorrowStutusDay" parameterType="com.cxdai.console.borrow.approve.vo.BorrowVo">
	 UPDATE rocky_borrow SET STATUS = #{status},SUCCESS_TIME = UNIX_TIMESTAMP(DATE_ADD(CURRENT_TIMESTAMP(),INTERVAL 1 DAY)),END_TIME = UNIX_TIMESTAMP(DATE_ADD(CURRENT_TIMESTAMP(),INTERVAL #{timeLimit}+1 DAY))  WHERE ID =#{id}
	</update>
	
	<update id="updateBorrowStutus" parameterType="com.cxdai.console.borrow.approve.vo.BorrowVo">
	 UPDATE rocky_borrow SET STATUS = #{status},SUCCESS_TIME = UNIX_TIMESTAMP(DATE_ADD(CURRENT_TIMESTAMP(),INTERVAL 1 DAY)),END_TIME = UNIX_TIMESTAMP(DATE_ADD(DATE_ADD(CURRENT_TIMESTAMP(),INTERVAL 1 DAY),INTERVAL #{timeLimit} MONTH))  WHERE ID =#{id}
	</update>
	
	<select id="findTenderrecordInfoCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	select count(rbt.id)
		from rocky_b_tenderrecord rbt 
		left join e_bankinfo e on e.USER_ID=rbt.USER_ID  
		where rbt.BORROW_ID =#{borrowId} and rbt.E_INVEST_STATUS=0
	</select>
	
	<select id="findTenderrecordInfo" parameterType="java.lang.Integer" resultType="com.cxdai.console.borrow.approve.entity.InvestBorrow">
		select rbt.id as investBorrowId,rbt.ACCOUNT as investmentAmount,rbt.E_FREEZE_No as payNum,rbt.BIZ_INVEST_NO as p2pSerialNo,rbt.INTEREST as interestCapital,
		e.REALNAME as realname,e.CERTTYPE as certType,e.CERT_NO as certNo,e.BIND_NO as bindSerialNo
		from rocky_b_tenderrecord rbt 
		left join e_bankinfo e on e.USER_ID=rbt.USER_ID  
		where rbt.BORROW_ID =#{borrowId} and rbt.E_INVEST_STATUS=0
	</select>
	
</mapper>  